<app-department-header
  [departName]="translate.currentLang == 'ar' ? 'برنامج التداول و تحليل الأسواق المالية' : translate.currentLang == 'gr' ? 'Abteilung für Handel und Finanzmarktanalyse' : 'Department of Trading and Financial Market Analysis'"
  [departImg]="'assets/images/departments-icons/analysisDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى مركز 6 أكتوبر فى قسم التداول و تحليل الأسواق المالية إلى توفير
          مقومات التطوير المستمر للتعليم فى مجال التداول لمواكبة التطورات العلمية و التكنولوجية المتسارعة فى المجال، و
          الارتقاء بخريجي القسم إلى مستوى التميز و القدرة التنافسية العالية
          و يُقْصَدُ به القسم المنوظ بالعملية التدريبية الكاملة لطلاب التخصص و المسؤول عن إعداد و تخريج اختصاصى مهنى فى
          (تداول و تحليل الأسواق المالية) حسب المتطلبات المهنية الواردة في اللائحة</p>
        <p *ngIf="translate.currentLang == 'en'">6 of October Academy, in the Department of Trading and Financial Market Analysis, aspires to provide the elements for continuous educational development in the field of trading to keep pace with the rapid scientific and technological advancements in the field. The department aims to elevate its graduates to a level of excellence and highly competitive capability. The department is responsible for the complete training process for specialized students in Financial Markets Trading and Analysis, in accordance with the professional requirements specified in the regulations.</p>
        <p *ngIf="translate.currentLang == 'gr'">
          Die 6. Oktober-Akademie in der Abteilung für Handel und Finanzmarktanalyse ist bestrebt, die Elemente für eine kontinuierliche Bildungsentwicklung im Bereich Handel bereitzustellen, um mit den raschen wissenschaftlichen und technologischen Fortschritten auf diesem Gebiet Schritt zu halten. Ziel der Abteilung ist es, ihre Absolventen auf ein Niveau von Exzellenz und höchster Wettbewerbsfähigkeit zu bringen. Die Abteilung ist für den gesamten Ausbildungsprozess der Fachstudierenden im Bereich Finanzmarkthandel und -analyse gemäß den in der Verordnung festgelegten beruflichen Anforderungen verantwortlich.
        </p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في توظيف جميع خدمات التداول و تحليل الأسواق المالية
          لتقديم حلول متميزة فى المجال بغرض الالتزام بالمعايير و المستويات العالمية و مواكبة التقدم و التطور المالى
          العالمى و التركيز على متطلبات السوق الفنية- تقديم أفضل الممارسات المستمدة من المؤسسات المتخصصة ذات المستوى
          العالمي و الحفاظ عليها بالإضافة إلى نشر المهارات المتعلقة بها</p>
        <p *ngIf="translate.currentLang == 'en'">The mission of the department is to harness all services related to financial markets trading and analysis to provide outstanding solutions in the field. This is done with the aim of adhering to global standards and levels, staying updated with international financial advancements, and focusing on technical market requirements. The department is committed to delivering the best practices derived from world-class specialized institutions while promoting the associated skills.</p>
        <p *ngIf="translate.currentLang == 'gr'">Die Aufgabe der Abteilung besteht darin, alle Dienstleistungen im Zusammenhang mit dem Handel und der Analyse von Finanzmärkten zu nutzen, um herausragende Lösungen in diesem Bereich bereitzustellen. Dies geschieht mit dem Ziel, globale Standards und Niveaus einzuhalten, über internationale finanzielle Fortschritte auf dem Laufenden zu bleiben und sich auf technische Marktanforderungen zu konzentrieren. Die Abteilung ist bestrebt, die von erstklassigen Spezialinstitutionen abgeleiteten Best Practices bereitzustellen und gleichzeitig die damit verbundenen Fähigkeiten zu fördern.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/analysisDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/analysisDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد المتخصصين والمهنين فى مجال التداول و تحليل الأسواق المالية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية و منهجيات التطبيق بما يمكنهم من المنافسة
          العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال التداول و تحليل
          الأسواق المالية</p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات التداول و تحليل الأسواق المالية</p>
        <p *ngIf="translate.currentLang == 'ar'">الالتزام بمعايير جودة السلامة المهنية فى مجال التداول و تحليل الأسواق
          المالية</p>

        <p *ngIf="translate.currentLang == 'en'">To prepare specialists and professionals in the field of financial markets trading and analysis.</p>
        <p *ngIf="translate.currentLang == 'en'">To establish trainees on theoretical foundations and practical methodologies that enable them to compete globally. </p>
        <p *ngIf="translate.currentLang == 'en'">To equip trainees with the technical expertise required to keep pace with rapid developments in financial markets trading and analysis. </p>
        <p *ngIf="translate.currentLang == 'en'">To acquire skills in financial markets trading and analysis. </p>
        <p *ngIf="translate.currentLang == 'en'">To adhere to professional safety quality standards in the field of financial markets trading and analysis. </p>

        <p *ngIf="translate.currentLang == 'gr'">Vorbereitung von Spezialisten und Fachleuten auf dem Gebiet des Finanzmarkthandels und der Finanzmarktanalyse.</p>
        <p *ngIf="translate.currentLang == 'gr'">Den Auszubildenden theoretische Grundlagen und praktische Methoden vermitteln, die es ihnen ermöglichen, im globalen Wettbewerb zu bestehen.</p>
        <p *ngIf="translate.currentLang == 'gr'">Den Auszubildenden das technische Fachwissen vermitteln, das sie benötigen, um mit den rasanten Entwicklungen im Finanzmarkthandel und in der Finanzmarktanalyse Schritt zu halten.</p>
        <p *ngIf="translate.currentLang == 'gr'">Kenntnisse im Handel und in der Analyse von Finanzmärkten erwerben.</p>
        <p *ngIf="translate.currentLang == 'gr'">Einhaltung professioneller Sicherheitsstandards im Bereich des Finanzmarkthandels und der Finanzmarktanalyse.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة و المعيدين و
          المهندسين الأكفاء و ذوي خبرة عالية أكاديمياً و تدريبياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department comprises a teaching
          staff, including professors, teaching assistant, and competent engineers, all of whom possess extensive
          academic and training experience.</p>
        <p *ngIf="translate.currentLang == 'gr'">Die Abteilung besteht aus einem Lehrpersonal, darunter Professoren, Lehrassistenten und kompetenten Ingenieuren, die alle über umfangreiche akademische und Ausbildungserfahrung verfügen.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الفنية لفنى
          تداول و تحليل الأسواق المالية في كافة المنظمات العاملة في المجال و يكون ذو كفاء عالية و ملم بكافة متطلبات
          المجال
        </p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to qualify graduates to be capable of performing technical tasks as financial markets trading and analysis technicians in all organizations operating in the field. Graduates are expected to possess high competence and a comprehensive understanding of all field requirements. </p>
        <p *ngIf="translate.currentLang == 'gr'">Ziel der Abteilung ist es, die Absolventen zu qualifizieren, um technische Aufgaben als Finanzmarkthandels- und Analysetechniker in allen in diesem Bereich tätigen Organisationen wahrnehmen zu können. Von den Absolventen wird erwartet, dass sie über hohe Kompetenz und ein umfassendes Verständnis aller Fachanforderungen verfügen</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">The academic program spans two
          academic years, consisting of four semesters.</p>
        <p *ngIf="translate.currentLang == 'gr'">Das akademische Programm erstreckt sich über zwei Studienjahre, bestehend aus vier Semestern.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/analysisDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
