@import "../../abstracts/variables", "../../abstracts/mixins";
.header {
  // background-image: url('/assets/images/fsf.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  padding: 3em 0;
}
.mainTitle {
  display: inline-block;
  background: $mainGreenColor;
  color: #fff;
  padding: 10px 25px 10px 25px;
  font-size: $fontSize + 4;
  position: relative;
  .front-bubble, .back-bubble {
    background: transparent;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    border-width: 22px 22px 22px 22px;
    border-style: solid;
  }
}
.flex-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-academy {
  background-image: url('/assets/images/shapes/home-shape.png');
  background-size: 50% 100%;
  background-position: 50em -15em;
  background-repeat: no-repeat;
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // width: 75%;
    // margin: auto;
    gap: 3em;
    background: #fff;
    padding: 15px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 3px 6px rgb(0, 0, 0, 16%);
    button.tabLinks {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      padding: 10px 0;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .tabcontent {
    &#vision {
      .childTabs {
        display: flex;
        justify-content: center;
        gap: 3em;
        position: absolute;
        top: 1em;
        z-index: 3;
        width: 100%;
        button.ChildTabLinks {
          background: transparent;
          border: none;
          font-size: 22px;
          font-weight: 600;
        }
      }
      .childTabContents {
        .text {
          p, li {
            font-size: $fontSize + 4;
            line-height: 45px;
            color: #363636;
            font-weight: bold;
          }
          p { margin-bottom: 10px;}
        }
        .imgShape {
          padding: 0;
        }
        .img {
          display: flex;
          justify-content: flex-end;
          position: relative;
          img.shape {
            width: 80%;
          }
          img.contentImg {
            position: absolute;
            bottom: 5px;
            width: 85%;
          }
        }
        .greenP {
          color: $mainGreenColor !important;
          font-size: 20px !important;
        }
        &#equation {
          .text {
            display: flex;
            align-items: center;
            justify-content: center;
            img { width: 150px; }
          }
        }
        &#question {
          ul {
            list-style-image: url('/assets/images/icons/correct.svg');
          }
        }
      }
    }
    &#departments {
      .depart {
        background: $white;
        border-radius: 21px;
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 1em;
        margin-bottom: 1.5em;
        transition: all 0.5s;
        .img {
          width: 60px;
          height: 60px;
          background: #D7EEEA;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 21px;
          padding: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .info {
          a {
            font-size: 1.2rem;
            font-weight: 600;
            color: $mainGreenColor;
            text-decoration: none;
            cursor: pointer;
          }
          h6 {
            font-size: 0.9rem;
            color: $mainGreenColor;
          }
        }
        &:hover {
          background-color: $mainGreenColor;
          .info {
            a, h6 { color: $white; }
          }
        }
      }
    }
    &#acceptence {
      .row {
        margin-top: 3em;
        margin-bottom: 2em;
      }
      .requirement {
        background: #fff;
        border-radius: 25px;
        padding: 2em 2em 0.5em;
        margin: 0 1em 1em;
        min-height: 350px;
        .img {
          width: 70px;
          margin: auto;
          img { width: 100%; }
        }
        h5 {
          font-size: 1rem;
          margin: 15px 0;
          color: $mainGreenColor;
          font-weight: bold;
          text-align: center;
        }
        p {
          color: #6D6D6D;
          text-align: center;
        }
        ul {
          line-height: 2em;
          li {
            display: flex;
            align-items: center;
            gap: 0.5em;
            &::before {
              content: '';
              width: 8px;
              height: 8px;
              background-color: $mainGreenColor;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }
      }
      .containerOfJoin {
        display: flex;
        justify-content: flex-end;
        .forJoin {
          display: flex;
          background: rgba(37, 159, 139, 14%);
          justify-content: end;
          align-items: center;
          padding: 5em;
          position: relative;
          .img {
            background: #fff;
            padding: 7px;
            height: 300px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .data {
            h3 {
              font-weight: bold;
              color: $mainBlueColor;
            }
            p {
              width: 60%;
              margin: 2em 0;
              color: #6D6D6D;
            }
            .actions {
              display: flex;
              gap: 1em;
            }
          }
        }
      }
    }
    &#partners {
      p {
        font-size: 17px;
        line-height: 35px;
        font-weight: 600;
        margin: 4em 0;
      }
      .partners {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        margin-bottom: 6em;
        .partner {
          width: 140px;
          height: 140px;
          border: 1px solid $mainGreenColor;
          border-radius: 50%;
          padding: 16px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &#jobs {
      .box_header {
        margin: 2em 0;
        p.main-p {
          font-size: 20px;
          font-weight: bold;
          width: 75%;
          margin: auto;
          margin-bottom: 1em;
        }
        p.second-p {
          font-size: 18px;
        }
      }
      .jobs-list {
        margin-bottom: 1em;
        .job {
          background: #fff;
          border: 1px solid #CBCBCB;
          border-radius: 10px;
          margin: 0 15px;
          min-height: 180px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .info {
            padding: 1em;
            h3 {
              font-weight: bold;
              font-size: 22px;
              color: $mainGreenColor;
            }
            p {
              margin: 0;
              font-weight: bold;
            }
          }
          button.copy-code {
            width: 100%;
            background: $mainGreenColor;
            border: none;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;
            padding: 0.6em;
            color: #fff;
          }
        }
      }
      .job-box {
        margin-top: 3em;
        margin-bottom: 8em;
        background: #fff;
        padding: 2em;
        border-radius: 21px;
        box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.16);
        h2 {
          font-weight: bold;
          color: $mainBlueColor;
        }
        & > p {
          font-size: 20px;
          line-height: 1.8em;
          margin: 2em 0;
        }
        form {
          display: flex;
          align-items: center;
          gap: 1em;
          flex-wrap: wrap;
          .form-group {
            margin: 0;
            flex: 2;
            input.form-control {
              border: 1px solid $mainGreenColor;
              border-radius: 10px;
              height: auto;
              padding: 10px;
            }
          }
          button.confirm {
            background: $mainGreenColor;
            border: none;
            padding: 10px;
            border-radius: 10px;
            flex: 0.4;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            span {
              color: #fff;
              font-weight: bold;
            }
          }
        }
        .img {
          img {
            width: 100%;
          }
        }
        p.job-name {
          margin: 1em 0;
        }
        .desc-box {
          display: flex;
          flex-direction: column;
          gap: 1em;
          margin-bottom: 1em;
          h4.title {
            display: flex;
            align-items: center;
            gap: 0.5em;
            font-size: 20px;
          }
          p.description, li {
            color: #484848;
            line-height: 2em;
          }
          ol {
            li { margin-bottom: 0.5em; }
          }
        }
      }
    }
    &#conversations {
      padding: 4em 0;
      p {
        color: #8D9598;
      }
    }
  }
}

.tabs, .childTabs {
  button {
    transition: 0.3s;
    &.active {
      color: $mainGreenColor;
      font-weight: bold;
      border-bottom: 2px solid $mainGreenColor !important;
    }
  }
}
.tabcontent, .childTabContents {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  position: relative;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (min-width:1400px) {
  .forJoin {
    width: 80%;
    .img {
      position: absolute;
      width: 250px;
    }
  }
}

@media (max-width: 1399px) {
  .forJoin {
    width: 100%;
    gap: 3em;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .childTabs {
    top: 1em !important;
  }
  .childTabContents {
    margin: 4em 0;
  }
}

@media (min-width: 1200px) {
  .tabs {
    gap: 3em;
  }
  .tabcontent#departments {
    .container { padding: 7em 0; }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .tabs {
    gap: 2em !important;
  }
  .childTabContents {
    margin: 2em 0 4em;
    .text {
      margin-top: 7em;
      p {font-size: $fontSize !important; }
    }
  }
}

@media (max-width: 1199px) {
  .tabcontent#departments {
    .container { padding: 4em 0; }
  }
  .forJoin {
    margin-bottom: 4em;
  }
}

@media (max-width: 991px) {
  .tabs {
    gap: 0.5em !important;
    justify-content: space-between !important;
    button.tabLinks {
      width: 45%;
    }
  }
  .tabcontent#jobs {
    .box_header {
      p.main-p { width: 100% !important; }
    }
  }
  .forJoin {
    flex-wrap: wrap;
    .img { width: 100%; }
    .data {
      text-align: center;
      p { width: 100% !important; }
      .actions { justify-content: center;}
    }
  }
}

@media ( min-width: 768px ) and (max-width: 991px) {
  .childTabContents {
    .text {
      margin-top: 7em;
    }
  }
}

@media (max-width: 767px) {
  .tabs {
    gap: 0.5em !important;
    button.tabLinks {
      width: 100%;
    }
  }
  .childTabContents {
    margin-bottom: 4em;
    .text {
      margin-top: 7em;
      p {font-size: $fontSize !important; margin: 0 3em !important; }
    }
  }
  .tabcontent#departments {
    .depart {
      margin: 0 1em 1.5em;
    }
  }
  .tabcontent#jobs {
    .job-box {
      form {
        .form-group, button {
          width: 100%;
          flex: auto !important;
        }
      }
    }
  }
}

@media ( max-width: 575px) {
  .forJoin {
    .actions {
      flex-wrap: wrap;
      button { width: 100%; }
    }
  }
  .imgShape { padding: 0;}
}
