<div class="header" [ngStyle]="{'background-image': translate.currentLang == 'ar' ? 'url(/assets/images/fsf.png)' : 'url(/assets/images/fsfEnglish.png)'}">
  <div class="container">
    <h2 class="mainTitle">
      <div class="front-bubble"></div>
      {{ "ABOUT" | translate}}
      <div class="back-bubble"></div>
    </h2>
  </div>
</div>
<div class="about-academy">
  <div class="container">
    <div class="tabs">
      <button id="academyVision" class="tabLinks" (click)="openTab($event, 'vision')">
        <img src="assets/images/about-icons/vision.svg" alt="">
        {{ "ABOUT_SUB_ITEMS.VISION" | translate}}
      </button>
      <button id="academyDepartments" class="tabLinks" (click)="openTab($event, 'departments')">
        <img src="assets/images/about-icons/departs.svg" alt="">
        {{ "ABOUT_SUB_ITEMS.DEPARTMENTS" | translate}}
      </button>
      <button id="academyAcceptence" class="tabLinks" (click)="openTab($event, 'acceptence')">
        <img src="assets/images/about-icons/acceptence.svg" alt="">
        {{ "ABOUT_SUB_ITEMS.ACCEPTENCE" | translate}}
      </button>
      <button id="academyPartners" class="tabLinks" (click)="openTab($event, 'partners')">
        <img src="assets/images/about-icons/partners.svg" alt="">
        {{ "ABOUT_SUB_ITEMS.PARTNERS" | translate}}
      </button>
      <button id="academyJobs" class="tabLinks" (click)="openTab($event, 'jobs')">
        <img src="assets/images/about-icons/jobs.svg" alt="">
        {{ "ABOUT_SUB_ITEMS.JOBS" | translate}}
      </button>
      <button id="academyConversations" class="tabLinks" (click)="openTab($event, 'conversations')">
        <img src="assets/images/about-icons/conversations.png" alt="">
        {{ "ABOUT_SUB_ITEMS.FAQ" | translate}}
      </button>
    </div>
  </div>
  <div class="content">
    <div class="tabcontent" id="vision">
      <div class="childTabs">
        <button id="defaultChildOpen" class="ChildTabLinks" (click)="openChildTab($event, 'message')">{{ "OUR_MESSAGE" | translate}}</button>
        <button class="ChildTabLinks" (click)="openChildTab($event, 'vision2')">{{ "OUR_VISION" | translate}}</button>
        <button class="ChildTabLinks" (click)="openChildTab($event, 'target')">{{ "OUR_GOALS" | translate}}</button>
        <button class="ChildTabLinks" (click)="openChildTab($event, 'slogan')">{{ "OUR_SLOGAN" | translate}}</button>
        <button class="ChildTabLinks" (click)="openChildTab($event, 'equation')">{{ "OUR_EQUATION" | translate}}</button>
        <button class="ChildTabLinks" (click)="openChildTab($event, 'question')">{{ "OUR_QUESTION" | translate}}</button>
      </div>
      <div class="childTabContents" id="message">
        <div class="flex-grid">
          <div class="col-lg-6">
            <div class="text">
              <p *ngIf="translate.currentLang == 'ar'">تقديم خدمة تعليمية شاملة ومتميزة تعتمد علي التفكير النقدي والابداع في التعليم والتدريب والبحث العلمي وخدمة المجتمع وفق معايير الجودة, ومن خلال التعاون والشراكة مع جامعات ومعاهد علمية ومؤسسات مصرية وعربية. بالاضافة الى تأهيل كوادر قادرة علي العمل في شتي المجالات لتجمع بين النظرية والتطبيق كما تقوم الأكاديمية بخدمة طلابها عن طريق تدريس كل قسم بجانبية النظري والتطبيقي.</p>
              <p *ngIf="translate.currentLang == 'en'">Providing a comprehensive and distinguished educational service based on critical thinking and creativity in education, training, scientific research and community service in accordance with quality standards, and through cooperation and partnership with Egyptian and Arab universities, scientific institutes and institutions. In addition to qualifying cadres capable of working in various fields to combine theory and practice, the Academy also serves its students by teaching each department in both theoretical and practical aspects.</p>
            </div>
          </div>
          <div class="col-lg-6 imgShape">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="" *ngIf="translate.currentLang == 'ar'">
              <img class="shape" src="assets/images/shapes/aboutEnglish.png" alt="" *ngIf="translate.currentLang == 'en'">
              <img src="assets/images/message.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'ar'">
              <img src="assets/images/messageEnglish.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'en'">
            </div>
          </div>
        </div>
      </div>
      <div class="childTabContents" id="vision2">
        <div class="flex-grid">
          <div class="col-md-6">
            <div class="text">
              <p *ngIf="translate.currentLang == 'ar'">تحقيق مكانة متقدمة بين افضل الأكاديميات التعليمية في مصر والوطن العربي من خلال تاهيل الخريجين للمنافسة في سوق العمل المحلي والوطني والعالمي لتكون الأكاديمية في مقدمة الاكاديميات المصرية والعربية, وتسعى الى ان تكتسب ثقة المجتمع في خريجيها من خلال توفير بيئة متميزة وتنافسية للتعليم والتعلم والبحث العلمي وخدمة المجتمع.</p>
              <p *ngIf="translate.currentLang == 'ar'">إعداد كادر مهنى مميز يلبى إحتياجات سوق العمل المحلي والإقليمى والعالمي من خلال برامج مهنية تنافسية .</p>
              <p *ngIf="translate.currentLang == 'en'">Achieving an advanced position among the best educational academies in Egypt and the Arab world by qualifying graduates to compete in the local, national and global labor market so that the academy is at the forefront of Egyptian and Arab academies, and seeks to gain community confidence in its graduates by providing a distinguished and competitive environment for teaching, learning, scientific research and community service .</p>
              <p *ngIf="translate.currentLang == 'en'">Preparing a distinguished professional cadre that meets the needs of the local, regional and global labor market through competitive professional programs.</p>
            </div>
          </div>
          <div class="col-md-6 imgShape">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="" *ngIf="translate.currentLang == 'ar'">
              <img class="shape" src="assets/images/shapes/aboutEnglish.png" alt="" *ngIf="translate.currentLang == 'en'">
              <img src="assets/images/vision.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'ar'">
              <img src="assets/images/visionEnglish.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'en'">
            </div>
          </div>
        </div>
      </div>
      <div class="childTabContents" id="target">
        <div class="flex-grid">
          <div class="col-md-6">
            <div class="text">
              <ul *ngIf="translate.currentLang == 'ar'">
                <li>تخريج مهنى  متخصص ممتلك للفنيات والمهارات العملية.</li>
                <li>توفير محاضر متطور وقادر على اكساب المتدربين الأداءات المهنية المخططة.</li>
                <li>توطيد شركة مجتمعية فاعلة بين مؤسسات  القطاعين الخاص والعام.</li>
                <li>تصميم برامج مهنية متطورة مرتبطة باحتياجات السوق المحلى والأقليمى والدولى.</li>
                <li>تطوير قدرة مؤسسية مجهزة بأحدث التجهيزات التعليمية .</li>
                <li>ضمان إعتماد مؤسسى وبرامجى  محلى وعالمى فى التعليم والتدريب المهنى.</li>
              </ul>
              <ul *ngIf="translate.currentLang == 'en'" style="margin-top: 6em;">
                <li>Graduating a specialized professional with technical and practical skills.</li>
                <li>Providing an advanced lecturer capable of providing the trainees with the planned professional performances.</li>
                <li>Consolidation of an effective community company between private and public sector institutions.</li>
                <li>Designing advanced professional programs related to the needs of the local, regional and international market.</li>
                <li>Developing an institutional capacity equipped with the latest educational equipment.</li>
                <li>Ensure the accreditation of institutions and programs locally and globally in vocational education and training.</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 imgShape">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="" *ngIf="translate.currentLang == 'ar'">
              <img class="shape" src="assets/images/shapes/aboutEnglish.png" alt="" *ngIf="translate.currentLang == 'en'">
              <img src="assets/images/target.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'ar'">
              <img src="assets/images/targetEnglish.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'en'">
            </div>
          </div>
        </div>
      </div>
      <div class="childTabContents" id="slogan">
        <div class="flex-grid">
          <div class="col-md-6">
            <div class="text">
              <p class="text-center greenP" *ngIf="translate.currentLang == 'ar'">امتلك مهنتك</p>
              <p class="text-center greenP" *ngIf="translate.currentLang == 'en'">Own your profession</p>
              <ul *ngIf="translate.currentLang == 'ar'">
                <li>التعـلـم فرصة رائعة للتميز</li>
                <li>التدريب الكلمة السحرية للتقدم</li>
                <li>المهـنة الطريق الأسرع للثراء</li>
              </ul>
              <ul *ngIf="translate.currentLang == 'en'">
                <li>Learning is a great opportunity for excellence</li>
                <li>Training is the magic word for progress</li>
                <li>Profession is the fastest way to get rich</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 imgShape">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="" *ngIf="translate.currentLang == 'ar'">
              <img class="shape" src="assets/images/shapes/aboutEnglish.png" alt="" *ngIf="translate.currentLang == 'en'">
              <img src="assets/images/target.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'ar'">
              <img src="assets/images/targetEnglish.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'en'">
            </div>
          </div>
        </div>
      </div>
      <div class="childTabContents" id="equation">
        <div class="flex-grid">
          <div class="col-md-6">
            <div class="text">
              <p *ngIf="translate.currentLang == 'ar'">تعليم + تدريب + مهنة  = </p>
              <p *ngIf="translate.currentLang == 'en'">Education + training + career = </p>
              <img src="assets/images/main_assets/logo.svg" alt="">
            </div>
          </div>
          <div class="col-md-6 imgShape">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="" *ngIf="translate.currentLang == 'ar'">
              <img class="shape" src="assets/images/shapes/aboutEnglish.png" alt="" *ngIf="translate.currentLang == 'en'">
              <img src="assets/images/target.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'ar'">
              <img src="assets/images/targetEnglish.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'en'">
            </div>
          </div>
        </div>
      </div>
      <div class="childTabContents" id="question">
        <div class="flex-grid">
          <div class="col-md-6">
            <div class="text">
              <p class="text-center greenP" *ngIf="translate.currentLang == 'ar'">لماذا التدريب المهنى؟</p>
              <p class="text-center greenP" *ngIf="translate.currentLang == 'en'">Why vocational training?</p>
              <p *ngIf="translate.currentLang == 'ar'">لأن برامج التدريب المهنى هى مطلب عالمى الآن  للأسباب الأربع التالية:</p>
              <p *ngIf="translate.currentLang == 'en'">Because vocational training programs are a global demand now for the following four reasons:</p>
              <ul *ngIf="translate.currentLang == 'ar'">
                <li>(عملى) يجمع بين الممارسة العملية(70%)  والتعليم النظري(30%)</li>
                <li>(سريع) التأهيل المباشر لسوق العمل (3- 9شهور)</li>
                <li>(متخصص) التركيز على التخصص المطلوب بدقة لسوق العمل</li>
                <li>(أرخص) التكلفة الاقتصادية الأقل توجه عالمى اليوم</li>
              </ul>
              <ul *ngIf="translate.currentLang == 'en'">
                <li>(Practical) combines practical practice (70%) and theoretical education (30%)</li>
                <li>(Quick) Direct qualification for the labor market (3-9 months)</li>
                <li>(Specialist) Focusing on the specialization that is precisely required for the labor market</li>
                <li>(Cheaper) The lowest economic cost is a global trend today</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 imgShape">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="" *ngIf="translate.currentLang == 'ar'">
              <img class="shape" src="assets/images/shapes/aboutEnglish.png" alt="" *ngIf="translate.currentLang == 'en'">
              <img src="assets/images/target.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'ar'">
              <img src="assets/images/targetEnglish.png" alt="" class="contentImg" *ngIf="translate.currentLang == 'en'">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="departments">
      <div class="container">
        <div class="flex-grid">
          <div class="col-lg-4 col-md-6">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/it.svg" alt="">
              </div>
              <div class="info">
                <a routerLink="/departments/it-department">{{ "DEPARTMENTS_SUB_ITEMS.IT" | translate}}</a>
                <h6>{{ "DEPARTS" | translate}} : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/maps.svg" alt="">
              </div>
              <div class="info">
                <a routerLink="/departments/maps-department">{{ "DEPARTMENTS_SUB_ITEMS.MAPS" | translate}}</a>
                <h6>{{ "DEPARTS" | translate}} : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/medical.svg" alt="">
              </div>
              <div class="info">
                <a routerLink="/departments/medical-department">{{ "DEPARTMENTS_SUB_ITEMS.MEDICAL" | translate}}</a>
                <h6>{{ "DEPARTS" | translate}} : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/oil.svg" alt="">
              </div>
              <div class="info">
                <a routerLink="/departments/petrol-department">{{ "DEPARTMENTS_SUB_ITEMS.PETROLIUM" | translate}}</a>
                <h6>{{ "DEPARTS" | translate}} : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/hotels.svg" alt="">
              </div>
              <div class="info">
                <a routerLink="/departments/hotels-department">{{ "DEPARTMENTS_SUB_ITEMS.HOTELS" | translate}}</a>
                <h6>{{ "DEPARTS" | translate}} : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/journalism.svg" alt="">
              </div>
              <div class="info">
                <a routerLink="/departments/journalism-department">{{ "DEPARTMENTS_SUB_ITEMS.JOURNALISM" | translate}}</a>
                <h6>{{ "DEPARTS" | translate}} : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 offset-md-4 m-auto">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/bussiness.svg" alt="">
              </div>
              <div class="info">
                <a routerLink="/departments/bussiness-department">{{ "DEPARTMENTS_SUB_ITEMS.BUSSINESS" | translate}}</a>
                <h6>{{ "DEPARTS" | translate}} : 32</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="acceptence">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="requirement">
              <div class="img">
                <img src="assets/images/icons/requirments.svg" alt="">
              </div>
              <h5>{{"ADMISSION_REQUIREMENTS" | translate}}</h5>
              <p *ngIf="translate.currentLang == 'ar' ">يقبل الطلاب من حملة الثانوية العامة والأزهرية و الدبلومات الفنية ( تجارة – زراعة – صناعي – سياحة فنادق ) ومايعادلها من خرجي هذا العام والاعوام السابقة ودون التقيد بالمجموع أو سنة التخرج ويوجد قسم خاص لراسبي الثانوية العامة.</p>
              <p *ngIf="translate.currentLang == 'en' ">Students who hold high school diplomas, Azhar and technical diplomas (commerce - agriculture - industrial - hotel tourism) and their equivalent are accepted from the graduates of this year and previous years, without being restricted to the total or year of graduation. There is a special section for high school dropouts.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="requirement">
              <div class="img">
                <img src="assets/images/icons/documents.svg" alt="">
              </div>
              <h5>{{"REQUIRED_PAPERS" | translate}}</h5>
              <ul class="list-unstyled">
                <li>{{ "ACADEMIC_QUALIFICATION" | translate }}</li>
                <li>{{ "BIRTH_CERTIFICATE" | translate }}</li>
                <li>{{ "ID_CARD" | translate }}</li>
                <li>{{ "PERSONAL_PHOTOS" | translate }}</li>
                <li>{{ "APPLICATION_FILE" | translate }}</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="requirement">
              <div class="img">
                <img src="assets/images/icons/schedule.svg" alt="">
              </div>
              <h5>{{"STUDY_DURATION" | translate}}</h5>
              <p *ngIf="translate.currentLang == 'ar' ">مدة الدراسة عامان دراسيان - 4 ترم</p>
              <p *ngIf="translate.currentLang == 'en' ">The duration of the study is two academic years - 4 semesters</p>
            </div>
          </div>
        </div>
      </div>
      <div class="containerOfJoin">
        <div class="forJoin">
          <div class="img">
            <img src="assets/images/toJoin.png" alt="">
          </div>
          <div class="data">
            <h3>{{ "TOJOIN" | translate}}</h3>
            <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
            <div class="actions">
              <button class="primary" (click)="register()">{{"REGISTER_NOW" | translate}}</button>
              <button class="primary-outline" [routerLink]="'about-academy'" [queryParams]="{item: 'departments'}">{{"KNOWING_DEPARTS" | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="partners">
      <div class="container">
        <p *ngIf="translate.currentLang == 'ar' ">على مدى السنوات السابقة استطاعت أكاديمية 6 أكتوبر من تكوين علاقات ناجحة تتسم بالاستقرار والاستمرارية مع مجموعة من أكبر الجامعات والمعاهد المصرية بالإضافة إلى مجموعة من المستشفيات والمصانع والشركات . ونجحت في استثمار تلك الثقة المتبادلة في تطوير اعمالها وتصبح أكاديمية 6 أكتوبر الأولى في التعليم الفني في مصر</p>
        <p *ngIf="translate.currentLang == 'en' ">Over the past years, the 6th of October Academy was able to form successful, stable and continuity relationships with a group of the largest Egyptian universities and institutes, in addition to a group of hospitals, factories and companies. And it succeeded in investing that mutual trust in developing its business and becoming the first October 6 Academy in technical education in Egypt</p>
        <div class="partners">
          <div class="partner">
            <img src="assets/images/partners/helwan.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/adults.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/assiut.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/dubai.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/investigation.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/azhar.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/benha.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/watny.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/cairo.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="jobs">
      <div class="container">
        <div class="row notRegister">
          <div class="col-lg-6">
            <p class="conditions" *ngIf="translate.currentLang == 'ar' ">تعلن أكاديمية 6 أكتوبر بفرع ( الهرم - شبرا- طنطا ) عن حاجتها لأعضاء هيئة تدريس بنظام الدوام الجزئى بأقسامها المختلفة : قسم الخدمات الصحية - قسم الخدمات البترولية - قسم المساحة و الخرائط - قسم ادارة الأعمال - قسم الصحافة و الإعلام - قسم تكنولوجيا المعلومات - قسم السياحة و الفنادق وذلك طبقًاً للشروط الآتية</p>
            <p class="conditions" *ngIf="translate.currentLang == 'en' ">The 6th of October Academy at (Al-Haram - Shubra - Tanta) branch announces its need for faculty members on a part-time basis in its various departments: Health Services Department - Petroleum Services Department - Surveying and Maps Department - Business Administration Department - Journalism and Media Department - Information Technology Department - Department Tourism and hotels, according to the following conditions</p>
            <ul class="list-unstyled" *ngIf="translate.currentLang == 'ar' ">
              <li>مؤهل علمى مناسب للتخصص</li>
              <li>خبرة عملية و أكاديمية لا تقل عن ثلاث سنوات</li>
              <li>لديه المهارة و القدرة العالية على الشرح و استخدام البرامج والأجهزة الخاصة بتخصصة.</li>
              <li>إجادة إستخدام برامج الحاسب الآلى ( WORD–EXCEL– PowerPoint )</li>
            </ul>
            <ul class="list-unstyled" *ngIf="translate.currentLang == 'en' ">
              <li>Academic qualification suitable for the specialization</li>
              <li>Practical and academic experience of not less than three years</li>
              <li>He has the skill and high ability to explain and use the programs and devices of his specialization.</li>
              <li>Proficiency in using computer programs (WORD-EXCEL-PowerPoint)</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="registeration">
              <h3 *ngIf="translate.currentLang == 'ar' ">قدم الأن وأصبح جزء من أكاديمية 6 أكتوبر</h3>
              <h3 *ngIf="translate.currentLang == 'en' ">Apply now and become part of the 6th of October Academy</h3>
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="name">{{ "NAME" | translate}}</label>
                      <input type="text" class="form-control" id="name" placeholder="{{'TYPE_NAME' | translate}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone">{{ "PHONE" | translate }}</label>
                      <div class="phone">
                        <div class="form-group">
                          <input type="text" id="phone" placeholder="{{'PHONE' | translate}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">{{ "EMAIL" | translate }}</label>
                      <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="experience">{{ "EXPERIENCE_YEARS" | translate }}</label>
                      <input type="number" class="form-control" id="experience" placeholder="{{'TYPE_EXPERIENCE' | translate}}">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="job">{{ "JOB" | translate }}</label>
                      <select id="job" class="form-control">
                        <option>test</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="cv">{{ "CV" | translate }}</label>
                      <select id="cv" class="form-control">
                        <option>test</option>
                      </select>
                    </div>
                  </div>
                  <button class="primary" type="submit">{{ "SEND" | translate }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="conversations">
      <div class="container">
        <accordion [isAnimated]="true">
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هل في إمكانية انى اكمل بعد سنتين ؟' : 'Is it possible for me to complete after two years?'" [isOpen]="isFirstOpen">
            <p>{{ "POSSABILITY_OF_CONTINUING" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟' : 'Is the certificate accredited or not? Where is the certification from?'">
            <p>{{ "CERTIFIED_CERTIFICATION" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هل الشهادة موثقة خارجيا؟ هي الشهادة معتمدة من الخارجية؟' : 'Is the certificate documented externally? Is the certificate accredited by the Ministry of Foreign Affairs?'">
            <p>{{ "ACCREDIATED_CERTIFICATION" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هل في إمكانية للتوظيف ؟ الأكاديمية بتوظفني بعد ما اتخرج ؟' : 'Is there a possibility of employment? The academy will hire me after I graduate?'">
            <p>{{ "POSSABILITY_OF_EMPLOYING" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هل لديكم فروع اخرى ؟ (هي دي اول مرة تفتحوا )' : 'Do you have other branches? (This is the first time you open it)'">
            <p>{{ "HAVING_OTHER_BRANCHES" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar'
            ? 'هل في امكانية دمج الدراسة بالاكاديمية واي مكان اخر ؟ انا بدرس في كلية او مكان تاني ممكن ادرس عندكم انا مجند او انا هدخل الجيش ينفع اقدم في الاكاديمية'
            : 'Is it possible to combine studies with the academy and any other place? I am studying in a college or somewhere else. Can I study with you? I am a conscript, or I will join the army. It is useful to apply in the academy.' ">
            <p>{{ "COMBINE_STUDIES" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هل فى سكن للمغتربين ؟ هل الاكاديمية بتوفر سكن ؟' : 'Is there housing for expatriates? Does the academy provide housing?' ">
            <p>{{ "POSSABILITY_OF_HOUSING" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'الدراسة لمدة قد إيه أو كام سنة ؟' : 'Studying for how long or how many years?' ">
            <p>{{ "HOW_LONG_OF_STYUDYING" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'ماهي اماكن التدريب العملي ؟' : 'What are the practical training places?' ">
            <p>{{ "PRACTICAL_TRAINING_PLACES" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هل يمكن كتابة طالب في الرقم القومي ؟' : 'Is it possible to write a student in the national number?' ">
            <p>{{ "STUDENT_NATIONAL_NUMBER" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هتخرج ايه من قسم سياحة؟' : 'What will you graduate from the Department of Tourism?' ">
            <p>{{ "GRADUATE_FROM_TOURISM" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هتخرج ايه من قسم بترول ؟' : 'What will you graduate from the petroleum department?' ">
            <p>{{ "GRADUATE_FROM_PETROLIUM" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هتخرج ايه من قسم تكنولوجيا ؟' : 'What will you graduate from the technology department?' ">
            <p>{{ "GRADUATE_FROM_IT" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هتخرج ايه من قسم ادارة اعمال ؟' : 'What will you graduate from the Department of Business Administration?' ">
            <p>{{ "GRADUATE_FROM_BUSSINESS" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هتخرج ايه من قسم مساحة ؟' : 'What will you graduate from the surveying department?' ">
            <p>{{ "GRADUATE_FROM_SURVEYING" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هتخرج ايه من قسم خدمات طبية ؟' : 'What will you graduate from the medical services department?' ">
            <p>{{ "GRADUATE_FROM_MEDICAL" | translate }}</p>
          </accordion-group>
          <accordion-group [heading]="translate.currentLang == 'ar' ? 'هتخرج ايه من قسم صحافة واعلام؟' : 'What will you graduate from the Department of Journalism and Media?' ">
            <p>{{ "GRADUATE_FROM_MEDIA" | translate }}</p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
