<div class="header">
  <div class="container">
    <h2 class="mainTitle">
      <div class="front-bubble"></div>
      عن الاكاديمية
      <div class="back-bubble"></div>
    </h2>
  </div>
</div>
<div class="about-academy">
  <div class="container">
    <div class="tabs">
      <button id="defaultOpen" class="tabLinks" (click)="openTab($event, 'vision')">
        <img src="assets/images/about-icons/vision.svg" alt="">
        رؤية الاكاديمية
      </button>
      <button class="tabLinks" (click)="openTab($event, 'departments')">
        <img src="assets/images/about-icons/departs.svg" alt="">
        أقسام الاكاديمية
      </button>
      <button class="tabLinks" (click)="openTab($event, 'acceptence')">
        <img src="assets/images/about-icons/acceptence.svg" alt="">
        التقديم و القبول
      </button>
      <button class="tabLinks" (click)="openTab($event, 'partners')">
        <img src="assets/images/about-icons/partners.svg" alt="">
        الشركاء
      </button>
      <button class="tabLinks" (click)="openTab($event, 'jobs')">
        <img src="assets/images/about-icons/jobs.svg" alt="">
        الوظائف
      </button>
      <button class="tabLinks" (click)="openTab($event, 'conversations')">
        <img src="assets/images/about-icons/conversations.png" alt="">
        الاسئلة المكررة
      </button>
    </div>
  </div>
  <div class="content">
    <div class="tabcontent" id="vision">
      <div class="childTabs">
        <button id="defaultChildOpen" class="ChildTabLinks" (click)="openChildTab($event, 'message')">الرسالة</button>
        <button class="ChildTabLinks" (click)="openChildTab($event, 'vision2')">الرؤية</button>
        <button class="ChildTabLinks" (click)="openChildTab($event, 'target')">الهدف</button>
      </div>
      <div class="childTabContents" id="message">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="text">
              <p>تقديم خدمة تعليمية شاملة ومتميزة تعتمد علي التفكير النقدي والابداع في التعليم والتدريب والبحث العلمي وخدمة المجتمع وفق معايير الجودة, ومن خلال التعاون والشراكة مع جامعات ومعاهد علمية ومؤسسات مصرية وعربية. بالاضافة الى تأهيل كوادر قادرة علي العمل في شتي المجالات لتجمع بين النظرية والتطبيق كما تقوم الأكاديمية بخدمة طلابها عن طريق تدريس كل قسم بجانبية النظري والتطبيقي.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="">
              <img src="assets/images/message.png" alt="" class="contentImg">
            </div>
          </div>
        </div>
      </div>
      <div class="childTabContents" id="vision2">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="text">
              <p>تحقيق مكانة متقدمة بين افضل الأكاديميات التعليمية في مصر والوطن العربي من خلال تاهيل الخريجين للمنافسة في سوق العمل المحلي والوطني والعالمي لتكون الأكاديمية في مقدمة الاكاديميات المصرية والعربية, وتسعى الى ان تكتسب ثقة المجتمع في خريجيها من خلال توفير بيئة متميزة وتنافسية للتعليم والتعلم والبحث العلمي وخدمة المجتمع.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="">
              <img src="assets/images/vision.png" alt="" class="contentImg">
            </div>
          </div>
        </div>
      </div>
      <div class="childTabContents" id="target">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="text">
              <p>على مدى السنوات السابقة، استطاعت أكاديمية 6 أكتوبر من تكوين علاقات ناجحة تتسم بالاستقرار والاستمرارية مع مجموعة من أكبر الجامعات والمعاهد المصرية بالإضافة إلى مجموعة من المستشفيات والمصانع والشركات الكبرى . ونجحت في استثمار تلك الثقة المتبادلة في تطوير اعمالها لتصبح أكاديمية 6 أكتوبر الأولى في التعليم الفني في مصر.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img">
              <img class="shape" src="assets/images/shapes/about.png" alt="">
              <img src="assets/images/target.png" alt="" class="contentImg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="departments">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/it.svg" alt="">
              </div>
              <div class="info">
                <a [routerLink]="'departments/it-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">تكنولوجيا المعلومات</a>
                <h6>الاقسام : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/maps.svg" alt="">
              </div>
              <div class="info">
                <a [routerLink]="'departments/maps-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">مساحة و خرائط</a>
                <h6>الاقسام : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/medical.svg" alt="">
              </div>
              <div class="info">
                <a [routerLink]="'departments/medical-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">خدمات طبية</a>
                <h6>الاقسام : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/oil.svg" alt="">
              </div>
              <div class="info">
                <a [routerLink]="'departments/petrol-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">خدمات بترولية</a>
                <h6>الاقسام : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/hotels.svg" alt="">
              </div>
              <div class="info">
                <a [routerLink]="'departments/hotels-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">سياحة وفنادق</a>
                <h6>الاقسام : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/journalism.svg" alt="">
              </div>
              <div class="info">
                <a routerLink="departments/journalism-department">صحافة و إعلام</a>
                <h6>الاقسام : 32</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4 offset-md-4 m-auto">
            <div class="depart">
              <div class="img">
                <img src="assets/images/departments-icons/bussiness.svg" alt="">
              </div>
              <div class="info">
                <a [routerLink]="'departments/bussiness-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">إدارة أعمال</a>
                <h6>الاقسام : 32</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="acceptence">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="requirement">
              <div class="img">
                <img src="assets/images/icons/requirments.svg" alt="">
              </div>
              <h5>شروط القبول</h5>
              <p>يقبل الطلاب من حملة الثانوية العامة والأزهرية و الدبلومات الفنية ( تجارة – زراعة – صناعي – سياحة فنادق ) ومايعادلها من خرجي هذا العام والاعوام السابقة ودون التقيد بالمجموع أو سنة التخرج ويوجد قسم خاص لراسبي الثانوية العامة.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="requirement">
              <div class="img">
                <img src="assets/images/icons/documents.svg" alt="">
              </div>
              <h5>الأوراق المطلوبة للتقديم</h5>
              <ul class="list-unstyled">
                <li>أصل المؤهل الدراسي</li>
                <li>أصل شهادة الميلاد</li>
                <li>صورة البطاقة الشخصية</li>
                <li>عدد ( 8 ) صورة شخصية</li>
                <li>ملف التقديم من الأكاديمية</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="requirement">
              <div class="img">
                <img src="assets/images/icons/schedule.svg" alt="">
              </div>
              <h5>مدة الدراسة</h5>
              <p>مدة الدراسة عامان دراسيان - 4 ترم</p>
            </div>
          </div>
        </div>
      </div>
      <div class="containerOfJoin">
        <div class="forJoin">
          <div class="img">
            <img src="assets/images/toJoin.png" alt="">
          </div>
          <div class="data">
            <h3>للإلتحاق بأكاديمية 6 أكتوبر</h3>
            <p>يحصل الطالب على شهادة معتمدة من كبرى الجامعات المصرية للعمل داخل مصر وتصدق من وزارة الخارجية المصرية للعمل خارج مصر</p>
            <div class="actions">
              <button class="primary">قم بالتسجيل الان</button>
              <button class="primary-outline">تعرف على الاقسام</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="partners">
      <div class="container">
        <p>على مدى السنوات السابقة استطاعت أكاديمية 6 أكتوبر من تكوين علاقات ناجحة تتسم بالاستقرار والاستمرارية مع مجموعة من أكبر الجامعات والمعاهد المصرية بالإضافة إلى مجموعة من المستشفيات والمصانع والشركات . ونجحت في استثمار تلك الثقة المتبادلة في تطوير اعمالها وتصبح أكاديمية 6 أكتوبر الأولى في التعليم الفني في مصر</p>
        <div class="partners">
          <div class="partner">
            <img src="assets/images/partners/helwan.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/adults.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/assiut.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/dubai.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/investigation.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/azhar.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/benha.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/watny.png" alt="">
          </div>
          <div class="partner">
            <img src="assets/images/partners/cairo.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="jobs">
      <div class="container">
        <div class="row notRegister">
          <div class="col-md-6">
            <p class="conditions">تعلن أكاديمية 6 أكتوبر بفرع ( الهرم - شبرا- طنطا ) عن حاجتها لأعضاء هيئة تدريس بنظام الدوام الجزئى بأقسامها المختلفة : قسم الخدمات الطبية - قسم الخدمات البترولية - قسم المساحة و الخرائط - قسم ادارة الأعمال - قسم الصحافة و الإعلام - قسم تكنولوجيا المعلومات - قسم السياحة و الفنادق وذلك طبقًاً للشروط الآتية</p>
            <ul class="list-unstyled">
              <li>مؤهل علمى مناسب للتخصص</li>
              <li>خبرة عملية و أكاديمية لا تقل عن ثلاث سنوات</li>
              <li>لديه المهارة و القدرة العالية على الشرح و استخدام البرامج</li>
              <li>والأجهزة الخاصة بتخصصة</li>
              <li>إجادة إستخدام برامج الحاسب الآلى ( WORD–EXCEL– PowerPoint )</li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="registeration">
              <h3>قدم الأن وأصبح جزء من أكاديمية 6 أكتوبر</h3>
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="name">الاسم</label>
                      <input type="text" class="form-control" id="name" placeholder="اكتب اسمك هنا ...">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">رقم الهاتف</label>
                      <div class="phone">
                        <div class="form-group">
                          <input type="text" id="name" placeholder="phone">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">البريد الالكترونى (Email)</label>
                      <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="experience">عدد سنوات الخبرة</label>
                      <input type="number" class="form-control" id="experience" placeholder="ادخل عدد سنوات الخبرة">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="job">الوظيفة</label>
                      <select id="job" class="form-control">
                        <option>test</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="cv">السيرة الزاتية</label>
                      <select id="cv" class="form-control">
                        <option>test</option>
                      </select>
                    </div>
                  </div>
                  <button class="primary" type="submit">ارسال</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabcontent" id="conversations">
      <div class="container">
        <accordion [isAnimated]="true">
          <accordion-group heading="هل في إمكانية انى اكمل بعد سنتين ؟" [isOpen]="isFirstOpen">
            <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
          </accordion-group>
          <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
            <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
          </accordion-group>
          <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
            <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
          </accordion-group>
          <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
            <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
          </accordion-group>
          <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
            <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
          </accordion-group>
          <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
            <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
          </accordion-group>
          <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
            <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
          </accordion-group>
          <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
            <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
