<app-department-header
  [departName]="translate.currentLang == 'ar' ? 'برنامج رعاية المسنين' : translate.currentLang == 'gr' ? 'Abteilung für Altenpflege' : 'Department of Elderly Care'"
  [departImg]="'assets/images/departments-icons/careDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى مركز 6 أكتوبر فى برنامج رعاية المسنين إلى توفير مقومات التطوير
          المستمر للتعليم فى مجال رعاية المسنين لمواكبة التطورات العلمية المتسارعة فى المجال، و الارتقاء بخريجي القسم
          إلى مستوى التميز و القدرة التنافسية العالية
          و يُقْصَدُ به البرنامج المنوظ بالعملية التدريبية الكاملة لطلاب التخصص و المسؤول عن إعداد و تخريج اختصاصى مهنى
          فى (رعاية مسنين) حسب المتطلبات المهنية الواردة في اللائحة</p>
        <p *ngIf="translate.currentLang == 'en'">6 October Academy, in its Elderly Care department, aspires to provide the continuous development components for education in the field of elderly care, to keep pace with the rapid scientific advancements in the field. Furthermore, it aims to elevate the department's graduates to a level of excellence and high competitiveness. The program is intended to encompass the complete training process for specialization students and is responsible for preparing and graduating professional specialists in Elderly Care, in accordance with the professional requirements specified in the statutes. </p>
        <p *ngIf="translate.currentLang == 'gr'">
          Die 6. Oktoberakademie ist in ihrer Abteilung für Altenpflege bestrebt, kontinuierliche Entwicklungskomponenten für die Ausbildung im Bereich der Altenpflege bereitzustellen, um mit den rasanten wissenschaftlichen Fortschritten auf diesem Gebiet Schritt zu halten. Darüber hinaus zielt es darauf ab, die Absolventen der Abteilung auf ein Niveau von Exzellenz und hoher Wettbewerbsfähigkeit zu bringen. Der Studiengang soll den gesamten Ausbildungsprozess für Vertiefungsstudierende umfassen und ist für die Vorbereitung und den Abschluss von Fachkräften in der Altenpflege gemäß den in der Satzung festgelegten beruflichen Anforderungen verantwortlich. 
        </p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في توظيف جميع خدمات رعاية المسنين لتقديم حلول متميزة
          فى المجال بغرض الالتزام بالمعايير و المستويات العالمية و مواكبة التقدم و التطور المالى العالمى و التركيز على
          متطلبات المسنين الصحية - تقديم أفضل الممارسات المستمدة من المؤسسات المتخصصة ذات المستوى العالمي و الحفاظ عليها
          بالإضافة إلى نشر المهارات المتعلقة بها</p>
        <p *ngIf="translate.currentLang == 'en'">The mission of the department is to harness all Elderly Care services to provide exceptional solutions in the field. This is done with the purpose of adhering to global standards and levels, staying current with worldwide financial developments, and focusing on the health requirements of the elderly. Our mission also includes presenting best practices derived from world-class specialized institutions and preserving them, in addition to disseminating the associated skills. </p>
        <p *ngIf="translate.currentLang == 'gr'">Die Aufgabe der Abteilung besteht darin, alle Dienstleistungen der Altenpflege zu nutzen, um in diesem Bereich außergewöhnliche Lösungen anzubieten. Dies geschieht mit dem Ziel, globale Standards und Niveaus einzuhalten, über weltweite finanzielle Entwicklungen auf dem Laufenden zu bleiben und sich auf die Gesundheitsbedürfnisse älterer Menschen zu konzentrieren. Zu unserem Auftrag gehört es auch, Best Practices aus erstklassigen Fachinstitutionen zu präsentieren und zu bewahren sowie die damit verbundenen Kompetenzen zu verbreiten. </p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/careDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/careDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد المتخصصين و المهنين فى مجال رعاية المسنين</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية و منهجيات التطبيق بما يمكنهم من المنافسة
          العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال رعاية المسنين</p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات رعاية المسنين</p>
        <p *ngIf="translate.currentLang == 'ar'">الالتزام بمعايير جودة السلامة المهنية فى مجال رعاية المسنين</p>

        <p *ngIf="translate.currentLang == 'en'">To prepare specialists and professionals in the field of Elderly Care.</p>
        <p *ngIf="translate.currentLang == 'en'">To establish trainees in theoretical foundations and applied methodologies, enabling them to compete globally.</p>
        <p *ngIf="translate.currentLang == 'en'">To equip trainees with the technical skills necessary to keep pace with the rapid developments in the field of Elderly Care.</p>
        <p *ngIf="translate.currentLang == 'en'">To acquire the skills required for Elderly Care.</p>
        <p *ngIf="translate.currentLang == 'en'">To adhere to professional safety and quality standards in the field of Elderly Care.</p>
        

        <p *ngIf="translate.currentLang == 'gr'">Vorbereitung von Fachkräften und Fachkräften im Bereich der Altenpflege.</p>
        <p *ngIf="translate.currentLang == 'gr'">Den Auszubildenden theoretische Grundlagen und angewandte Methoden vermitteln, damit sie im globalen Wettbewerb bestehen können.</p>
        <p *ngIf="translate.currentLang == 'gr'">Den Auszubildenden die technischen Fähigkeiten vermitteln, die sie benötigen, um mit den rasanten Entwicklungen im Bereich der Altenpflege Schritt zu halten. </p>
        <p *ngIf="translate.currentLang == 'gr'">Erwerb der für die Altenpflege erforderlichen Fähigkeiten.</p>
        <p *ngIf="translate.currentLang == 'gr'">Einhaltung professioneller Sicherheits- und Qualitätsstandards im Bereich der Altenpflege.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة و المعيدين و
          المهندسين الأكفاء و ذوي خبرة عالية أكاديمياً و تدريبياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department comprises a teaching staff, including professors, teaching assistant, and competent engineers, all of whom possess extensive academic and training experience. </p>
        <p *ngIf="translate.currentLang == 'gr'">Die Abteilung besteht aus einem Lehrpersonal, darunter Professoren, Lehrassistenten und kompetenten Ingenieuren, die alle über umfangreiche akademische und Ausbildungserfahrung verfügen.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الدقيقة
          لرعاية المسنين و تأهيلهم و يكون ذو كفاء عالية و ملم بكافة متطلبات التخصص علمياً و مهنياً و أخلاقياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to qualify graduates to be capable of performing precise tasks in Elderly Care, their rehabilitation, and to have high competence, fully acquainted with the scientific, professional, and ethical requirements of the specialization. </p>
        <p *ngIf="translate.currentLang == 'gr'">Ziel der Abteilung ist es, Absolventen zu qualifizieren, die in der Lage sind, präzise Aufgaben in der Altenpflege und deren Rehabilitation wahrzunehmen, über hohe Kompetenz zu verfügen und mit den wissenschaftlichen, beruflichen und ethischen Anforderungen der Spezialisierung vollständig vertraut zu sein. </p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 2 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">The academic program spans two
          academic years, consisting of four semesters.</p>
        <p *ngIf="translate.currentLang == 'gr'">Das akademische Programm erstreckt sich über zwei Studienjahre,
          bestehend aus vier Semestern.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/careDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
