<div class="page">
  <div class="first-box">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="header">
          <h6>مراكز 6 أكتوبر</h6>
          <h2>السيرة الذاتية</h2>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-lg-6">
              <div class="item">
                <div class="img">
                  <img src="assets/images/icons/bag.svg" alt="">
                </div>
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="img">
                  <img src="assets/images/icons/grey-calendar.svg" alt="">
                </div>
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="img">
                  <img src="assets/images/icons/grey-car.svg" alt="">
                </div>
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="img">
                  <img src="assets/images/icons/grey-chart.svg" alt="">
                </div>
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-image">
          <div class="img">
            <img src="assets/images/biography1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-box">
    <div class="cv">
      <div class="header">
        <h3>السيرة الذاتية</h3>
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
      </div>
      <div class="line">
        <div class="img">
          <img src="assets/images/icons/line.svg" alt="">
        </div>
      </div>
      <div class="content">
        <div class="content-box">
          <div class="item">
            <div class="item-box">
              <div class="item-header">
                <span>السيرة الذاتية</span>
                <div class="img">
                  <img src="assets/images/icons/1.svg" alt="">
                </div>
              </div>
              <div class="item-body">
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-box">
              <div class="item-header">
                <span>السيرة الذاتية</span>
                <div class="img">
                  <img src="assets/images/icons/2.svg" alt="">
                </div>
              </div>
              <div class="item-body">
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-box">
              <div class="item-header">
                <span>السيرة الذاتية</span>
                <div class="img">
                  <img src="assets/images/icons/3.svg" alt="">
                </div>
              </div>
              <div class="item-body">
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="third-box">
    <div class="header">
      <span>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </span>
      <h2>السيرة الذاتية</h2>
    </div>
    <div class="video">
      <div class="img">
        <img src="assets/images/video_placeholder.png" alt="">
      </div>
    </div>
    <div class="content">
      <div class="item">
        <div class="img">
          <img src="assets/images/icons/rocket.svg" alt="">
        </div>
        <h4>السيرة الذاتية</h4>
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
      </div>
      <div class="item">
        <div class="img">
          <img src="assets/images/icons/goal.svg" alt="">
        </div>
        <h4>السيرة الذاتية</h4>
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
      </div>
      <div class="item">
        <div class="img">
          <img src="assets/images/icons/cup.svg" alt="">
        </div>
        <h4>السيرة الذاتية</h4>
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
      </div>
    </div>
  </div>
</div>