<div class="page">
  <div class="first-box">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="header">
          <h6>مراكز 6 أكتوبر</h6>
          <h2>السيرة الذاتية</h2>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-lg-6">
              <div class="item">
                <div class="img">
                  <img src="assets/images/icons/bag.svg" alt="">
                </div>
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="img">
                  <img src="assets/images/icons/grey-calendar.svg" alt="">
                </div>
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="img">
                  <img src="assets/images/icons/grey-car.svg" alt="">
                </div>
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="img">
                  <img src="assets/images/icons/grey-chart.svg" alt="">
                </div>
                <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-image">
          <div class="img">
            <img src="assets/images/biography1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-box">
    <div class="cv">
      <div class="header">
        <h3>السيرة الذاتية</h3>
        <p>ومن خلال التعاون والشراكة مع الوزارت الحكومية والهيئات والمنظمات الدولية والجامعات المصرية والشركات التي تعمل على إمداد اسواق العمل المصرية والعربية والدولية بعناصر مهنية ذات مهارات عالية وعلى دراية تامة بأحدث ما وصلت إليه التكنولوجيا والعلم في مجالات .</p>
      </div>
      <div class="line">
        <div class="img">
          <img src="assets/images/icons/line.svg" alt="">
        </div>
      </div>
      <div class="content">
        <div class="content-box">
          <div class="item">
            <div class="d-flex">
              <div class="item-box">
                <div class="item-header">
                  <span>الهيئات والمنظمات الدولية</span>
                </div>
                <div class="item-body">
                  <ul class="list-unstyled">
                    <li>حكومة دبى – هيئة المعرفة – معهد المستقبل للجودة</li>
                    <li>مجلس الوحدة الإقتصادية – مركز التدريب و البحوث والإستشارات</li>
                  </ul>
                </div>
              </div>
              <div class="item-box">
                <div class="item-header">
                  <span>الجامعات</span>
                </div>
                <div class="item-body">
                  <ul class="list-unstyled">
                    <li>جامعة أسيوط – كلية التجارة </li>
                    <li>جامعة أسيوط – وحدة نقل التكنولوجيا المتكاملةITTU</li>
                    <li>جامعة الأزهر – مركز الحاسب الالى</li>
                    <li>جامعة القاهرة – كلية الإعلام</li>
                    <li>جامعة حلوان – كلية الأداب </li>
                    <li>جامعة بنها – كلية الأداب</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-box">
              <div class="item-header">
                <span>الوزارات</span>
              </div>
              <div class="item-body">
                <ul class="list-unstyled">
                  <li>وزارة العمل – الإدارة المركزية للتدريب المهنى.</li>
                  <li>وزارة الدفاع- إدارة التعليم و التدريب المهنى.</li>
                  <li>وزارة التربية والتعليم – التعليم الخاص.</li>
                  <li>وزارة الإستثمار – الشركات المساهمة</li>
                  <li>وزارة الإتصالات وتكنولوجيا المعلومات – هيئة تنمية صناعة التكنولوجيا.</li>
                  <li>وزارة الثقافة – قطاع شئون الإنتاج الثقافى</li>
                  <li>وزارة التجارة والصناعة – المعهد القومى للجودة</li>
                  <li>وزارة التضامن الإجتماعى – المجلس الوطنى للتدريب</li>
                  <li>وزارة الثقافة – قطاع شئون الإنتاج الثقافى – الإدارة العامة</li>
                  <li>وزارة التجارة والصناعة – المعهد القومى للجودة</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-box">
              <div class="item-header">
                <span>الشركات و المؤسسات</span>
              </div>
              <div class="item-body">
                <ul class="list-unstyled">
                  <li>شركة المقاولون العرب</li>
                  <li>شركة أسيوط لتكرير البترول</li>
                  <li>شركة مانفودز ماكدونالدز</li>
                  <li>شركة الأمانى للأعمال المساحية</li>
                  <li>قرية مجاويش السياحية – الغردقة</li>
                  <li>قرية مجاويش السياحية – الغردقة</li>
                  <li>شركة لاروز لإدارة المطاعم والفنادق</li>
                  <li>فندق شهرزاد</li>
                  <li>فندق سى جاردن – الغردقة</li>
                  <li>قرية جولدن فايف السياحية</li>
                  <li>فندق سى جاردن – الغردقة</li>
                  <li>فندق أبروتيل أرابيلا – الغردقة</li>
                  <li>جمعية رساله – مستشفى رسالة</li>
                  <li>مستشفى الريان التخصصى</li>
                  <li>مستشفى الحرية</li>
                  <li>هيئة الأبنية التعليمية</li>
                  <li>شركة باور للخدمات البترولية</li>
                  <li>شركة ليفت للخدمات البترولية</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- <div class="third-box">
    <div class="header">
      <span>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </span>
      <h2>السيرة الذاتية</h2>
    </div>
    <div class="video">
      <div class="img">
        <img src="assets/images/video_placeholder.png" alt="">
      </div>
    </div>
    <div class="content">
      <div class="item">
        <div class="img">
          <img src="assets/images/icons/rocket.svg" alt="">
        </div>
        <h4>السيرة الذاتية</h4>
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
      </div>
      <div class="item">
        <div class="img">
          <img src="assets/images/icons/goal.svg" alt="">
        </div>
        <h4>السيرة الذاتية</h4>
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
      </div>
      <div class="item">
        <div class="img">
          <img src="assets/images/icons/cup.svg" alt="">
        </div>
        <h4>السيرة الذاتية</h4>
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. </p>
      </div>
    </div>
  </div> -->
</div>