<div class="departHeader">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="first-part">
        <h3>{{departName}}</h3>
        <p>للتسجيل في القسم<br>
          قم بملء استمارة التقديم عبر الإنترنت</p>
        <button class="primary-white" (click)="register()">قم بالتسجيل الان</button>
      </div>
      <div class="second-part">
        <div class="img">
          <img [src]="departImg" alt="petrol">
        </div>
      </div>
    </div>
  </div>
</div>
