<div class="departHeader">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="first-part">
        <h3>{{departName}}</h3>
        <p>{{ translate.currentLang == 'ar' ? 'للتسجيل في القسم' : 'To register in the department'}}<br>
          {{ translate.currentLang == 'ar' ? 'قم بملء استمارة التقديم عبر الإنترنت' : 'Fill in the online application form'}}</p>
        <button class="primary-white" (click)="register()">{{ 'REGISTER_NOW' | translate }}</button>
      </div>
      <div class="second-part d-none d-lg-block">
        <div class="img">
          <img [src]="departImg" alt="petrol">
        </div>
      </div>
    </div>
  </div>
</div>
