@import "../../abstracts/variables", "../../abstracts/mixins";
.contact-us {
  background: #fff;
  margin: 3em 0;
  padding: 2em;
  border-radius: 21px;
  box-shadow: 0px 3px 60px rgba(0, 0, 0, 16%);
  form {
    .form-control {
      border-color: $mainGreenColor !important;
      border-radius: $borderRadius - 16  !important;
      padding: 0.5rem .75rem !important;
      font-size: $fontSize - 1 !important;
      outline: none !important;
      box-shadow: none !important;
      &::placeholder {color: #999999 !important;}
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    input {outline: none; }
    input {height: calc(2em + 0.7rem + 2px) !important;}
    input::placeholder {color: #999999 !important;}
    textarea { resize: none; }
    button.primary {
      display: block;
      margin: auto;
    }
  }
  .img {
    img { width: 100%; }
  }
  p.contact-p {
    margin: 1em auto;
    color: #707070;
    font-size: 18px;
    width: 74%;
    text-align: center;
  }
}
