@import "../../abstracts/variables", "../../abstracts/mixins";
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 3em;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h6 {
      color: #626467;
    }
    h3 {
      font-size: 35px;
      color: #353688;
      font-weight: bold;
    }
  }
  .content {
    width: 100%;
    iframe {
      width: 100%;
    }
  }
}
