<app-department-header [departName]="'قسم إدارة الأعمال'" [departImg]="'assets/images/departments-icons/bussinessDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>رؤية القسم</h6>
        <p>يهدف قسم إدارة الأعمال إلى تأهيل خريجين إداريين متميزين ذوى كفاءة ومهارة عالية لقيادة منظمات الأعمال في مجتمع المعرفة و إعداد الكوادر الإدارية وتطوير مهاراتهم وقدراتهم لمواكبة احتياجات سوق العمل في منشآت القطاعين العام والخاص ، للعمل فى الوزارات والهيئات وكبرى الشركات ومكاتب المحاسبة</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>رسالة القسم</h6>
        <p>إعداد وتأهيل خريجين على مستوى عال من الكفاءة و الفاعلية لقيادة منظمات الأعمال و تلبية احتياجات سوق العمل محلياً وإقليميا ودولياً و تزويدِ الطلبةِ بالأسسِ العلميةِ لمُمارسةِ العمليةِ الإداريةِ بكفاءةٍ وفعالية بالاضافة الى إمداد القطاعين الخاص والعام بالكوادر المتخصصة والتي يحتاج إليها المجتمع في مواصلة عملية التنمية - تطوير المهارة الإدارية من خلال التركيز المتوازن على الأسس النظرية والأساليب التطبيقية الحديثة في مجال الأعمال</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>الشهادة</h6>
        <p>يحصل الطالب على شهادة معتمدة من كبرى الجامعات المصرية للعمل داخل مصر وتصدق من وزارة الخارجية المصرية للعمل خارج مصر</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/bussinessDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/bussinessDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>أهداف القسم</h6>
        <p>الارتقاء بخدمات التعليم والبحث العلمي و خدمة المجتمع بما يحقق أهداف التعليم المتميز القائم على تنمية المجتمع - فهم متطلبات الممارسة الإدارية في المنظمات - إعداد الأهداف للمنظمات والوحدات الإدارية - استخدام التكنولوجيات الحديثة في العملية الإدارية - توفير بيئة تعليمية متميزة لطلاب القسم وفق أحدث البرامج المعمول بها في الجامعات العالمية - إكساب الطلبة المعارف و المهارات الإدارية ،وتزويدهم بالمفاهيم والاتجاهات العلمية الإدارية الحديثة اللازمة من خلال التطبيق العملي لتلبية احتياجات سوق العمل - تنمية مهارات الإبداع و الابتكار والعمل الجماعي لدى الطلاب وبما يمكنهم في اتخاذ القرارات الإدارية لمعالجة المشكلات التي تواجه منظمات الأعمال - المساهمة في تقوية العلاقات مع قطاعات الأعمال ذات العلاقة بتخصص القسم ويحتوى المقرر الدراسى لطلاب القسم على مبادئ إدارة الأعمال، والسلوك التنظيمى وإدارة الموارد البشرية ووظائف الموارد البشرية ، بالإضافة إلى الإدارة بالمعرفة والجودة الشاملة وشئون العاملين كما يوفر القسم حزمة من البرامج التدريبية اللازمة والمناسبة للقسم وربطه بسوق العمل</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>أعضاء هيئة التدريس</h6>
        <p>يضم قسم إدارة الأعمال نخبة من الأساتذة الحاصلين على درجتى الدكتوراه والماجستير من الجامعات المصرية ذوى الخبرة فى المجالات الإدارية المختلفة بهدف تزويد الطلاب بالمعارف والمهارات الإدارية الأساسية، وما يستحدث من المعارف والخبرات فى الفكر الإداري</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>توصيف عمل الخريج</h6>
        <p>يؤهل قسم إدارة الأعمال إلى الأعمال الآتية : محاسب - موظف تسويق - مسوق إلكترونى - مدير إدارة - مدير عام - أخصائي تخطيط - موظف شئون عاملين</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>النظام الدراسي</h6>
        <p>عامان دراسيان 4 ترم</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/bussinessDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
