<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم إدارة الأعمال' : 'Department of Business Administration '" [departImg]="'assets/images/departments-icons/bussinessDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى أكاديمية 6 أكتوبر فى قسم إدارة الأعمال إلى توفير مقومات التطوير المستمر للتعليم فى المجال ، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية لتلبية متطلبات سوق العمل من فنيين و إداريين متميزين ذوى كفاءة ومهارة عالية لقيادة منظمات الأعمال في مجتمع المعرفة و إعداد الكوادر الإدارية وتطوير مهاراتهم وقدراتهم لمواكبة احتياجات سوق العمل في منشآت القطاعين العام والخاص ، للعمل فى الوزارات والهيئات وكبرى الشركات ومكاتب المحاسبة</p>
        <p *ngIf="translate.currentLang == 'en'">6th of October Academy in the Business Administration department aims to provide continuous educational development in the field and elevate the department's graduates to a level of excellence and high competitive capability, in order to meet the demands of the job market for distinguished technicians and administrators who possess efficiency and high skills to lead business organizations in the knowledge society. The department also focuses on preparing administrative personnel, enhancing their skills and abilities to match the needs of the job market in both public and private sector establishments, enabling them to work in ministries, authorities, major corporations, and accounting firms.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في إعداد وتأهيل خريجين على مستوى عال من الكفاءة و الفاعلية لقيادة منظمات الأعمال و تلبية احتياجات سوق العمل محلياً وإقليميا ودولياً و تزويدِ الطلبةِ بالأسسِ العلميةِ لمُمارسةِ العمليةِ الإداريةِ بكفاءةٍ وفعالية بالاضافة الى إمداد القطاعين الخاص والعام بالكوادر المتخصصة والتي يحتاج إليها المجتمع في مواصلة عملية التنمية - تطوير المهارة الإدارية من خلال التركيز المتوازن على الأسس النظرية والأساليب التطبيقية الحديثة في مجال الأعمال.</p>
        <p *ngIf="translate.currentLang == 'en'">The mission of the department is to prepare and qualify graduates at a high level of competence and effectiveness to lead business organizations and meet the needs of the local, regional, and international job markets. It aims to provide students with the scientific foundations for efficient and effective managerial practice, as well as to supply the private and public sectors with specialized professionals needed for the continuous development process in society. The department also focuses on enhancing managerial skills through a balanced emphasis on modern theoretical foundations and practical application methods in the field of business.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/bussinessDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/bussinessDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تخريج كوادر تقنية مؤهلة للقيام بأعمال الادارة ونظمها الحديثة</p>
        <p *ngIf="translate.currentLang == 'ar'">الارتقاء بمتطلبات الممارسة الإدارية في المنظمات والوحدات الإدارية.</p>
        <p *ngIf="translate.currentLang == 'ar'"> استخدام التكنولوجيات الحديثة في العملية الإدارية .</p>
        <p *ngIf="translate.currentLang == 'ar'">إكساب المتدربين المعارف و المهارات الإدارية ،وتزويدهم بالمفاهيم والاتجاهات العلمية الإدارية الحديثة اللازمة من خلال التطبيق العملي لتلبية احتياجات سوق العمل .</p>
        <p *ngIf="translate.currentLang == 'ar'">تنمية مهارات الإبداع و الابتكار والعمل الجماعي لدى المتدربيين بما يمكنهم في اتخاذ القرارات الإدارية لمعالجة المشكلات التي تواجه منظمات الأعمال .</p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات السلوك التنظيمى وإدارة الموارد البشرية ووظائف الموارد البشرية ، بالإضافة إلى الإدارة بالمعرفة والجودة الشاملة وشئون العاملين .</p>
        <p *ngIf="translate.currentLang == 'ar'">تحقيق متطلبات سوق العمل من الاداريين المتميزين واصحاب الأعمال ورزاد الأعمال الصغار.</p>

        <p *ngIf="translate.currentLang == 'en'">Graduating qualified technical professionals capable of handling modern management and its systems.</p>
        <p *ngIf="translate.currentLang == 'en'">Elevating the standards of administrative practice in organizations and administrative units.</p>
        <p *ngIf="translate.currentLang == 'en'"> Utilizing modern technologies in the administrative processes</p>
        <p *ngIf="translate.currentLang == 'en'">Imparting trainees with managerial knowledge and skills, providing them with contemporary scientific managerial concepts and trends through practical application to meet the needs of the job market.</p>
        <p *ngIf="translate.currentLang == 'en'">Fostering creativity, innovation, and teamwork skills among trainees to enable them to make managerial decisions and address challenges faced by business organizations.</p>
        <p *ngIf="translate.currentLang == 'en'">Acquiring organizational behavior skills, human resource management, and functions, in addition to knowledge management, total quality management, and personnel affairs.</p>
        <p *ngIf="translate.currentLang == 'en'">Fulfilling the job market requirements for distinguished administrators, entrepreneurs, and small business owners.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة والمعيدين والمهندسين الأكفاء وذوي خبرة عالية أكاديمياً وتدريبياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department comprises a teaching staff, including professors, teaching assistant, and competent engineers, all of whom possess extensive academic and training experience.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بهام إدارة الأعمال والعمل كمساعد  ( محاسب - تسويق - مسوق إلكترونى - مدير إدارة - مدير عام - أخصائي تخطيط - شئون عاملين)</p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to prepare graduates to be capable of performing various business management functions and working as assistants in roles such as (accountant, marketer, digital marketer, management director, general manager, planning specialist, human resources specialist).</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">The academic program spans two academic years, consisting of four semesters.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/bussinessDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
