<div class="fixed">
  <nav class="navbar navbar-expand-xl navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/main_assets/New_Logo.png" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="''" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">الرئيسية</a>
        </li>
        <li class="nav-item categoriesList">
          <a class="nav-link" [routerLink]="'about-academy'" [queryParams]="{item: 'vision'}" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">عن الأكاديمية</a>
          <ul class="list-unstyled categories">
            <div class="d-none d-xl-flex" style="gap: 2em;">
              <div class="firstPart">
                <ul class="list-unstyled">
                  <li>
                    <a [routerLink]="'about-academy'" [queryParams]="{item: 'vision'}">
                      <div class="img-icon">
                        <img src="assets/images/about-icons/vision.png" alt="vision">
                      </div>
                      رؤية الأكاديمية
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="'about-academy'" [queryParams]="{item: 'departments'}">
                      <div class="img-icon">
                        <img src="assets/images/about-icons/departs.png" alt="departs">
                      </div>
                      أقسام الأكاديمية
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="'about-academy'" [queryParams]="{item: 'acceptence'}">
                      <div class="img-icon">
                        <img src="assets/images/about-icons/acceptence.png" alt="acceptence">
                      </div>
                      التقديم و القبول
                    </a>
                  </li>

                </ul>
              </div>
              <div class="line"></div>
              <div class="secondPart">
                <li>
                  <a [routerLink]="'about-academy'" [queryParams]="{item: 'partners'}">
                    <div class="img-icon">
                      <img src="assets/images/about-icons/partners.png" alt="partners">
                    </div>
                    الشركاء
                  </a>
                </li>
                <li>
                  <a [routerLink]="'about-academy'" [queryParams]="{item: 'jobs'}">
                    <div class="img-icon">
                      <img src="assets/images/about-icons/jobs.png" alt="jobs">
                    </div>
                    الوظائف
                  </a>
                </li>
                <li>
                  <a [routerLink]="'about-academy'" [queryParams]="{item: 'conversations'}">
                    <div class="img-icon">
                      <img src="assets/images/about-icons/conversations.png" alt="conversations">
                    </div>
                    الأسئلة الشائعة
                  </a>
                </li>
              </div>
            </div>
            <div class="d-xl-none responsiveCategories">
              <li>
                <a [routerLink]="'about-academy'" [queryParams]="{item: 'vision'}">
                  <div class="img-icon">
                    <img src="assets/images/about-icons/vision.png" alt="vision">
                  </div>
                  رؤية الأكاديمية
                </a>
              </li>
              <li>
                <a [routerLink]="'about-academy'" [queryParams]="{item: 'departments'}">
                  <div class="img-icon">
                    <img src="assets/images/about-icons/departs.png" alt="departs">
                  </div>
                  أقسام الأكاديمية
                </a>
              </li>
              <li>
                <a [routerLink]="'about-academy'" [queryParams]="{item: 'acceptence'}">
                  <div class="img-icon">
                    <img src="assets/images/about-icons/acceptence.png" alt="acceptence">
                  </div>
                  التقديم و القبول
                </a>
              </li>
              <li>
                <a [routerLink]="'about-academy'" [queryParams]="{item: 'partners'}">
                  <div class="img-icon">
                    <img src="assets/images/about-icons/partners.png" alt="partners">
                  </div>
                  الشركاء
                </a>
              </li>
              <li>
                <a [routerLink]="'about-academy'" [queryParams]="{item: 'jobs'}">
                  <div class="img-icon">
                    <img src="assets/images/about-icons/jobs.png" alt="jobs">
                  </div>
                  الوظائف
                </a>
              </li>
              <li>
                <a [routerLink]="'about-academy'" [queryParams]="{item: 'conversations'}">
                  <div class="img-icon">
                    <img src="assets/images/about-icons/conversations.png" alt="conversations">
                  </div>
                  الأسئلة الشائعة
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-item categoriesList">
          <a class="nav-link"> <span class="caret"></span> الأقسام الدراسية</a>
          <ul class="list-unstyled categories">
            <div class="d-none d-xl-flex" style="gap: 2em;">
              <div class="firstPart">
                <li>
                  <a [routerLink]="'departments/petrol-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="img-icon">
                      <img src="assets/images/departments-icons/oil.png" alt="oil">
                    </div>
                    خدمات بترولية
                  </a>
                </li>
                <li>
                  <a [routerLink]="'departments/medical-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="img-icon">
                      <img src="assets/images/departments-icons/medical.png" alt="medical">
                    </div>
                    خدمات صحية
                  </a>
                </li>
                <li>
                  <a [routerLink]="'departments/it-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="img-icon">
                      <img src="assets/images/departments-icons/it.png" alt="it">
                    </div>
                    تكنولوجيا المعلومات
                  </a>
                </li>
                <li>
                  <a [routerLink]="'departments/maps-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="img-icon">
                      <img src="assets/images/departments-icons/maps.png" alt="maps">
                    </div>
                    مساحة وخرائط
                  </a>
                </li>
              </div>
              <div class="line"></div>
              <div class="secondPart">
                <li>
                  <a [routerLink]="'departments/bussiness-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="img-icon">
                      <img src="assets/images/departments-icons/bussiness.png" alt="bussiness">
                    </div>
                    إدارة أعمال
                  </a>
                </li>
                <li>
                  <a [routerLink]="'departments/hotels-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="img-icon">
                      <img src="assets/images/departments-icons/hotels.png" alt="hotels">
                    </div>
                    سياحة و فنادق
                  </a>
                </li>
                <li>
                  <a [routerLink]="'departments/journalism-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                    <div class="img-icon">
                      <img src="assets/images/departments-icons/journalism.png" alt="journalism">
                    </div>
                    صحافة و إعلام
                  </a>
                </li>
              </div>
            </div>
            <div class="d-xl-none responsiveCategories">
              <li>
                <a [routerLink]="'departments/petrol-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/oil.png" alt="oil">
                  </div>
                  خدمات بترولية
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/medical-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/medical.png" alt="medical">
                  </div>
                  خدمات صحية
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/it-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/it.png" alt="it">
                  </div>
                  تكنولوجيا المعلومات
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/maps-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/maps.png" alt="maps">
                  </div>
                  مساحة وخرائط
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/bussiness-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/bussiness.png" alt="bussiness">
                  </div>
                  إدارة أعمال
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/hotels-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/hotels.png" alt="hotels">
                  </div>
                  سياحة و فنادق
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/journalism-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/journalism.png" alt="journalism">
                  </div>
                  صحافة و إعلام
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-item categoriesList">
          <a class="nav-link" [routerLink]="'academy-gallery'" [queryParams]="{item: 'buildings'}" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">ميديا الأكاديمية</a>
          <ul class="list-unstyled categories gallery">
            <div class="d-none d-xl-flex" style="gap: 2em;">
              <div class="firstPart">
                <li>
                  <a [routerLink]="'academy-gallery'" [queryParams]="{item: 'buildings'}">
                    <div class="img-icon">
                      <img src="assets/images/media-icons/buildings.png" alt="buildings">
                    </div>
                    قاعات و مباني الأكاديمية
                  </a>
                </li>
                <li>
                  <a [routerLink]="'academy-gallery'" [queryParams]="{item: 'graduation-party'}">
                    <div class="img-icon">
                      <img src="assets/images/media-icons//graduations-party.png" alt="graduations-party">
                    </div>
                    حفلات التخرج
                  </a>
                </li>
              </div>
              <div class="line"></div>
              <div class="secondPart">
                <li>
                  <a [routerLink]="'academy-gallery'" [queryParams]="{item: 'conferences'}">
                    <div class="img-icon">
                      <img src="assets/images/media-icons/conferences.png" alt="conferences">
                    </div>
                    المؤتمرات و الندوات و الاخبار
                  </a>
                </li>
                <li>
                  <a [routerLink]="'academy-gallery'" [queryParams]="{item: 'training'}">
                    <div class="img-icon">
                      <img src="assets/images/media-icons/training.png" alt="training">
                    </div>
                    التدريب العملي
                  </a>
                </li>
              </div>
            </div>
            <div class="d-xl-none responsiveCategories">
              <li>
                <a [routerLink]="'academy-gallery'" [queryParams]="{item: 'buildings'}">
                  <div class="img-icon">
                    <img src="assets/images/media-icons/buildings.png" alt="buildings">
                  </div>
                  قاعات و مباني الأكاديمية
                </a>
              </li>
              <li>
                <a [routerLink]="'academy-gallery'" [queryParams]="{item: 'graduation-party'}">
                  <div class="img-icon">
                    <img src="assets/images/media-icons//graduations-party.png" alt="graduations-party">
                  </div>
                  حفلات التخرج
                </a>
              </li>
              <li>
                <a [routerLink]="'academy-gallery'" [queryParams]="{item: 'conferences'}">
                  <div class="img-icon">
                    <img src="assets/images/media-icons/conferences.png" alt="conferences">
                  </div>
                  المؤتمرات و الندوات و الاخبار
                </a>
              </li>
              <li>
                <a [routerLink]="'academy-gallery'" [queryParams]="{item: 'training'}">
                  <div class="img-icon">
                    <img src="assets/images/media-icons/training.png" alt="training">
                  </div>
                  التدريب العملي
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'studying-system'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">النظام الدراسى</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'graduates'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">الخريجين</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://e-learning.6ohd.com/ar/login" target="_blank">المنصة الالكترونية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'contact-us'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">تواصل معنا</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
