<div class="fixed">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/images/main_assets/logo.png" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="''" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">الرئيسية</a>
        </li>
        <li class="nav-item categoriesList">
          <a class="nav-link" [routerLink]="'about-academy'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">عن الاكاديمية</a>
          <ul class="list-unstyled categories">
            <div class="firstPart">
              <ul class="list-unstyled">
                <li>
                  <a>
                    <div class="img-icon">
                      <img src="assets/images/about-icons/vision.png" alt="vision">
                    </div>
                    رؤية الاكاديمية
                  </a>
                </li>
                <li>
                  <a>
                    <div class="img-icon">
                      <img src="assets/images/about-icons/departs.png" alt="departs">
                    </div>
                    أقسام الاكاديمية
                  </a>
                </li>
                <li>
                  <a>
                    <div class="img-icon">
                      <img src="assets/images/about-icons/acceptence.png" alt="acceptence">
                    </div>
                    التقديم و القبول
                  </a>
                </li>

              </ul>
            </div>
            <div class="line"></div>
            <div class="secondPart">
              <li>
                <a>
                  <div class="img-icon">
                    <img src="assets/images/about-icons/partners.png" alt="partners">
                  </div>
                  الشركاء
                </a>
              </li>
              <li>
                <a>
                  <div class="img-icon">
                    <img src="assets/images/about-icons/jobs.png" alt="jobs">
                  </div>
                  الوظائف
                </a>
              </li>
              <li>
                <a>
                  <div class="img-icon">
                    <img src="assets/images/about-icons/conversations.png" alt="conversations">
                  </div>
                  الاسئلة المكررة
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-item categoriesList">
          <a class="nav-link"> <span class="caret"></span> الأقسام الدراسية</a>
          <ul class="list-unstyled categories">
            <div class="firstPart">
              <li>
                <a [routerLink]="'departments/petrol-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/oil.png" alt="oil">
                  </div>
                  خدمات بترولية
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/medical-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/medical.png" alt="medical">
                  </div>
                  خدمات طبية
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/it-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/it.png" alt="it">
                  </div>
                  تكنولوجيا المعلومات
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/maps-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/maps.png" alt="maps">
                  </div>
                  مساحة وخرائط
                </a>
              </li>
            </div>
            <div class="line"></div>
            <div class="secondPart">
              <li>
                <a [routerLink]="'departments/bussiness-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/bussiness.png" alt="bussiness">
                  </div>
                  إدارة أعمال
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/hotels-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/hotels.png" alt="hotels">
                  </div>
                  سياحة و فنادق
                </a>
              </li>
              <li>
                <a [routerLink]="'departments/journalism-department'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                  <div class="img-icon">
                    <img src="assets/images/departments-icons/journalism.png" alt="journalism">
                  </div>
                  صحافة و إعلام
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-item categoriesList">
          <a class="nav-link" [routerLink]="'academy-gallery'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">ميديا الاكاديمية</a>
          <ul class="list-unstyled categories">
            <div class="firstPart">
              <li>
                <a>
                  <div class="img-icon">
                    <img src="assets/images/media-icons/buildings.png" alt="buildings">
                  </div>
                  قاعات و مباني الاكاديمية
                </a>
              </li>
              <li>
                <a>
                  <div class="img-icon">
                    <img src="assets/images/media-icons//graduations-party.png" alt="graduations-party">
                  </div>
                  حفلات التخرج
                </a>
              </li>
            </div>
            <div class="line"></div>
            <div class="secondPart">
              <li>
                <a>
                  <div class="img-icon">
                    <img src="assets/images/media-icons/conferences.png" alt="conferences">
                  </div>
                  المؤتمرات و الندوات و الاخبار
                </a>
              </li>
              <li>
                <a>
                  <div class="img-icon">
                    <img src="assets/images/media-icons/training.png" alt="training">
                  </div>
                  التدريب العملي
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'studying-system'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">النظام الدراسى</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'graduates'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">الخريجين</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">المنصة الالكترونية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'contact-us'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">تواصل معنا</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
