<app-department-header [departName]="'قسم تكنولوجيا المعلومات'" [departImg]="'assets/images/departments-icons/itDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>رؤية القسم</h6>
        <p>تسعى أكاديمية 6 أكتوبر فى قسم تكنولوجيا المعلومات إلى توفير مقومات التطوير المستمر للتعليم فى مجال تكنولوجيا المعلومات لمواكبة التطورات العلمية والتكنولوجية المتسارعة، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>رسالة القسم</h6>
        <p>تتبلور رسالة القسم في توظيف جميع خدمات تكنولوجيا المعلومات لتقديم حلول متميزة بغرض تحويل كافة الخدمات إلكترونيا بطريقة فعالة وكفؤة مبنية على المعرفة والشفافية- الالتزام بالمعايير والمستويات العالمية في نظم المعلومات الحاسوبية ومواكبة التقدم والتطور في مجال تكنولوجيا المعلومات والتركيز على متطلبات السوق الإلكترونية- تقديم أفضل البرامج الإلكترونية المستمدة من المؤسسات الأكاديمية ذات المستوى العالمي والحفاظ عليها بالإضافة إلى نشر المهارات المتعلقة بتصميم ذكي وتفاعلي لعلم تكنولوجيا المعلومات والاستفادة من قوة هذا العلم لتوفير الحلول المناسبة في السياقات التنظيمية</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>الشهادة</h6>
        <p>يحصل الطالب على شهادة معتمدة من كبرى الجامعات المصرية للعمل داخل مصر وتصدق من وزارة الخارجية المصرية للعمل خارج مصر</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>أهداف القسم</h6>
        <p>إعداد المتخصصين فى مجال تكنولوجيا المعلومات والشبكات وإدارتها والبرمجيات وقواعد البيانات وتأمين المؤهلين بالأسس النظرية ومنهجيات التطبيق بما يمكنهم من المنافسة العالمية فى تطوير تقنيات الحاسب والمعلومات ومواكبة التطور السريع في مجال تقنية وتكنولوجيا المعلومات. توفر الأكاديمية عدة شعب لتتماشى مع التطور الهائل فى مجال التكنولوجيا : شعبة البرمجة وتشمل برمجة الويب والتطبيقات لاجهزة الكمبيوتر والموبايل - ايضا شعبة شبكات الحاسب - شعبة الجرافيك - شعبة المونتاج - شعبة صيانة الحاسب</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>أعضاء هيئة التدريس</h6>
        <p>يضم القسم نخبة من اعضاء هيئة التدريس من الاساتذة والمعيدين والمهندسين الاكفاء والمتميزين في عملهم وذوي خبرة عالية سواء اكاديمية او عملية</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>توصيف عمل الخريج</h6>
        <p>يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام سواء فى مجال البرمجيات او شبكات الحاسب او الجرافيك او المونتاج في كافة المنظمات العاملة في المجال ويكون ذو كفاء عالية ملم بكافة ما يتخصص به فى مجال تكنولوجيا المعلومات وحسن التعامل مع العاملين</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>النظام الدراسي</h6>
        <p>عامان دراسيان 4 ترم</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
