<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم تكنولوجيا الشبكات' : 'Network Technology Department'" [departImg]="'assets/images/departments-icons/itDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى أكاديمية 6 أكتوبر فى قسم تكنولوجيا الشبكات  إلى توفير مقومات التطوير المستمر للتعليم فى مجال تكنولوجيا الشبكات  لمواكبة التطورات العلمية والتكنولوجية المتسارعة، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية.</p>
        <p *ngIf="translate.currentLang == 'ar'">ويُقْصَدُ به القسم المنوظ بالعملية التعليمية الكاملة لطلاب التخصص  والمسؤول عن إعداد وتخريج  اختصاصى مهنى فى (تصميم الشبكات وتشغيلها وادارة قواعد البيانات المرتبطة بها ) حسب المتطلبات  المهنية الواردة في اللائحة.</p>
        <p *ngIf="translate.currentLang == 'en'">The 6th of October Academy in the Department of Information Technology seeks to provide the elements for the continuous development of education in the field of information technology to keep pace with the rapid scientific and technological developments, and to raise the graduates of the department to the level of excellence and high competitiveness.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في توظيف جميع خدمات تكنولوجيا الشبكات لتقديم حلول متميزة  فى مجال التشبيك بغرض الالتزام بالمعايير والمستويات العالمية في نظم الشبكات  الحاسوبية ومواكبة التقدم والتطور في مجال تكنولوجيا الشبكات وقوعد البيانات والتركيز على متطلبات السوق الفنية- تقديم أفضل البرامج الإلكترونية المستمدة من المؤسسات الأكاديمية ذات المستوى العالمي والحفاظ عليها بالإضافة إلى نشر المهارات المتعلقة بالتشبيك</p>
        <p *ngIf="translate.currentLang == 'en'">The department's mission is to employ all information technology services to provide distinguished solutions for the purpose of transforming all services electronically in an effective and efficient manner based on knowledge and transparency - adherence to international standards and levels in computer information systems and keep abreast of progress and development in the field of information technology and focus on the requirements of the electronic market - providing the best electronic programs Drawn from and maintain world-class academic institutions as well as disseminate skills related to intelligent and interactive design of the science of information technology and harness the power of this science to provide appropriate solutions in organizational contexts.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد المتخصصين  والمهنين  فى مجال تكنولوجيا  الشبكات والبرمجيات المتخصصة .</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية ومنهجيات التطبيق بما يمكنهم من المنافسة العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال تقنية وتكنولوجيا المعلومات</p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات العمل على برمجيات الشبكات وقواعد البيانات</p>
        <p *ngIf="translate.currentLang == 'en'">Preparing specialists in the field of information technology, networks and their management, software and databases, and securing qualified people with theoretical foundations and application methodologies, enabling them to compete globally in the development of computer and information technologies and keeping pace with the rapid development in the field of technology and information technology. The Academy provides several divisions to cope with the tremendous development in the field of technology: the Programming Division, which includes web programming and applications for computers and mobile devices - also the Computer Networks Division - the Graphic Division - the Montage Division - the Computer Maintenance Division.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة والمعيدين والمهندسين الأكفاء وذوي خبرة عالية أكاديمياً وتدريبياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department includes a group of faculty members who are professors, teaching assistants, and engineers who are qualified and distinguished in their work and have high experience, whether academic or practical.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الفنية لفنى الشبكات  في كافة المنظمات العاملة في المجال ويكون ذو كفاء عالية وملم بكافة ما يتخصص به فى مجال تكنولوجيا  الشبكات .</p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to qualify the graduate to be able to carry out tasks, whether in the field of software, computer networks, graphics, or montage in all organizations working in the field.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">Two academic years, 4 semester.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
