<div class="departments">
  <h4>{{"DEPARTMENTS" | translate}}</h4>
  <div class="departsImages d-none d-md-block">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="departmentSliderConfig">
      <div ngxSlickItem class="slide">
        <div class="depart">
          <div class="firstPart">
            <img class="iconic" [src]="Departments[0].DepartImg" alt="">
            <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
              <a [routerLink]="Departments[0].DepartLink">{{Departments[0].DepartName}}</a>
              <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="depart">
          <div class="secondPart">
            <div class="img1">
              <img class="iconic" [src]="Departments[1].DepartImg" alt="">
              <div class="overlay"
                [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
                <a [routerLink]="Departments[1].DepartLink">{{Departments[1].DepartName}}</a>
                <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
              </div>
            </div>
            <div class="img2">
              <img class="iconic" [src]="Departments[2].DepartImg" alt="">
              <div class="overlay"
                [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
                <a [routerLink]="Departments[2].DepartLink">{{Departments[2].DepartName}}</a>
                <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="depart">
          <div class="thirdPart">
            <img class="iconic" [src]="Departments[3].DepartImg" alt="">
            <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
              <a [routerLink]="Departments[3].DepartLink">{{Departments[3].DepartName}}</a>
              <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="depart">
          <div class="fourthPart">
            <div class="img1">
              <img class="iconic" [src]="Departments[4].DepartImg" alt="">
              <div class="overlay"
                [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
                <a [routerLink]="Departments[4].DepartLink">{{Departments[4].DepartName}}</a>
                <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
              </div>
            </div>
            <div class="img2">
              <img class="iconic" [src]="Departments[5].DepartImg" alt="">
              <div class="overlay"
                [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
                <a [routerLink]="Departments[5].DepartLink">{{Departments[5].DepartName}}</a>
                <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="depart">
          <div class="fifthPart">
            <img class="iconic" [src]="Departments[6].DepartImg" alt="">
            <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
              <a [routerLink]="Departments[6].DepartLink">{{Departments[6].DepartName}}</a>
              <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="depart">
          <div class="sixthPart">
            <div class="img1">
              <img class="iconic" [src]="Departments[7].DepartImg" alt="">
              <div class="overlay"
                [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
                <a [routerLink]="Departments[7].DepartLink">{{Departments[7].DepartName}}</a>
                <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
              </div>
            </div>
            <div class="img2">
              <img class="iconic" [src]="Departments[8].DepartImg" alt="">
              <div class="overlay"
                [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
                <a [routerLink]="Departments[8].DepartLink">{{Departments[8].DepartName}}</a>
                <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="depart">
          <div class="seventhPart">
            <img class="iconic" [src]="Departments[9].DepartImg" alt="">
            <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
              <a [routerLink]="Departments[9].DepartLink">{{Departments[9].DepartName}}</a>
              <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div ngxSlickItem class="slide">
        <div class="depart">
          <div class="eightthPart">
            <div class="img1">
              <img class="iconic" [src]="Departments[10].DepartImg" alt="">
              <div class="overlay"
                [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
                <a [routerLink]="Departments[10].DepartLink">{{Departments[10].DepartName}}</a>
                <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
              </div>
            </div>
            <div class="img2">
              <img class="iconic" [src]="Departments[11].DepartImg" alt="">
              <div class="overlay"
                [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
                <a [routerLink]="Departments[11].DepartLink">{{Departments[11].DepartName}}</a>
                <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="images responsiveImages d-md-none">
    <div class="depart">
      <img class="iconic" [src]="Departments[0].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[0].DepartLink">{{Departments[0].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[1].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[1].DepartLink">{{Departments[1].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[2].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[2].DepartLink">{{Departments[2].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[3].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[3].DepartLink">{{Departments[3].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[4].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[4].DepartLink">{{Departments[4].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[5].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[5].DepartLink">{{Departments[5].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[6].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[6].DepartLink">{{Departments[6].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[7].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[7].DepartLink">{{Departments[7].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[8].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[8].DepartLink">{{Departments[8].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[9].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[9].DepartLink">{{Departments[9].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[10].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[10].DepartLink">{{Departments[10].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
    <div class="depart">
      <img class="iconic" [src]="Departments[11].DepartImg" alt="">
      <div class="overlay" [ngStyle]="{'flex-direction' : translate.currentLang == 'ar' ? 'row-reverse' : 'row'}">
        <a [routerLink]="Departments[11].DepartLink">{{Departments[11].DepartName}}</a>
        <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="primary" (click)="register()">{{"REGISTER_NOW" | translate}}</button>
    <button class="primary-outline" [routerLink]="'../about-academy'"
      [queryParams]="{item: 'departments'}">{{"KNOWING_DEPARTS" | translate}}</button>
  </div>
</div>
