<div class="departments">
  <div class="container">
    <h4>الأقسام الدراسية</h4>
    <div class="images">
      <div class="firstPart">
        <img class="iconic" src="assets/images/home-welcoming/left.png" alt="">
        <div class="overlay">
          <span>إدارة اعمال</span>
          <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
        </div>
      </div>
      <div class="secondPart">
        <div class="img1">
          <img class="iconic" src="assets/images/home-welcoming/Frame 14252.png" alt="">
          <div class="overlay">
            <span>خدمات بترولية</span>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
          </div>
        </div>
        <div class="img2">
          <img class="iconic" src="assets/images/home-welcoming/Frame 14251.png" alt="">
          <div class="overlay">
            <span>خدمات صحية</span>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
          </div>
        </div>
      </div>
      <div class="thirdPart">
        <img class="iconic" src="assets/images/home-welcoming/Middle.png" alt="">
        <div class="overlay">
          <span>سياحة و فنادق</span>
          <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
        </div>
      </div>
      <div class="fourthPart">
        <div class="img1">
          <img class="iconic" src="assets/images/home-welcoming/Frame 14248.png" alt="">
          <div class="overlay">
            <span>صحافة و اعلام</span>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
          </div>
        </div>
        <div class="img2">
          <img class="iconic" src="assets/images/home-welcoming/Frame 14249.png" alt="">
          <div class="overlay">
            <span>تكنولوجيا المعلومات</span>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
          </div>
        </div>
      </div>
      <div class="fifthPart">
        <img class="iconic" src="assets/images/home-welcoming/right.png" alt="">
        <div class="overlay">
          <span>مساحة و خرائط</span>
          <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="primary" (click)="register()">قم بالتسجيل الان</button>
      <button class="primary-outline" [routerLink]="'../about-academy'" [queryParams]="{item: 'departments'}">تعرف على الاقسام</button>
    </div>
  </div>
</div>
