<app-department-header [departName]="'قسم الخدمات البترولية'" [departImg]="'assets/images/departments-icons/petrolDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>رؤية القسم</h6>
        <p>تتطلع اكاديمية 6 أكتوبر إلى أن تتبوأ مكانة مرموقة بين مؤسسات التعليم في مصر وعلى المستوى الأقليمي إنطلاقاً من مساهمتها فى تطوير العملية التعليمة في مجال الخدمات البترولية وتفاعلها مع مجتمعها من ا من خلال تخريج فنيين متميزين قادرين على المنافسة محلياً وإقليميا</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>رسالة القسم</h6>
        <p>تهدف أكاديمية 6 أكتوبر المتخصصة في المجال التعليمى في الخدمات البترولية في إعداد نخبة من الفنيين المتخصصين في مجالات الخدمات البترولية لتفى بالمتطلبات المحلية والاقليمية من فنين تفيد هذا المجال وذلك من خلال الاهتمام بالعملية التعليمية وتنمية مهارات الخريج وتهيئته للالتحاق بكبرى الشركات العاملة في مجال البترول</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>الشهادة</h6>
        <p>يحصل الطالب على شهادة معتمدة من كبرى الجامعات المصرية للعمل داخل مصر وتصدق من وزارة الخارجية المصرية للعمل خارج مصر</p>
      </div>
    </div>
  </div>
  <div class="mission-img">
    <img src="assets/images/departments-icons/petrolDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img">
    <img src="assets/images/departments-icons/petrolDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>أهداف القسم</h6>
        <p>يهدف قسم الخدمات البترولية لتخريج كوادر عالية على مستوي علمي وعملي فى مجال الخدمات البترولية بحيث يكون الخريج مثال يحتذى به من خلال عمله في الشركات الكبرى ويكون قادر على اداء خدمة مميزة ترقي بمستوى الشركة ويحصل الطالب على شهادة اخصائي معتمدة دوليا. توفر الأكاديمية فرص التدريب في كبرى الشركات العاملة في مجال البترول في جميع المحافظات تحت اشراف كامل من المهندسين والفنين العاملين بالأكاديمية</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>أعضاء هيئة التدريس</h6>
        <p>اي حاجهيضم القسم أفضل المهندسين والفنين الاكفاء والمتميزين في عملهم وذوي خبرة عالية سواء اكاديمية او عملية وتحرص الأكاديمية على رفع كفاءة العاملين في القسم باستمرار الاشتراك بالدورات او الدراسات العملية والأكاديمية</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>توصيف عمل الخريج</h6>
        <p>يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بمختلف اعمال الخدمات البترولية في كافة الشركات العاملة في المجال ويندمج داخل الشركة ويكون ذو كفاء عالية ملم بآداب المهنة وحسن التعامل مع العاملين</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>النظام الدراسي</h6>
        <p>عامان دراسيان 4 ترم</p>
      </div>
    </div>
  </div>
  <div class="staff-img">
    <img src="assets/images/departments-icons/petrolDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
