<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم الخدمات البترولية' : 'Petroleum Services Department' " [departImg]="'assets/images/departments-icons/petrolDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى أكاديمية 6 أكتوبر فى قسم تكنولوجيا الخدمات البترولية إلى توفير مقومات التطوير المستمر للتعليم فى مجال الخدمات البترولية لمواكبة التطورات العلمية  والمهنية المتسارعة فى مجال البترول، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية لتلبية متطلبات سوق الخدمات البترولية فى مصر والمنطقة العربية.</p>
        <p *ngIf="translate.currentLang == 'ar'">ويُقْصَدُ به القسم المنوظ بالعملية التعليمية الكاملة لطلاب التخصص  والمسؤول عن إعداد وتخريج  اختصاصى مهنى فى الخدمات البترولية (الحفر – اللحام – اللحام تحت الماء – فنيات معامل التكرير ) حسب المتطلبات  المهنية الواردة في اللائحة.</p>
        <p *ngIf="translate.currentLang == 'en'">The 6th of October Academy aspires to occupy a prominent position among educational institutions in Egypt and at the regional level, based on its contribution to the development of the educational process in the field of petroleum services and its interaction with its community through the graduation of distinguished technicians who are able to compete locally and regionally.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في توظيف جميع الخبرات المتخصصة فى مجال الخدمات البترولية لتقديم حلول متميزة  فى مجال  الحفر والللحام والتكرير  بغرض الالتزام بالمعايير والمستويات العالمية في نظم الخدمات البترولية ومواكبة التقدم والتطور في مجال البترول والتركيز على متطلبات السوق الفنية- تقديم أفضل المهارات المتعلقة بالخدمات البترولية والتى تطلبها شركات البترول المحلية والدولية.</p>
        <p *ngIf="translate.currentLang == 'en'">The 6th of October Academy, specialized in the educational field of petroleum services, aims to prepare a group of technicians specialized in the fields of petroleum services to meet the local and regional requirements of technicians benefiting from this field, by paying attention to the educational process, developing the skills of the graduate and preparing him to join major companies operating in the field of petroleum.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/petrolDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/petrolDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد المتخصصين  والمهنين  فى مجال الخدمات البترولية المتخصصة .</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية ومنهجيات التطبيق بما يمكنهم من المنافسة العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال الخدمات البترولية. </p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات العمل على معدات الحفر واللحام والتكرير</p>

        <p *ngIf="translate.currentLang == 'en'">The Department of Petroleum Services aims to graduate high cadres on a scientific and practical level in the field of petroleum services so that the graduate is an example to follow through his work in large companies and is able to perform a distinguished service that raises the level of the company, and the student obtains an internationally accredited specialist certificate. The Academy provides training opportunities in major companies operating in the petroleum field in all governorates under the full supervision of the engineers and technicians working at the Academy.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة والمعيدين والمهندسين الأكفاء وذوي خبرة عالية أكاديمياً وتدريبياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department includes the best engineers and technicians who are competent and distinguished in their work and have high experience, whether academic or practical. The Academy is keen to raise the efficiency of the employees in the department by continuing to participate in courses or practical and academic studies.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الفنية لمساعد الخدمات البترولية  في كافة المنظمات العاملة في المجال ويكون ذو كفاء عالية وملم بكافة متطلبات سوق العمل.</p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to qualify the graduate to be able to carry out various petroleum services work in all companies operating in the field and to integrate within the company and to be highly qualified and familiar with professional ethics and good dealing with workers.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">Two academic years, 4 semester.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/petrolDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
