<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم السياحية والفنادق' : 'Department of tourism and hotels'" [departImg]="'assets/images/departments-icons/hotelsDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">تسعى أكاديمية 6 أكتوبر من خلال قسم الخدمات السياحية والفندقية لأن تكون الرائدة فى اعداد الكوادر الفنية المتخصصة فى مجال الخدمات السياحية والفندقية، كما تسعى الى تميز خريجها لتكون أفضل الكوادر وأن تجتذب أعلي الكفاءات العلمية للتطوير الدائم المتلائم مع احتياجات سوق العمل السياحي والفندقي. </p>
        <p *ngIf="translate.currentLang == 'en' ">The 6th of October Academy seeks to be the pioneer in Egypt in the field of tourism and hotels. It also seeks to distinguish its graduates to be the best cadres in the fields of tourism and hotels and to attract the highest scientific competencies and for permanent development that is compatible with the needs of the tourism and hotel labor market.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">تتبلور رسالة القسم في إعداد وتأهيل خريجين على مستوى عال من الكفاءة و الفاعلية  و تلبية احتياجات سوق العمل السياحى والفندقى محلياً وإقليميا ودولياً و تزويدِ الطلبةِ بالأسسِ العلميةِ وتأهيلهم عمليا للمنافسة فى سوق العمل محليا وإقليميا وتحقيق الريادة فى مجالات التعليم والتدريب والمساهمة فى خدمة المجتمع من خلال تقديم كوادر تستطيع النهوض بالمجال السياحي والفندقي.</p>
        <p *ngIf="translate.currentLang == 'en' ">The Academy provides distinguished educational and training services for students in the fields of tourism and hotels, qualifying them practically to compete in the labor market locally and regionally, achieve leadership in the fields of education and training, and contribute to community service by providing cadres that can advance the field of tourism and hotels.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تخريج كوادر تقنية مؤهلة للقيام بأعمال السياحة والفندقة</p>
        <p *ngIf="translate.currentLang == 'ar'">الارتقاء بمتطلبات المؤسسات الفندقية والسياحية فى مصر</p>
        <p *ngIf="translate.currentLang == 'ar'"> إعداد كوادر على مستوي علمي وعملي عالي في مجالي السياحة والفنادق .</p>
        <p *ngIf="translate.currentLang == 'ar'">تلبية احتياجات الفنادق الكبرى و القرى السياحية ويكون من الكوادر القادرة على اداء خدمة مميزة في المجالين السياحي والفندقي.</p>

        <p *ngIf="translate.currentLang == 'en' ">The Department of Tourism and Hotels aims to graduate cadres at a very high scientific and practical level in the fields of tourism and hotels who are able to make a difference in this field so that they are an example to follow through their work in major hotels or tourist villages and are able to perform a distinguished service that raises the level of technical services in the two fields of tourism And the hotel.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة والمعيدين والمهندسين الأكفاء وذوي خبرة عالية أكاديمياً وتدريبياً</p>
        <p *ngIf="translate.currentLang == 'en' ">The department includes a group of professors and teaching assistants to teach academic subjects, as well as technicians with high technical expertise in the fields of tourism and hotels to teach practical subjects.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بمختلف اعمال الخدمات الفندقية من الضيافة والاستقبال والهوس كيبينج.وخدمات تجهيز المطبخ السياحى</p>
        <p *ngIf="translate.currentLang == 'en' ">The department aims to qualify the graduate to be able to directly integrate into the hotel labor market and carry out various hotel services such as hospitality and obsession with keeping.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">Two academic years, 4 semester.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
