<app-department-header [departName]="'قسم السياحية والفنادق'" [departImg]="'assets/images/departments-icons/hotelsDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>رؤية القسم</h6>
        <p>تسعى أكاديمية 6 أكتوبر لأن تكون الرائدة في مصر فى مجال قسم السياحة والفنادق ، كما تسعى الى تميز خريجها لتكون أفضل الكوادر في مجالي السياحة والفنادق وأن تجتذب أعلي الكفاءات العلمية و للتطوير الدائم المتلائم مع احتياجات سوق العمل السياحي والفندقي.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>رسالة القسم</h6>
        <p>تقوم الأكاديمية بتوفير الخدمات التعليمية والتدريبية المتميزة للدارسين فى مجالات السياحة والفنادق وتأهيلهم عمليا للمنافسة فى سوق العمل محليا وإقليميا وتحقيق الريادة فى مجالات التعليم والتدريب والمساهمة فى خدمة المجتمع من خلال تقديم كوادر تستطيع النهوض بالمجال السياحي والفندقي.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>الشهادة</h6>
        <p>يحصل الطالب على شهادة معتمدة من كبرى الجامعات المصرية للعمل داخل مصر وتصدق من وزارة الخارجية المصرية للعمل خارج مصر</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>أهداف القسم</h6>
        <p>يهدف قسم السياحة والفنادق لتخريج كوادر على مستوي علمي وعملي عالي جدا في مجالي السياحة والفنادق قادر على إحداث الفرق في هذا المجال بحيث يكون مثال يحتذى به من خلال عمله في الفنادق الكبرى او القرى السياحية ويكون قادر على اداء خدمة مميزة ترقي بمستوى الخدمات الفنية في المجالين السياحي والفندقي.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>أعضاء هيئة التدريس</h6>
        <p>يضم القسم نخبة من الاساتذة والمعيدين لتدريس المواد الأكاديمية وكذلك فنين من ذوي الخبرات الفنية العالية في مجالي السياحة والفنادق لتدريس المواد العملية.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>توصيف عمل الخريج</h6>
        <p>يهدف القسم الى تأهيل الخريج ليكون قادر على الاندماج المباشر في سوق العمل الفندقي والقيام بمختلف اعمال الخدمات الفندقية من الضيافة والهوس كيبينج.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>النظام الدراسي</h6>
        <p>عامان دراسيان 4 ترم</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
