<app-department-header
  [departName]="translate.currentLang == 'ar' ? 'برنامج الخدمات السياحية و الفندقية' : translate.currentLang == 'gr' ? 'Ministerium für Tourismus und Hotels' : 'Department of Tourism and Hotels'"
  [departImg]="'assets/images/departments-icons/hotelsDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">تسعى مركز 6 أكتوبر من خلال برنامج الخدمات السياحة والفندقية لأن تكون
          الرائدة فى اعداد الكوادر الفنية المتخصصة فى مجال الخدمات السياحة والفندقية، كما تسعى الى تميز خريجها لتكون
          أفضل الكوادر وأن تجتذب أعلي الكفاءات العلمية للتطوير الدائم المتلائم مع احتياجات سوق العمل السياحي والفندقي.
        </p>
        <p *ngIf="translate.currentLang == 'en' ">Through the Department of Tourism and
          Hotels Services, October 6th Academy aspires to be a leader in preparing specialized technical professionals
          in the field of tourism and Hotels services. It aims to distinguish its graduates as top-tier professionals,
          attracting the highest scientific competencies to facilitate continuous development aligned with the needs of
          the tourism and hospitality job market.</p>

        <p *ngIf="translate.currentLang == 'gr' ">Durch die Abteilung für Tourismus- und Hoteldienstleistungen strebt
          die Akademie vom 6. Oktober eine führende Rolle bei der Ausbildung spezialisierter technischer Fachkräfte im
          Bereich Tourismus- und Hoteldienstleistungen an. Ziel ist es, seine Absolventen als erstklassige Fachkräfte
          auszuzeichnen und die höchsten wissenschaftlichen Kompetenzen anzuziehen, um eine kontinuierliche
          Weiterentwicklung im Einklang mit den Anforderungen des Arbeitsmarktes im Tourismus- und Gastgewerbe zu
          ermöglichen.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">تتبلور رسالة البرنامج في إعداد وتأهيل خريجين على مستوى عال من الكفاءة و
          الفاعلية و تلبية احتياجات سوق العمل السياحى والفندقى محلياً وإقليميا ودولياً و تزويدِ الطلبةِ بالأسسِ العلميةِ
          وتأهيلهم عمليا للمنافسة فى سوق العمل محليا وإقليميا وتحقيق الريادة فى مجالات التعليم والتدريب والمساهمة فى
          خدمة المجتمع من خلال تقديم كوادر تستطيع النهوض بالمجال السياحي والفندقي.</p>
        <p *ngIf="translate.currentLang == 'en' ">The department's mission is embodied
          in preparing and equipping graduates with a high level of competence and effectiveness, meeting the needs of
          the local, regional, and international tourism and Hotels job markets. We provide students with solid academic
          foundations and practical qualifications to compete effectively in the local and regional job markets, aiming
          to achieve leadership in education and training while contributing to community service. Through our
          graduates, we strive to uplift the tourism and hospitality industry.</p>
        <p *ngIf="translate.currentLang == 'gr' ">Die Mission der Abteilung besteht darin, Absolventen mit einem hohen
          Maß an Kompetenz und Effektivität vorzubereiten und auszustatten, um den Anforderungen der lokalen, regionalen
          und internationalen Arbeitsmärkte in den Bereichen Tourismus und Hotellerie gerecht zu werden. Wir vermitteln
          Studierenden solide akademische Grundlagen und praktische Qualifikationen, um auf den lokalen und regionalen
          Arbeitsmärkten erfolgreich bestehen zu können. Unser Ziel ist es, eine führende Rolle in der allgemeinen und
          beruflichen Bildung zu übernehmen und gleichzeitig einen Beitrag zum Gemeinwohl zu leisten. Durch unsere
          Absolventen streben wir danach, die Tourismus- und Gastgewerbebranche voranzutreiben.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تخريج كوادر تقنية مؤهلة للقيام بأعمال السياحة والفندقة</p>
        <p *ngIf="translate.currentLang == 'ar'">الارتقاء بمتطلبات المؤسسات الفندقية والسياحة فى مصر</p>
        <p *ngIf="translate.currentLang == 'ar'"> إعداد كوادر على مستوي علمي وعملي عالي في مجالي الخدمات السياحية و الفندقية .</p>
        <p *ngIf="translate.currentLang == 'ar'">تلبية احتياجات الفنادق الكبرى و القرى السياحة ويكون من الكوادر القادرة
          على اداء خدمة مميزة في المجالين السياحي والفندقي.</p>

        <p *ngIf="translate.currentLang == 'en' ">Graduating qualified technical
          professionals capable of working in the field of tourism and Hotels.</p>
        <p *ngIf="translate.currentLang == 'en' ">Elevating the standards of hotels and
          tourism establishments in Egypt.</p>
        <p *ngIf="translate.currentLang == 'en' ">Preparing individuals with a high
          level of academic and practical proficiency in the fields of tourism and hotels.</p>
        <p *ngIf="translate.currentLang == 'en' ">Meeting the needs of major hotels and
          tourist resorts with personnel capable of providing exceptional service in both the tourism and hospitality
          sectors.</p>

        <p *ngIf="translate.currentLang == 'gr' ">Absolvent qualifizierter technischer Fachkräfte, die in der Lage sind,
          im Bereich Tourismus und Hotels zu arbeiten.</p>
        <p *ngIf="translate.currentLang == 'gr' ">Anhebung der Standards von Hotels und Tourismuseinrichtungen in
          Ägypten.</p>
        <p *ngIf="translate.currentLang == 'gr' ">Vorbereitung von Personen mit einem hohen Maß an akademischen und
          praktischen Kenntnissen in den Bereichen Tourismus und Hotellerie.</p>
        <p *ngIf="translate.currentLang == 'gr' ">Erfüllung der Bedürfnisse großer Hotels und Touristenresorts mit
          Personal, das in der Lage ist, sowohl im Tourismus- als auch im Gastgewerbesektor außergewöhnliche
          Dienstleistungen zu erbringen.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">يضم البرنامج نخبة من أميز أعضاء هيئة التدريس من الأساتذة والمعيدين
          والمهندسين الأكفاء وذوي خبرة عالية أكاديمياً وتدريبياً</p>
        <p *ngIf="translate.currentLang == 'en' ">The department comprises a teaching
          staff, including professors, teaching assistant, and competent engineers, all of whom possess extensive
          academic and training experience</p>
        <p *ngIf="translate.currentLang == 'gr' ">Die Abteilung besteht aus einem Lehrpersonal, darunter Professoren,
          Lehrassistenten und kompetenten Ingenieuren, die alle über umfangreiche akademische und Ausbildungserfahrung
          verfügen.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">يهدف البرنامج الى تأهيل الخريج ليكون قادر على القيام بمختلف اعمال الخدمات
          الفندقية من الضيافة والاستقبال والهوس كيبينج.وخدمات تجهيز المطبخ السياحى</p>
        <p *ngIf="translate.currentLang == 'en' ">The department aims to equip
          graduates with the capability to perform various functions in the Hotels sector, including reception, guest
          services, and housekeeping, as well as catering services for the tourism industry.</p>
        <p *ngIf="translate.currentLang == 'gr' ">Ziel der Abteilung ist es, Absolventen mit der Fähigkeit auszustatten,
          verschiedene Funktionen in der Hotelbranche wahrzunehmen, darunter Rezeption, Gästeservice und Housekeeping
          sowie Catering-Dienstleistungen für die Tourismusbranche.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/hotelsDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery [imagesList]="imagesList"></app-training-gallery>
<app-join></app-join>
