<div class="branches">
  <div class="container">
    <h3 data-aos="fade-up">{{'ACADEMY_BRANCHES' | translate}}</h3>
    <div class="row">
      <div class="col-lg col-md-6" data-aos="fade-up">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>{{ "GIZA_BRANCH" | translate}}</h4>
          <p>{{ "GIZA_BRANCH_ADDRESS" | translate}}</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01009007349</span>
            </li>
          </ul>
          <a class="getDirections"
            href="https://www.google.com/maps/place/6+October+Academy%D8%8C+%D8%A8%D8%AC%D9%88%D8%A7%D8%B1+%D9%85%D8%B7%D8%B9%D9%85+%D8%A8%D8%A7%D8%B2%D9%88%D9%83%D8%A7%D8%8C+232+%D8%B4+%D8%A7%D9%84%D9%87%D8%B1%D9%85+%D9%85%D8%AD%D8%B7%D8%A9+%D8%B4%D8%A7%D8%B1%D8%B9+%D8%B6%D9%8A%D8%A7%D8%A1,+Al+Haram%E2%80%AD/data=!4m2!3m1!1s0x145847b4118eae8d:0x81d4c2af1e40bba5?utm_source=mstt_1&entry=gps&lucs=47068615&g_ep=CAESCTExLjg3LjMwNBgAINeCAyoINDcwNjg2MTVCAkVH"
            target="_blank">
            <span>{{'GET_DIRECTIONS' | translate}}</span>
            <img src="assets/images/icons/arrow.png" alt="arrow"
              [ngStyle]="{'transform': translate.currentLang == 'ar' ? 'rotate(0deg)' : 'rotate(180deg)' }">
          </a>
        </div>
      </div>
      <div class="col-lg col-md-6" data-aos="fade-up">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>{{ "QALYUBIA_BRANCH" | translate}}</h4>
          <p>{{ "QALYUBIA_BRANCH_ADDRESS" | translate}}</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01028800044</span>
            </li>
          </ul>
          <a class="getDirections"
            href="https://www.google.com/maps/place/%D8%A7%D9%83%D8%A7%D8%AF%D9%8A%D9%85%D9%8A%D8%A9+6+%D8%A7%D9%83%D8%AA%D9%88%D8%A8%D8%B1+%D8%A8%D8%B4%D8%A8%D8%B1%D8%A7+%D8%A7%D9%84%D8%AE%D9%8A%D9%85%D8%A9%D8%8C+%D8%B4%D8%A7%D8%B1%D8%B9+15+%D9%85%D8%A7%D9%8A%D9%88+(+%D8%A7%D9%84%D8%B4%D8%A7%D8%B1%D8%B9+%D8%A7%D9%84%D8%AC%D8%AF%D9%8A%D8%AF+%D8%A8%D8%AC%D9%88%D8%A7%D8%B1+%D8%AC%D8%A7%D9%85%D8%B9+%D8%A7%D8%A8%D9%88+%D8%A7%D9%84%D9%87%D9%86%D8%A7,+Al+Qalyubia+Governorate%E2%80%AD/data=!4m2!3m1!1s0x145815e2a07648c5:0xc28990af68e0f6ad?utm_source=mstt_1&entry=gps&lucs=47068615&g_ep=CAESCTExLjg3LjMwNBgAINeCAyoINDcwNjg2MTVCAkVH"
            target="_blank">
            <span>{{'GET_DIRECTIONS' | translate}}</span>
            <img src="assets/images/icons/arrow.png" alt="arrow"
              [ngStyle]="{'transform': translate.currentLang == 'ar' ? 'rotate(0deg)' : 'rotate(180deg)' }">
          </a>
        </div>
      </div>
      <div class="col-lg col-md-6" data-aos="fade-up">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>{{ "GHARBIA_BRANCH" | translate}}</h4>
          <p>{{ "GHARBIA_BRANCH_ADDRESS" | translate}}</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01000097878</span>
            </li>
          </ul>
          <a class="getDirections"
            href="https://www.google.com/maps/place/%D8%A7%D9%83%D8%A7%D8%AF%D9%8A%D9%85%D9%8A%D8%A9+6+%D8%A7%D9%83%D8%AA%D9%88%D8%A8%D8%B1+%D8%A8%D8%B7%D9%86%D8%B7%D8%A7%D8%8C+%D9%85%D9%88%D8%AF%D8%B1%D9%86+%D8%B3%D9%83%D9%88%D9%84%D8%8C+%D8%A7%D9%84%D8%B4%D9%87%D9%8A%D8%AF+%D8%A3%D8%A8%D9%88+%D8%B2%D9%87%D8%B1%D8%A9+%D9%86%D8%A7%D9%8A%D9%81+%D8%B9%D9%85%D8%A7%D8%AF+%D8%B3%D8%A7%D8%A8%D9%82%D9%8B%D8%A7+%D8%A8%D8%AC%D9%88%D8%A7%D8%B1,+Gharbia+Governorate%E2%80%AD/data=!4m2!3m1!1s0x14f7c9dd193d6f73:0x432106056ed9c9c4?utm_source=mstt_1&entry=gps&lucs=47068615&g_ep=CAESCTExLjg3LjMwNBgAINeCAyoINDcwNjg2MTVCAkVH"
            target="_blank">
            <span>{{'GET_DIRECTIONS' | translate}}</span>
            <img src="assets/images/icons/arrow.png" alt="arrow"
              [ngStyle]="{'transform': translate.currentLang == 'ar' ? 'rotate(0deg)' : 'rotate(180deg)' }">
          </a>
        </div>
      </div>
      <div class="col-lg col-md-6" data-aos="fade-up">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>{{ "BENHA_BRANCH" | translate}}</h4>
          <p>{{ "BENHA_BRANCH_ADDRESS" | translate}}</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01025999712</span>
            </li>
          </ul>
          <a class="getDirections"
            href="https://www.google.com/maps/place/%D8%A3%D9%83%D8%A7%D8%AF%D9%8A%D9%85%D9%8A%D8%A9+6+%D8%A3%D9%83%D8%AA%D9%88%D8%A8%D8%B1+%D8%A8%D8%A8%D9%86%D9%87%D8%A7%D8%8C+%D9%83%D9%88%D8%B1%D9%86%D9%8A%D8%B4+%D8%A7%D9%84%D9%86%D9%8A%D9%84%D8%8C+%D8%AD%D9%89+%D8%A7%D9%84%DA%A4%D9%84%D9%84%D8%8C+%D8%A8%D8%AC%D9%88%D8%A7%D8%B1+%D8%A7%D8%B3%D8%AA%D8%B1%D8%A7%D8%AD%D8%A9+%D8%A7%D9%84%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%8C+%D8%B4%D8%A7%D8%B1%D8%B9+Street+2,+Banha,+Al+Qalyubia+Governorate+13511%E2%80%AD/data=!4m2!3m1!1s0x14f7df47cfe3f831:0x5c18760be147d389?utm_source=mstt_1&entry=gps&lucs=47068615&g_ep=CAESCTExLjg3LjMwNBgAINeCAyoINDcwNjg2MTVCAkVH"
            target="_blank">
            <span>{{'GET_DIRECTIONS' | translate}}</span>
            <img src="assets/images/icons/arrow.png" alt="arrow"
              [ngStyle]="{'transform': translate.currentLang == 'ar' ? 'rotate(0deg)' : 'rotate(180deg)' }">
          </a>
        </div>
      </div>
      <div class="col-lg col-md-12" data-aos="fade-up">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>{{ "NEW_CAIRO_BRANCH" | translate}}</h4>
          <p>{{ "NEW_CAIRO_BRANCH_ADDRESS" | translate}}</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01025999712</span>
            </li>
          </ul>
          <a class="getDirections"
            href="https://www.google.com/maps/place/%D8%A7%D9%83%D8%A7%D8%AF%D9%8A%D9%85%D9%8A%D8%A9+6+%D8%A7%D9%83%D8%AA%D9%88%D8%A8%D8%B1+%D8%A8%D9%85%D8%B5%D8%B1+%D8%A7%D9%84%D8%AC%D8%AF%D9%8A%D8%AF%D8%A9,+El-Shaikh+Mohammed,+Al+Golf,+Maadi,+Cairo+Governorate+4451433%E2%80%AD/data=!4m2!3m1!1s0x14583f0861b49931:0xd88c4d79746b4bb2?utm_source=mstt_1&entry=gps&lucs=47068615,,47075915&g_ep=CAESCjExLjEwMC41MDEYACDXggMqEjQ3MDY4NjE1LCw0NzA3NTkxNUICRUc%3D"
            target="_blank">
            <span>{{'GET_DIRECTIONS' | translate}}</span>
            <img src="assets/images/icons/arrow.png" alt="arrow"
              [ngStyle]="{'transform': translate.currentLang == 'ar' ? 'rotate(0deg)' : 'rotate(180deg)' }">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
