<div class="branches">
  <div class="container">
    <h3 data-aos="fade-left" data-aos-duration="2000" data-aos-offset="1000">فروع أكاديمية 6 أكتوبر</h3>
    <div class="row">
      <div class="col-lg-3 col-md-6" data-aos="flip-left" data-aos-duration="1500" data-aos-offset="0">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>الفرع الرئيسى بالجيزة</h4>
          <p>الجيزة : 232 ش الهرم محطة ش ضياء بجوار مطعم بازوكا</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01009007349</span>
            </li>
          </ul>
          <a class="getDirections">
            <span>احصل على الاتجاهات</span>
            <img src="assets/images/icons/arrow.png" alt="arrow">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" data-aos="flip-left" data-aos-duration="2000" data-aos-offset="500">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>فرع الأكاديمية بالقليوبية</h4>
          <p>القليوبية : شبرا الخيمة شارع 15 مايو (الشـارع الجـديد) محطة جامـع أبو الهـنا</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01028800044</span>
            </li>
          </ul>
          <a class="getDirections">
            <span>احصل على الاتجاهات</span>
            <img src="assets/images/icons/arrow.png" alt="arrow">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" data-aos="flip-left" data-aos-duration="2500" data-aos-offset="700">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>فرع الأكاديمية بالغربية</h4>
          <p>الغربية : طنطا ش الشهيد مصطفى أبو زهره (نايف عماد سابقاً ) بجوار مودرن سكول</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01000097878</span>
            </li>
          </ul>
          <a class="getDirections">
            <span>احصل على الاتجاهات</span>
            <img src="assets/images/icons/arrow.png" alt="arrow">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6" data-aos="flip-left" data-aos-duration="3000" data-aos-offset="1000">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>فرع بنها</h4>
          <p>كورنيش النيل حي الڤلل شارع رقم 2 بجوار استراحة المحافظ</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01025999712</span>
            </li>
          </ul>
          <a class="getDirections">
            <span>احصل على الاتجاهات</span>
            <img src="assets/images/icons/arrow.png" alt="arrow">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
