@import "../../../abstracts/variables", "../../../abstracts/mixins";
footer {
  position: relative;
  .footer-box {padding: 0em 10em 0;}
  .contact {
    margin-top: 3em;
    p {
      color: #fff;
      font-size: 3em;
    }
    .socialLinks {
      a {
        font-size: 1.3em;
        text-align: center;
        i {
          width: 15%;
          color: #fff;
        }
      }
    }
  }
  .anotherLinks {
    margin-top: 7em;
    p {
      color: #fff;
      font-size: 3em;
    }
    .links {
      a {
        display: block;
        color: #fff;
        margin-bottom: 1em;
        font-size: 1.3em;
      }
    }
  }
  .anotherPages {
    font-weight: 500;
    a {
      color: #fff;
      display: block;
      margin-bottom: 1em;
      font-size: $fontSize + 2;
      cursor: pointer;
    }
  }
  .contact-us {
    text-align: left;
    .contacts-ways {
      color: #fff;
      h6 {
        margin-bottom: 1em;
        span {
          margin: 0 10px;
          font-size: 1.3em
        }
      }
    }
  }
  .copyRight {
    display: flex;
    margin: 0 17em;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5em;
    p {
      font-size: 16px;
    }
    img {margin-bottom: 1em;}
  }
  p.directP {
    color: #fff;
    font-size: $fontSize + 10;
  }
  // .margin-top-10 {
  //   margin-top: 10em;
  // }
  // .margin-top-7 {
  //   margin-top: 7em;
  // }
  .questions {
    // background-image: url('/assets/images/shapes/questions.png');
    background-position: center;
    background-size: 100% 100%;
    width: 80%;
    margin: auto;
    .background {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7em;
      .texts {
        h4 {
          color: #52585B;
          margin-bottom: 1em;
        }
        p {
          color: #161E6D;
        }
      }
      .social {
        h3 {
          font-weight: 600;
          margin-bottom: 0.5em;
        }
        ul {
          display: flex;
          justify-content: space-around;
          li {
            width: 20px;
            height: 20px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}




@media (min-width: 1200px) {
  footer {
    // background-image: url("/assets/images/main_assets/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 13em 0em 2em;
  }
}

@media (max-width: 1199px) {
  footer {
    background-color: #37c3ad;
    background-image: none !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    .questions {
      position: relative;
      top: -2em;
      border-radius: 15px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
      background: #fff;
      .background {
        padding: 2em;
        flex-wrap: wrap;
        text-align: center;
        gap: 1em;
      }
    }
    .footer-box {
      padding: 2em 4em 0;
    }
  }
  .copyRight {
    margin: 0 2em !important;
    padding-bottom: 1em;
  }
}

@media (max-width: 991px) {
  .footer-box {
    padding: 2em 0em 0em !important;
    text-align: center !important;
    & > div { margin-bottom: 1em; }
  }
  .contact-us {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .texts { width: 100%; }
  .social { width: 100%; }
}
@media (max-width: 575px) {
  .copyRight {
    margin: 0 2em !important;
    padding-bottom: 1em;
  }
}
