<footer [ngStyle]="{'background-image': translate.currentLang == 'ar'
? 'url(/assets/images/main_assets/footer.png)'
: 'url(/assets/images/main_assets/footerEnglish.png)'}">
  <div class="questions" data-aos="flip-right" data-aos-duration="2000" data-aos-offset="100"
    [ngStyle]="{'background-image': translate.currentLang == 'ar'
      ? 'url(/assets/images/shapes/questions.png)'
      : 'url(/assets/images/shapes/questionsEnglish.png)'}">
    <div class="background">
      <div class="texts">
        <h4>{{"DO_YOU_HAVE_QUESTIONS" | translate}}</h4>
        <p>{{"WE_HAVE_TEAM" | translate}}</p>
      </div>
      <div class="social">
        <h3>{{"CONTACT_US" | translate}}</h3>
        <ul class="list-unstyled">
          <li><img src="assets/images/icons/facebook.svg" alt="facebook"></li>
          <li><img src="assets/images/icons/google.svg" alt="google"></li>
          <li><img src="assets/images/icons/twitter.svg" alt="twitter"></li>
          <li><img src="assets/images/icons/instagram.svg" alt="instagram"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-box d-flex flex-wrap">
    <div class="col-lg-3 col-sm-6 flexBox" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="100">
      <div class="logo">
        <img src="assets/images/main_assets/white-logo.png" alt="logo"/>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="500">
      <div class="anotherPages margin-top-7">
        <p class="directP">{{"ANOTHER_LINKS" | translate}}</p>
        <a [routerLink]="'about-academy'" [queryParams]="{item: 'departments'}">
          {{"DEPARTMENTS" | translate}}
        </a>
        <a [routerLink]="'studying-system'">
          {{"ACADEMIC_SYSTEM" | translate}}
        </a>
        <a (click)="register()">
          {{"ONLINE_REGISTER" | translate}}
        </a>
        <a [routerLink]="'academy-gallery'">
          {{"MEDIA" | translate}}
        </a>
        <a [routerLink]="'graduates'">
          {{"GRADUATES" | translate}}
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="900">
      <div class="anotherPages margin-top-10">
        <a [routerLink]="'about-academy'" [queryParams]="{item: 'partners'}">
          {{"SUCCESS_PARTNERS" | translate}}
        </a>
        <a href="https://e-learning.6ohd.com/ar/login" target="_blank">
          {{"PLATFORM" | translate}}
        </a>
        <a [routerLink]="'about-academy'" [queryParams]="{item: 'conversations'}">
          {{"QUESTION_ANSWER" | translate}}
        </a>
        <a [routerLink]="'about-academy'" [queryParams]="{item: 'jobs'}">
          {{"ABOUT_SUB_ITEMS.JOBS" | translate}}
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="1000">
      <div class="contact-us margin-top-7">
        <p class="directP">{{"CONTACT_US" | translate}}</p>
        <div class="contacts-ways">
          <h6>
            <span>02-42242224</span>
            <img src="assets/images/icons/call.svg" alt="call">
          </h6>
          <h6>
            <span>02-42242224</span>
            <img src="assets/images/icons/call.svg" alt="call">
          </h6>
          <h6>
            <span>01028800044</span>
            <img src="assets/images/icons/white-whatsapp.png" alt="whatsapp">
          </h6>
          <h6>
            <span>info@email.com</span>
            <img src="assets/images/icons/envelope.png" alt="">
          </h6>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="copyRight">
    <p class="mt-3">{{"COPYRIGHT" | translate}}</p>
    <img src="assets/images/main_assets/small-logo.png" alt="logo"/>
  </div>
</footer>
