<div class="modal-header">
  <h4 class="modal-title">{{"SUCCESS_PARTNERS" | translate}}</h4>
  <button type="button" data-bs-dismiss="modal" class="btn-close close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="box">
    <div class="partner-details">
      <div class="content">
        <div class="header">
          <h6>{{Partner}}</h6>
        </div>
        <div class="body">
          <p>{{partnerInfo}}</p>
        </div>
      </div>
      <div class="footer">
        <div class="img">
          <img [src]="partnerImg" alt="">
        </div>
        <div class="details">
          <span class="name">{{Partner}}</span>
        </div>
      </div>
    </div>
    <div class="partner-img">
      <div class="img">
        <img src="assets/images/partner.png" alt="">
      </div>
    </div>
  </div>
</div>
