<div class="modal-header">
  <h4 class="modal-title">{{"SUCCESS_PARTNERS" | translate}}</h4>
  <button type="button" data-bs-dismiss="modal" class="btn-close close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="box">
    <div class="partner-details">
      <div class="header">
        <h6>{{Partner}}</h6>
      </div>
      <div class="body">
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.</p>
      </div>
      <div class="footer">
        <div class="img">
          <img [src]="partnerImg" alt="">
        </div>
        <div class="details">
          <span class="name">{{Partner}}</span>
          <span>لوريم إيبسوم هو ببساطة نص شكلي</span>
        </div>
      </div>
    </div>
    <div class="partner-img">
      <div class="img">
        <img src="assets/images/partner.png" alt="">
      </div>
    </div>
  </div>
</div>
