<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم تكنولوجيا الجرافيك' : 'Graphic Technology Department'" [departImg]="'assets/images/departments-icons/itGraphicDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى أكاديمية 6 أكتوبر فى قسم تكنولوجيا الجرافيك  إلى توفير مقومات التطوير المستمر للتعليم فى مجال تكنولوجيا الجرافكس  لمواكبة التطورات العلمية والتكنولوجية المتسارعة، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية.</p>
        <p *ngIf="translate.currentLang == 'ar'">ويُقْصَدُ به القسم المنوظ بالعملية التعليمية الكاملة لطلاب التخصص  والمسؤول عن إعداد وتخريج  اختصاصى مهنى فى (جرافكس- موشن جرافكس-  فنى تصميم ) حسب المتطلبات  المهنية الواردة في اللائحة.</p>

        <p *ngIf="translate.currentLang == 'en'">The 6th of October Academy in the Graphic Technology Department seeks to provide the elements for continuous development of education in the field of graphics technology to keep pace with the rapid scientific and technological developments, and to raise the department's graduates to the level of excellence and high competitiveness.</p>
        <p *ngIf="translate.currentLang == 'en'">It means the department entrusted with the full educational process for students of the specialization and responsible for preparing and graduating a professional specialist in (graphics - motion graphics - design technician) according to the professional requirements mentioned in the regulations.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في توظيف جميع خدمات تكنولوجيا الجرافيك لتقديم حلول متميزة  فى مجال التصميم بغرض الالتزام بالمعايير والمستويات العالمية في نظم التصميم  الحاسوبية ومواكبة التقدم والتطور في مجال تكنولوجيا التصميم والتركيز على متطلبات السوق الفنية- تقديم أفضل البرامج الإلكترونية المستمدة من المؤسسات الأكاديمية ذات المستوى العالمي والحفاظ عليها بالإضافة إلى نشر المهارات المتعلقة بالتصميم الذكي والتفاعلي .</p>

        <p *ngIf="translate.currentLang == 'en'">The department's mission is to employ all graphic technology services to provide distinguished solutions in the field of design in order to adhere to international standards and levels in computer design systems, keep abreast of progress and development in the field of design technology, and focus on technical market requirements - providing and maintaining the best electronic programs derived from world-class academic institutions In addition to spreading skills related to intelligent and interactive design</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itGraphicDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itGraphicDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد المتخصصين  والمهنين  فى مجال تكنولوجيا  الجرافيك والبرمجيات المتخصصة</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية ومنهجيات التطبيق بما يمكنهم من المنافسة العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال تقنية وتكنولوجيا المعلومات</p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات العمل على برمجيات الجرافيك المونتاج والصوتيات</p>

        <p *ngIf="translate.currentLang == 'en'">Preparing specialists and professionals in the field of graphic technology and specialized software</p>
        <p *ngIf="translate.currentLang == 'en'">Establishing trainees with theoretical foundations and application methodologies to enable them to compete globally</p>
        <p *ngIf="translate.currentLang == 'en'">Qualify the trainees technically to keep pace with the rapid development in the field of technology and information technology</p>
        <p *ngIf="translate.currentLang == 'en'">Acquisition of working skills on graphics software, montage and audio</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من اعضاء هيئة التدريس من الاساتذة والمعيدين والمهندسين الاكفاء والمتميزين في عملهم وذوي خبرة عالية سواء اكاديمية او عملية.</p>
        <p *ngIf="translate.currentLang == 'en'">The department includes a group of faculty members who are professors, teaching assistants, and engineers who are qualified and distinguished in their work and have high experience, whether academic or practical.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الفنية لمصمم الجرافيك  في كافة المنظمات العاملة في المجال ويكون ذو كفاء عالية وملم بكافة ما يتخصص به فى مجال تكنولوجيا  الجرافك .</p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to qualify the graduate to be able to carry out tasks, whether in the field of software, computer networks, graphics, or montage in all organizations working in the field.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">Two academic years, 4 semester.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itGraphicDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
