<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم تكنولوجيا الجرافيك' : 'Department of Graphic Technology'" [departImg]="'assets/images/departments-icons/itGraphicDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى أكاديمية 6 أكتوبر فى قسم تكنولوجيا الجرافيك  إلى توفير مقومات التطوير المستمر للتعليم فى مجال تكنولوجيا الجرافكس  لمواكبة التطورات العلمية والتكنولوجية المتسارعة، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية.</p>
        <p *ngIf="translate.currentLang == 'ar'">ويُقْصَدُ به القسم المنوظ بالعملية التعليمية الكاملة لطلاب التخصص  والمسؤول عن إعداد وتخريج  اختصاصى مهنى فى (جرافكس- موشن جرافكس-  فنى تصميم ) حسب المتطلبات  المهنية الواردة في اللائحة.</p>

        <p *ngIf="translate.currentLang == 'en'">The Department of Graphic Technology at 6th October Academy aspires to provide the essential elements for continuous development in the field of graphic technology, in order to keep pace with rapid scientific and technological advancements, and elevate the graduates of the department to a level of excellence and high competitiveness.</p>
        <p *ngIf="translate.currentLang == 'en'">The department is responsible for the complete educational process of specialized students and is dedicated to preparing and graduating professional specialists in (Graphics, Motion Graphics, Design Technician) in accordance with the professional requirements stipulated in the regulations.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في توظيف جميع خدمات تكنولوجيا الجرافيك لتقديم حلول متميزة  فى مجال التصميم بغرض الالتزام بالمعايير والمستويات العالمية في نظم التصميم  الحاسوبية ومواكبة التقدم والتطور في مجال تكنولوجيا التصميم والتركيز على متطلبات السوق الفنية- تقديم أفضل البرامج الإلكترونية المستمدة من المؤسسات الأكاديمية ذات المستوى العالمي والحفاظ عليها بالإضافة إلى نشر المهارات المتعلقة بالتصميم الذكي والتفاعلي .</p>

        <p *ngIf="translate.currentLang == 'en'">Utilize all graphic technology services to provide distinguished solutions in the field of design, with a commitment to international standards and levels in computerized design systems, while keeping abreast of advancements and developments in design technology and focusing on the requirements of the artistic market. We offer the best electronic programs derived from world-class academic institutions and ensure their preservation, in addition to disseminating skills related to smart and interactive design.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itGraphicDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itGraphicDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد المتخصصين  والمهنين  فى مجال تكنولوجيا  الجرافيك والبرمجيات المتخصصة</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية ومنهجيات التطبيق بما يمكنهم من المنافسة العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال تقنية وتكنولوجيا المعلومات</p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات العمل على برمجيات الجرافيك المونتاج والصوتيات</p>

        <p *ngIf="translate.currentLang == 'en'">Preparing specialists and professionals in the field of Graphics Technology and specialized software.</p>
        <p *ngIf="translate.currentLang == 'en'">Establishing trainees with theoretical foundations and practical methodologies that enable them to compete globally.</p>
        <p *ngIf="translate.currentLang == 'en'">Technically qualifying trainees to keep up with the rapid advancements in Information Technology and Technology.</p>
        <p *ngIf="translate.currentLang == 'en'">Acquiring skills in working with graphic software, editing, and audio production.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من اعضاء هيئة التدريس من الاساتذة والمعيدين والمهندسين الاكفاء والمتميزين في عملهم وذوي خبرة عالية سواء اكاديمية او عملية.</p>
        <p *ngIf="translate.currentLang == 'en'">The department comprises a teaching staff, including professors, teaching assistant, and competent engineers, all of whom possess extensive academic and training experience.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الفنية لمصمم الجرافيك  في كافة المنظمات العاملة في المجال ويكون ذو كفاء عالية وملم بكافة ما يتخصص به فى مجال تكنولوجيا  الجرافك .</p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to equip the graduate with the necessary skills to perform technical tasks as a graphic designer in various organizations within the field. The graduate will possess high competence and expertise in the domain of graphic technology.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">The academic program spans two academic years, consisting of four semesters.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/itGraphicDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
