<div class="page">
  <div class="first-box">
    <div class="row">
      <div class="col-lg-6">
        <div class="vision">
          <div class="header">
            <h3>الرؤية و الرسالة</h3>
          </div>
          <div class="content">
            <div class="item">
              <div class="item-header">
                <div class="img">
                  <img src="assets/images/icons/black-bag.svg" alt="">
                </div>
                <span>رؤيتنا</span>
              </div>
              <div class="body">
                <p>إعداد كادر مهنى مميز يلبى إحتياجات سوق العمل المحلي والإقليمى والعالمي من خلال برامج مهنية تنافسية .</p>
              </div>
            </div>
            <div class="item">
              <div class="item-header">
                <div class="img">
                  <img src="assets/images/icons/black-bag.svg" alt="">
                </div>
                <span>رسالتنا</span>
              </div>
              <div class="body">
                <p>تقديم خدمة تعليمية تدريبية مهنية متميزة ،تعتمد على الابداع في التعليم والإمتاع فى التدريب وصولاً الى الاتقان فى المخرج ، بغرض خدمة المجتمع وفق معايير الجودة المهنية ومن خلال التعاون والشراكة مع مؤسسات رسمية ومركز ، لتأهيل كوادر مهنية مميزة قادرة علي تحقيق المتطلبات القياسية المطلوبة بأسواق العمل محلياً واقليمياً ودولياً.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="video">
          <div class="img">
            <img src="assets/images/vision-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-box">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="box-image">
          <div class="img">
            <img src="assets/images/vision2.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="goals">
          <div class="header">
            <h3>أهدافنا و معادلتنا</h3>
          </div>
          <div class="content">
            <div class="item-header">
              <div class="img">
                <img src="assets/images/icons/white-bag.svg" alt="">
              </div>
              <span>أهدافنا</span>
            </div>
            <div class="body">
              <ul>
                <li>تخريج مهنى متخصص ممتلك للفنيات والمهارات العملية.</li>
                <li>توفير محاضر متطور وقادر على اكساب المتدربين الأداءات المهنية المخططة.</li>
                <li>توطيد شركة مجتمعية فاعلة بين مؤسسات القطاعين الخاص والعام.</li>
                <li>تصميم برامج مهنية متطورة مرتبطة باحتياجات السوق المحلى والأقليمى والدولى.</li>
                <li>تطوير قدرة مؤسسية مجهزة بأحدث التجهيزات التعليمية .</li>
                <li>ضمان إعتماد مؤسسى وبرامجى محلى وعالمى فى التعليم والتدريب المهنى.</li>
              </ul>
            </div>
            <div class="footer">
              <div class="item-header">
                <div class="img">
                  <img src="assets/images/icons/white-bag.svg" alt="">
                </div>
                <span>معادلتنا</span>
              </div>
              <div class="item-body">
                <span>تعليم + تدريب + مهنة =</span>
                <div class="img">
                  <img src="assets/images/main_assets/white-logo.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third-box">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="question-box">
          <div class="header">
            <h3>سؤالنا و شعارنا</h3>
          </div>
          <div class="question">
            <div class="item-header">
              <div class="img">
                <img src="assets/images/icons/black-bag.svg" alt="">
              </div>
              <span>سؤالنا</span>
            </div>
            <div class="item-content">
              <span>لماذا التدريب المهنى؟</span>
              <span>لأن برامج التدريب المهنى هى مطلب عالمى الآن للأسباب الأربع التالية:</span>
              <ul>
                <li>(عملى) يجمع بين الممارسة العملية(70%) والتعليم النظري(30%)</li>
                <li>(سريع) التأهيل المباشر لسوق العمل (3- 9شهور)</li>
                <li>(متخصص) التركيز على التخصص المطلوب بدقة لسوق العمل</li>
                <li>(أرخص) التكلفة الاقتصادية الأقل توجه عالمى اليوم</li>
              </ul>
            </div>
          </div>
          <div class="question">
            <div class="item-header">
              <div class="img">
                <img src="assets/images/icons/black-bag.svg" alt="">
              </div>
              <span>شعارنا</span>
            </div>
            <div class="item-content">
              <ul>
                <li>امتلك مهنتك</li>
                <li>التعـلـم فرصة رائعة للتميز</li>
                <li>التدريب الكلمة السحرية للتقدم</li>
                <li>المهـنة الطريق الأسرع للثراء</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="box-image">
          <div class="img">
            <img src="assets/images/vision3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>