<div class="text-center my-5">
  <p>للتسجيل  في القسم قم بملء استمارة التقديم عبر الإنترنت</p>
  <button class="primary" (click)="register()">قم بالتسجيل الان</button>
</div>
<div class="containerOfJoin">
  <div class="forJoin">
    <div class="img">
      <img src="assets/images/toJoin.png" alt="">
    </div>
    <div class="data">
      <h3>للإلتحاق بأكاديمية 6 أكتوبر</h3>
      <p>يحصل الطالب على شهادة معتمدة من كبرى الجامعات المصرية للعمل داخل مصر وتصدق من وزارة الخارجية المصرية للعمل خارج مصر</p>
      <div class="actions">
        <button class="primary" (click)="register()">قم بالتسجيل الان</button>
        <button class="primary-outline" [routerLink]="'../../about-academy'" [queryParams]="{item: 'departments'}">تعرف على الاقسام</button>
      </div>
    </div>
  </div>
</div>
