@import "../../../../abstracts/mixins", "../../../../abstracts/variables";
.text-center {
  p {
    font-size: 23px;
    font-weight: bold;
  }
}
.containerOfJoin {
  display: flex;
  justify-content: flex-end;
  .forJoin {
    display: flex;
    background: rgba(37, 159, 139, 14%);
    justify-content: end;
    align-items: center;
    padding: 5em;
    position: relative;
    .img {
      background: #fff;
      padding: 7px;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .data {
      h3 {
        font-weight: bold;
        color: $mainBlueColor;
      }
      p {
        width: 60%;
        margin: 2em 0;
        color: #6D6D6D;
      }
      .actions {
        display: flex;
        gap: 1em;
      }
    }
  }
}


@media (min-width:1400px) {
  .forJoin {
    width: 80%;
    .img {
      position: absolute;
      right: -100px;
      width: 250px;
    }
  }
}

@media (max-width: 1399px) {
  .forJoin {
    width: 100%;
    gap: 3em;
    justify-content: space-around;
  }
}

@media (max-width: 1199px) {
  .forJoin {
    margin-bottom: 4em;
  }
}

@media (max-width: 991px) {
  .forJoin {
    flex-wrap: wrap;
    .img { width: 100%; }
    .data {
      text-align: center;
      p { width: 100% !important; }
      .actions { justify-content: center;}
    }
  }
}

@media ( max-width: 575px) {
  .forJoin {
    .actions {
      flex-wrap: wrap;
      button { width: 100%; }
    }
  }
}
