<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم الصحافة والإعلام' : 'Department of Journalism and Media'" [departImg]="'assets/images/departments-icons/journalismDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">تسعى أكاديمية 6 أكتوبر من خلال قسم الخدمات الإعلامية والصحفية  لأن تكون الرائدة فى اعداد الكوادر الفنية المتخصصة فى المجال، كما تسعى الى تميز خريجها لتكون أفضل الكوادر وأن تجتذب أعلي الكفاءات العلمية للتطوير الدائم المتلائم مع احتياجات سوق العمل الإعلامى  بتدريس المواد المتعلقة بالصحافة والاذاعة والتليفزيون والعلاقات العامة على يد نخبة متميزة من اعضاء هيئة التدريس والهيئة المعاونة .</p>
        <p *ngIf="translate.currentLang == 'en' ">Department of Journalism and Media The Department of Journalism and Media is characterized by teaching subjects related to journalism, radio, television and public relations by a distinguished elite of faculty members and the supporting staff, during two academic years that qualifies the student for the labor market in the field of journalism and media according to the academic and training qualifications required, so that the student becomes able to work As a reporter or editor in paper and electronic newspapers, or as a reporter and broadcaster in both radio and television, in addition to public relations in major institutions and companies.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">تتبلور رسالة القسم في إعداد وتأهيل خريجين على مستوى عال من الكفاءة و الفاعلية  و تلبية احتياجات سوق وتحقيق مكانة متقدمة بين أفضل اكاديميات الصحافة والاعلام في مصر والوطن العربي من خلال تأهيل الخريجين للمنافسة في سوق العمل المحلي والوطني والعالمي فى المجال الصحفي والإعلامي لتكون الأكاديمية في مقدمة الاكاديميات المصرية والعربية للصحافة والإعلام.</p>
        <p *ngIf="translate.currentLang == 'en' ">Achieving an advanced position among the best academies of journalism and media in Egypt and the Arab world by qualifying graduates to compete in the local, national and global labor market in the field of journalism and media so that the academy is at the forefront of Egyptian and Arab academies for journalism and media, and seeks to gain the community’s trust in its graduates by providing a distinguished environment Teaching, learning, scientific research and community service.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/journalismDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/journalismDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تخريج كوادر فنية مؤهلة للقيام بأعمال  الخدمات الاعلامية المساعدة</p>
        <p *ngIf="translate.currentLang == 'ar'">تزويد الطلبة بالمعلومات النظرية والعملية في مجال الاعلام المرئى والمسموع والمقروء</p>
        <p *ngIf="translate.currentLang == 'ar'"> اكساب المتدربين فن ومهارات الكتابة الصحفية ومهارات القيام بالتحقيقات الصحفية.</p>
        <p *ngIf="translate.currentLang == 'ar'">التدريب على مهارات جميع المعلومات وتصنيفها وتحريرها ونشرها.</p>
        <p *ngIf="translate.currentLang == 'ar'"> التدريب على مهارات الوقوف امام الكاميرا واستخدام ادوات التصوير.</p>
        <p *ngIf="translate.currentLang == 'ar'">اكساب مهارات التعليق الصوتى واستخدام ادواته</p>

        <p *ngIf="translate.currentLang == 'en' ">The department aims to provide students with theoretical and practical information in the field of journalism as follows: Training students on the art and skills of journalistic writing Training students on the art and skills of conducting journalistic investigations Training students on the art and skills of all information, classifying and writing it in news, editing and publishing it Training students on the art and skills of reporting Truth to the public, exposing falsehood and media misinformation - Training students on the art and skills of crafting accurate, objective, clear and ethical media messages - Training students on the art and skills of preparing, writing and publishing scientific research Training students on knowing the regulations, instructions, laws and charters that regulate the work of journalism.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة والمعيدين والمهندسين الأكفاء وذوي خبرة عالية أكاديمياً وتدريبياً</p>
        <p *ngIf="translate.currentLang == 'en' ">The department includes a group of professors and teaching assistants to teach academic subjects for the Department of Journalism and Information.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بمختلف اعمال الخدمات الإعلامية والصحفية  وتأهيلهم  لسوق العمل فى المجال الصحفي والإعلامي وفق ما يتطلبه من مؤهلات دراسية وتدريبية، ليصبح قادر على العمل كمراسل او محرر صحفي فى الصحف الورقية والالكترونية، او معد ومذيع فى الراديو والتليفزيون </p>
        <p *ngIf="translate.currentLang == 'en' ">The Department of Journalism and Information qualifies for the following jobs: Journalist Editor / Television Producer / Program Producer / Correspondent.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">Two academic years, 4 semester.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/journalismDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
