<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم الصحافة والإعلام' : 'Department of Media Services'" [departImg]="'assets/images/departments-icons/journalismDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">تسعى أكاديمية 6 أكتوبر من خلال قسم الخدمات الإعلامية والصحفية  لأن تكون الرائدة فى اعداد الكوادر الفنية المتخصصة فى المجال، كما تسعى الى تميز خريجها لتكون أفضل الكوادر وأن تجتذب أعلي الكفاءات العلمية للتطوير الدائم المتلائم مع احتياجات سوق العمل الإعلامى  بتدريس المواد المتعلقة بالصحافة والاذاعة والتليفزيون والعلاقات العامة على يد نخبة متميزة من اعضاء هيئة التدريس والهيئة المعاونة .</p>
        <p *ngIf="translate.currentLang == 'en' ">Through the Department of Media and Journalism Services, 6th of October Academy aims to be a leading institution in preparing specialized technical personnel in the field. We strive to distinguish our graduates as top-tier professionals, attracting the highest academic qualifications for continuous development that aligns with the needs of the media job market. We achieve this by offering courses related to journalism, radio, television, and public relations, taught by an exceptional teaching stuff.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">تتبلور رسالة القسم في إعداد وتأهيل خريجين على مستوى عال من الكفاءة و الفاعلية  و تلبية احتياجات سوق وتحقيق مكانة متقدمة بين أفضل اكاديميات الصحافة والاعلام في مصر والوطن العربي من خلال تأهيل الخريجين للمنافسة في سوق العمل المحلي والوطني والعالمي فى المجال الصحفي والإعلامي لتكون الأكاديمية في مقدمة الاكاديميات المصرية والعربية للصحافة والإعلام.</p>
        <p *ngIf="translate.currentLang == 'en' ">The mission of the department is to prepare and qualify graduates at a high level of competence and effectiveness, meeting the needs of the market and achieving a prominent position among the best journalism and media academies in Egypt and the Arab world. By equipping graduates to compete in the local, national, and international job markets in the field of journalism and media, the academy aims to be at the forefront of Egyptian and Arab journalism and media academies.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/journalismDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/journalismDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تخريج كوادر فنية مؤهلة للقيام بأعمال  الخدمات الاعلامية المساعدة</p>
        <p *ngIf="translate.currentLang == 'ar'">تزويد الطلبة بالمعلومات النظرية والعملية في مجال الاعلام المرئى والمسموع والمقروء</p>
        <p *ngIf="translate.currentLang == 'ar'"> اكساب المتدربين فن ومهارات الكتابة الصحفية ومهارات القيام بالتحقيقات الصحفية.</p>
        <p *ngIf="translate.currentLang == 'ar'">التدريب على مهارات جميع المعلومات وتصنيفها وتحريرها ونشرها.</p>
        <p *ngIf="translate.currentLang == 'ar'"> التدريب على مهارات الوقوف امام الكاميرا واستخدام ادوات التصوير.</p>
        <p *ngIf="translate.currentLang == 'ar'">اكساب مهارات التعليق الصوتى واستخدام ادواته</p>

        <p *ngIf="translate.currentLang == 'en' ">Graduating qualified technical personnel capable of performing media support services.</p>
        <p *ngIf="translate.currentLang == 'en' ">Providing students with theoretical and practical knowledge in visual, audio, and written media.</p>
        <p *ngIf="translate.currentLang == 'en' ">Equipping trainees with the art and skills of journalism writing and investigative reporting.</p>
        <p *ngIf="translate.currentLang == 'en' ">Training on information gathering, classification, editing, and publishing skills.</p>
        <p *ngIf="translate.currentLang == 'en' ">Training on camera presence and the use of filming tools.</p>
        <p *ngIf="translate.currentLang == 'en' ">Developing skills in voice-over commentary and its tools.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة والمعيدين والمهندسين الأكفاء وذوي خبرة عالية أكاديمياً وتدريبياً</p>
        <p *ngIf="translate.currentLang == 'en' ">The department includes a group of professors and teaching assistants to teach academic subjects for the Department of Journalism and Information.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar' ">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بمختلف اعمال الخدمات الإعلامية والصحفية  وتأهيلهم  لسوق العمل فى المجال الصحفي والإعلامي وفق ما يتطلبه من مؤهلات دراسية وتدريبية، ليصبح قادر على العمل كمراسل او محرر صحفي فى الصحف الورقية والالكترونية، او معد ومذيع فى الراديو والتليفزيون </p>
        <p *ngIf="translate.currentLang == 'en' ">The department aims to prepare graduates to be capable of undertaking various tasks in media and journalism services, equipping them for the job market in the field of journalism and media, in line with the required academic and training qualifications. They will be prepared to work as reporters or editors in print and digital newspapers, or as producers and presenters in radio broadcasting.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">The academic program spans two academic years, consisting of four semesters.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/journalismDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
