<app-department-header [departName]="'قسم الصحافة والإعلام'" [departImg]="'assets/images/departments-icons/journalismDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>رؤية القسم</h6>
        <p>قسم الصحافة والاعلام يتميز قسم الصحافة والاعلام بتدريس المواد المتعلقة بالصحافة والاذاعة والتليفزيون والعلاقات العامة على يد نخبة متميزة من اعضاء هيئة التدريس والهيئة المعاونة وذلك خلال عامان دراسيان تؤهل الطالب لسوق العمل فى المجال الصحفي والإعلامي وفق ما يتطلبه من مؤهلات دراسية وتدريبية، ليصبح الطالب قادر على العمل كمراسل او محرر صحفي فى الصحف الورقية والالكترونية، او معد ومذيع فى كلا من الراديو والتليفزيون بالإضافة الى العلاقات العامة فى كبرى المؤسسات والشركات</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>رسالة القسم</h6>
        <p>تحقيق مكانة متقدمة بين افضل اكاديميات الصحافة والاعلام في مصر والوطن العربي من خلال تأهيل الخريجين للمنافسة في سوق العمل المحلي والوطني والعالمي فى المجال الصحفي والإعلامي لتكون الاكاديمية في مقدمة الاكاديميات المصرية والعربية للصحافة والإعلام, وتسعى الى ان يكتسب ثقة المجتمع في خريجيه من خلال توفير بيئة متميزة وتنافسية للتعليم والتعلم والبحث العلمي وخدمة المجتمع</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>الشهادة</h6>
        <p>يحصل الطالب على شهادة معتمدة من كبرى الجامعات المصرية للعمل داخل مصر وتصدق من وزارة الخارجية المصرية للعمل خارج مصر</p>
      </div>
    </div>
  </div>
  <div class="mission-img">
    <img src="assets/images/departments-icons/journalismDepartMission.png" alt="">
  </div>
</div>
<div class="targeting">
  <div class="targeting-box">
    <div class="img">
      <img src="assets/images/departments-icons/goal.svg" alt="">
    </div>
    <div class="text">
      <h6>أهداف القسم</h6>
      <p>يهدف القسم إلى تزويد الطلبة بالمعلومات النظرية والعملية في مجال الصحافة على النحو الآتي تدريب الطلبة على فن ومهارات الكتابة الصحفية تدريب الطلبة على فن ومهارات القيام بالتحقيقات الصحفية- تدريب الطلبة على فن ومهارات جميع المعلومات وتصنيفها وكتابتها في خبر وتحريرها ونشرها- تدريب الطلبة على فن ومهارات نقل الحقيقة للجمهور وكشف الزيف والتضليل الاعلامي- تدريب الطلبة على فن ومهارات صياغة الرسائل الإعلامية الدقيقة والموضوعية والواضحة والأخلاقية- تدريب الطلبة على فن ومهارات إعداد وكتابة ونشر الابحاث العلمية تدريب الطلبة على معرفة الانظمة والتعليمات والقوانين والمواثيق التي تنظم عمل الصحافة</p>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>أعضاء هيئة التدريس</h6>
        <p>يضم القسم نخبة من الاساتذة والمعيدين لتدريس المواد الأكاديمية لقسم الصحافة والإعلام</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>توصيف عمل الخريج</h6>
        <p>يؤهل قسم الصحافة والاعلام إلى الأعمال الآتية : محرر صحفي / معد تليفزيوني/ معد برامج / مراسل</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>النظام الدراسي</h6>
        <p>عامان دراسيان 4 ترم</p>
      </div>
    </div>
  </div>
  <div class="staff-img">
    <img src="assets/images/departments-icons/journalismDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
