@import "../../../../abstracts/mixins", "../../../../abstracts/variables";
.training-gallery {
  margin-top: 3em;
  h4 {
    text-align: center;
    color: $mainBlueColor;
    font-weight: bold;
  }
  .img {
    overflow: hidden;
    margin: 1em 0;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in;
      overflow: hidden;
      transform: scale(1.1);
    }
    &:hover img {
      transform: scale(1.2);
    }
  }
}
