<app-department-header
  [departName]="translate.currentLang == 'ar' ? 'قسم صيانة الأجهزة الالكترونية' : translate.currentLang == 'gr' ? 'Abteilung für elektronische Gerätewartung' : 'Department of Electronic Device Maintenance'"
  [departImg]="'assets/images/departments-icons/electronicsDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى مركز 6 أكتوبر فى قسم صيانة الأجهزة الالكترونية إلى توفير
          مقومات التطوير المستمر للتعليم فى مجال صيانة الأجهزة الالكترونية لمواكبة التطورات العلمية و التكنولوجية
          المتسارعة فى المجال، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية
          ويُقْصَدُ به القسم المنوظ بالعملية التدريبية الكاملة لطلاب التخصص والمسؤول عن إعداد وتخريج اختصاصى مهنى فى
          (صيانة الأجهزة الالكترونية) حسب المتطلبات المهنية الواردة في اللائحة</p>
        <p *ngIf="translate.currentLang == 'en'">The Electronics Maintenance Department at 6 October Academy aspires to provide the essential elements for continuous educational development in the field of electronic device maintenance. This is to keep pace with the rapid scientific and technological advancements in the field, elevate department graduates to a level of excellence, and empower them with high competitiveness. The department is dedicated to the full training process of specialization students and is responsible for preparing and graduating professional specialists in Electronic Device Maintenance, in accordance with the professional requirements outlined in the statutes. </p>
        <p *ngIf="translate.currentLang == 'gr'">
          Die Abteilung für Elektronikwartung der 6. Oktober-Akademie ist bestrebt, die wesentlichen Elemente für eine kontinuierliche Ausbildungsentwicklung im Bereich der Wartung elektronischer Geräte bereitzustellen. Ziel ist es, mit den rasanten wissenschaftlichen und technologischen Fortschritten auf diesem Gebiet Schritt zu halten, die Absolventen der Fachbereiche auf ein Spitzenniveau zu heben und ihnen eine hohe Wettbewerbsfähigkeit zu ermöglichen. Die Abteilung widmet sich dem gesamten Ausbildungsprozess der Spezialisierungsstudenten und ist für die Vorbereitung und den Abschluss von Fachkräften für die Wartung elektronischer Geräte gemäß den in der Satzung festgelegten beruflichen Anforderungen verantwortlich. 
        </p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في توظيف جميع خدمات صيانة الأجهزة الالكترونية لتقديم
          حلول متميزة فى المجال بغرض الالتزام بالمعايير و المستويات العالمية في نظم هندسة الالكترونيات ومواكبة التقدم
          والتطور الهندسى والتركيز على متطلبات السوق الفنية- تقديم أفضل الممارسات المستمدة من المؤسسات المتخصصة ذات
          المستوى العالمي والحفاظ عليها بالإضافة إلى نشر المهارات المتعلقة بها</p>
        <p *ngIf="translate.currentLang == 'en'">The mission of the department is to harness all electronic device maintenance services to deliver exceptional solutions in the field. This is done with a commitment to international standards and levels in electronics engineering systems, keeping pace with engineering progress and development, and focusing on technical market requirements. The department aims to provide the best practices derived from world-class specialized institutions and preserve them, in addition to disseminating the related skills.</p>
        <p *ngIf="translate.currentLang == 'gr'">Die Aufgabe der Abteilung besteht darin, alle Wartungsdienste für elektronische Geräte zu nutzen, um vor Ort außergewöhnliche Lösungen zu liefern. Dies geschieht mit der Verpflichtung zu internationalen Standards und Niveaus in elektrotechnischen Systemen, mit dem technischen Fortschritt und der Entwicklung Schritt zu halten und sich auf die technischen Marktanforderungen zu konzentrieren. Ziel der Abteilung ist es, die von erstklassigen Spezialinstitutionen abgeleiteten Best Practices bereitzustellen und zu bewahren sowie die damit verbundenen Fähigkeiten zu verbreiten.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/electronicsDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/electronicsDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد المتخصصين والمهنين فى مجال صيانة الأجهزة الالكترونية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية و منهجيات التطبيق بما يمكنهم من المنافسة
          العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال صيانة الأجهزة
          الالكترونية</p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات صيانة الأجهزة الالكترونية</p>
        <p *ngIf="translate.currentLang == 'ar'">الالتزام بمعايير جودة السلامة المهنية فى مجال صيانة الأجهزة الالكترونية
        </p>

        <p *ngIf="translate.currentLang == 'en'">Preparing specialists and professionals in the field of electronic device maintenance.</p>
        <p *ngIf="translate.currentLang == 'en'">Establishing trainees with theoretical foundations and practical methodologies that enable them to compete globally.</p>
        <p *ngIf="translate.currentLang == 'en'">Technically qualifying trainees to keep pace with the rapid developments in the field of electronic device maintenance. </p>
        <p *ngIf="translate.currentLang == 'en'">Acquiring skills in electronic device maintenance. </p>
        <p *ngIf="translate.currentLang == 'en'">Adhering to professional safety and quality standards in the field of electronic device maintenance.</p>

        <p *ngIf="translate.currentLang == 'gr'">Vorbereitung von Fachkräften und Fachleuten im Bereich der Wartung elektronischer Geräte</p>
        <p *ngIf="translate.currentLang == 'gr'">Ausbildung der Auszubildenden mit theoretischen Grundlagen und praktischen Methoden, die es ihnen ermöglichen, im globalen Wettbewerb zu bestehen.</p>
        <p *ngIf="translate.currentLang == 'gr'">Fachlich qualifizierte Auszubildende, um mit den rasanten Entwicklungen im Bereich der Wartung elektronischer Geräte Schritt zu halten. </p>
        <p *ngIf="translate.currentLang == 'gr'">Erwerb von 4. Erwerb von Fähigkeiten in der Wartung elektronischer Geräte.</p>
        <p *ngIf="translate.currentLang == 'gr'">Einhaltung professioneller Sicherheits- und Qualitätsstandards im Bereich der Wartung elektronischer Geräte.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة و المعيدين
          والمهندسين الأكفاء و ذوي خبرة عالية أكاديمياً و تدريبياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department comprises a teaching staff, including professors, teaching assistant, and competent engineers, all of whom possess extensive academic and training experience.</p>
        <p *ngIf="translate.currentLang == 'gr'">Die Abteilung besteht aus einem Lehrpersonal, darunter Professoren, Lehrassistenten und kompetenten Ingenieuren, die alle über umfangreiche akademische und Ausbildungserfahrung verfügen. </p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الفنية لفنى
          صيانة الأجهزة الالكترونية في كافة المنظمات العاملة في المجال و يكون ذو كفاء عالية و ملم بكافة متطلبات المجال
        </p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to qualify graduates to be capable of performing the technical tasks of an electronic device maintenance technician in all organizations operating in the field, with high competence and proficiency in all field requirements.</p>
        <p *ngIf="translate.currentLang == 'gr'">Ziel der Abteilung ist es, Absolventen zu qualifizieren, damit sie in der Lage sind, die technischen Aufgaben eines Wartungstechnikers für elektronische Geräte in allen in diesem Bereich tätigen Organisationen mit hoher Kompetenz und Kompetenz in allen Feldanforderungen auszuführen </p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">The academic program spans two
          academic years, consisting of four semesters.</p>
        <p *ngIf="translate.currentLang == 'gr'">Das akademische Programm erstreckt sich über zwei Studienjahre,
          bestehend aus vier Semestern.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/electronicsDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
