<app-department-header
  [departName]="translate.currentLang == 'ar' ? 'قسم صيانة الأجهزة الالكترونية' : translate.currentLang == 'gr' ? 'Abteilung für Betriebswirtschaftslehre' : 'Department of Maintenance of electronic devices'"
  [departImg]="'assets/images/departments-icons/electronicsDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى أكاديمية 6 أكتوبر فى قسم صيانة الأجهزة الالكترونية إلى توفير
          مقومات التطوير المستمر للتعليم فى مجال صيانة الأجهزة الالكترونية لمواكبة التطورات العلمية و التكنولوجية
          المتسارعة فى المجال، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية
          ويُقْصَدُ به القسم المنوظ بالعملية التدريبية الكاملة لطلاب التخصص والمسؤول عن إعداد وتخريج اختصاصى مهنى فى
          (صيانة الأجهزة الالكترونية) حسب المتطلبات المهنية الواردة في اللائحة</p>
        <p *ngIf="translate.currentLang == 'en'">6th of October Academy in the Business
          Administration department aims to provide continuous educational development in the field and elevate the
          department's graduates to a level of excellence and high competitive capability, in order to meet the demands
          of the job market for distinguished technicians and administrators who possess efficiency and high skills to
          lead business organizations in the knowledge society. The department also focuses on preparing administrative
          personnel, enhancing their skills and abilities to match the needs of the job market in both public and
          private sector establishments, enabling them to work in ministries, authorities, major corporations, and
          accounting firms.</p>
        <p *ngIf="translate.currentLang == 'gr'">
          Die 6. Oktober-Akademie in der Abteilung Betriebswirtschaftslehre zielt darauf ab, eine kontinuierliche
          Weiterbildung in diesem Bereich zu ermöglichen und die Absolventen der Abteilung auf ein Niveau von Exzellenz
          und hoher Wettbewerbsfähigkeit zu heben, um den Anforderungen des Arbeitsmarktes an angesehene Techniker und
          Administratoren gerecht zu werden Effizienz und hohe Fähigkeiten zur Führung von Unternehmensorganisationen in
          der Wissensgesellschaft. Die Abteilung konzentriert sich außerdem auf die Vorbereitung von
          Verwaltungspersonal, die Verbesserung ihrer Fähigkeiten und Fertigkeiten, um sie an die Anforderungen des
          Arbeitsmarkts in Einrichtungen des öffentlichen und privaten Sektors anzupassen und ihnen die Arbeit in
          Ministerien, Behörden, Großunternehmen und Wirtschaftsprüfungsgesellschaften zu ermöglichen.
        </p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في توظيف جميع خدمات صيانة الأجهزة الالكترونية لتقديم
          حلول متميزة فى المجال بغرض الالتزام بالمعايير و المستويات العالمية في نظم هندسة الالكترونيات ومواكبة التقدم
          والتطور الهندسى والتركيز على متطلبات السوق الفنية- تقديم أفضل الممارسات المستمدة من المؤسسات المتخصصة ذات
          المستوى العالمي والحفاظ عليها بالإضافة إلى نشر المهارات المتعلقة بها</p>
        <p *ngIf="translate.currentLang == 'en'">The mission of the department is to
          prepare and qualify graduates at a high level of competence and effectiveness to lead business organizations
          and meet the needs of the local, regional, and international job markets. It aims to provide students with the
          scientific foundations for efficient and effective managerial practice, as well as to supply the private and
          public sectors with specialized professionals needed for the continuous development process in society. The
          department also focuses on enhancing managerial skills through a balanced emphasis on modern theoretical
          foundations and practical application methods in the field of business.</p>
        <p *ngIf="translate.currentLang == 'gr'">Die Aufgabe der Abteilung besteht darin, Absolventen mit einem hohen
          Maß an Kompetenz und Effektivität darauf vorzubereiten und zu qualifizieren, Unternehmensorganisationen zu
          leiten und den Anforderungen der lokalen, regionalen und internationalen Arbeitsmärkte gerecht zu werden. Ziel
          ist es, den Studierenden die wissenschaftlichen Grundlagen für eine effiziente und effektive Managementpraxis
          zu vermitteln und den privaten und öffentlichen Sektor mit Fachkräften zu versorgen, die für den
          kontinuierlichen Entwicklungsprozess der Gesellschaft erforderlich sind. Ein weiterer Schwerpunkt der
          Abteilung liegt auf der Verbesserung der Managementkompetenzen durch eine ausgewogene Betonung moderner
          theoretischer Grundlagen und praktischer Anwendungsmethoden im betriebswirtschaftlichen Bereich.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/electronicsDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/electronicsDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد المتخصصين والمهنين فى مجال صيانة الأجهزة الالكترونية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية و منهجيات التطبيق بما يمكنهم من المنافسة
          العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال صيانة الأجهزة
          الالكترونية</p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات صيانة الأجهزة الالكترونية</p>
        <p *ngIf="translate.currentLang == 'ar'">الالتزام بمعايير جودة السلامة المهنية فى مجال صيانة الأجهزة الالكترونية
        </p>

        <p *ngIf="translate.currentLang == 'en'">Graduating qualified technical
          professionals capable of handling modern management and its systems.</p>
        <p *ngIf="translate.currentLang == 'en'">Elevating the standards of
          administrative practice in organizations and administrative units.</p>
        <p *ngIf="translate.currentLang == 'en'"> Utilizing modern technologies in the
          administrative processes</p>
        <p *ngIf="translate.currentLang == 'en'">Imparting trainees with managerial
          knowledge and skills, providing them with contemporary scientific managerial concepts and trends through
          practical application to meet the needs of the job market.</p>
        <p *ngIf="translate.currentLang == 'en'">Fostering creativity, innovation, and
          teamwork skills among trainees to enable them to make managerial decisions and address challenges faced by
          business organizations.</p>
        <p *ngIf="translate.currentLang == 'en'">Acquiring organizational behavior
          skills, human resource management, and functions, in addition to knowledge management, total quality
          management, and personnel affairs.</p>
        <p *ngIf="translate.currentLang == 'en'">Fulfilling the job market requirements
          for distinguished administrators, entrepreneurs, and small business owners.</p>

        <p *ngIf="translate.currentLang == 'gr'">Absolvent qualifizierter technischer Fachkräfte, die in der Lage sind,
          mit modernem Management und seinen Systemen umzugehen.</p>
        <p *ngIf="translate.currentLang == 'gr'">Erhöhung der Standards der Verwaltungspraxis in Organisationen und
          Verwaltungseinheiten.</p>
        <p *ngIf="translate.currentLang == 'gr'">Einsatz moderner Technologien in den Verwaltungsabläufen.</p>
        <p *ngIf="translate.currentLang == 'gr'">Vermittlung von Managementwissen und -fähigkeiten an Auszubildende,
          Vermittlung zeitgemäßer wissenschaftlicher Managementkonzepte und -trends durch praktische Anwendung, um den
          Anforderungen des Arbeitsmarktes gerecht zu werden.</p>
        <p *ngIf="translate.currentLang == 'gr'">Förderung der Kreativität, Innovation und Teamfähigkeit der
          Auszubildenden, um sie in die Lage zu versetzen, Managemententscheidungen zu treffen und die Herausforderungen
          zu bewältigen, mit denen Unternehmensorganisationen konfrontiert sind.</p>
        <p *ngIf="translate.currentLang == 'gr'">Erwerb von organisatorischen Verhaltenskompetenzen, Personalmanagement
          und -funktionen sowie Wissensmanagement, Gesamtqualitätsmanagement und Personalangelegenheiten.</p>
        <p *ngIf="translate.currentLang == 'gr'">Erfüllung der Arbeitsmarktanforderungen für angesehene Administratoren,
          Unternehmer und Kleinunternehmer.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة و المعيدين
          والمهندسين الأكفاء و ذوي خبرة عالية أكاديمياً و تدريبياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department comprises a teaching
          staff, including professors, teaching assistant, and competent engineers, all of whom possess extensive
          academic and training experience.</p>
        <p *ngIf="translate.currentLang == 'gr'">Die Abteilung besteht aus einem Lehrpersonal, darunter Professoren,
          Lehrassistenten und kompetenten Ingenieuren, die alle über umfangreiche akademische und Ausbildungserfahrung
          verfügen.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الفنية لفنى
          صيانة الأجهزة الالكترونية في كافة المنظمات العاملة في المجال و يكون ذو كفاء عالية و ملم بكافة متطلبات المجال
        </p>
        <p *ngIf="translate.currentLang == 'en'">The department aims to prepare
          graduates to be capable of performing various business management functions and working as assistants in roles
          such as (accountant, marketer, digital marketer, management director, general manager, planning specialist,
          human resources specialist).</p>
        <p *ngIf="translate.currentLang == 'gr'">Ziel der Abteilung ist es, Absolventen darauf vorzubereiten,
          verschiedene betriebswirtschaftliche Funktionen wahrzunehmen und als Assistenten in Rollen wie (Buchhalter,
          Vermarkter, digitaler Vermarkter, Geschäftsführer, Geschäftsführer, Planungsspezialist, Personalspezialist) zu
          arbeiten.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">The academic program spans two
          academic years, consisting of four semesters.</p>
        <p *ngIf="translate.currentLang == 'gr'">Das akademische Programm erstreckt sich über zwei Studienjahre,
          bestehend aus vier Semestern.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/electronicsDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
