<app-department-header [departName]="translate.currentLang == 'ar' ? 'قسم الخدمات الصحية' : 'Department of Health Services'" [departImg]="'assets/images/departments-icons/medicalDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_VISION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تسعى أكاديمية 6 أكتوبر فى قسم تكنولوجيا الخدمات الصحية إلى توفير مقومات التطوير المستمر للتعليم فى مجال الخدمات  الصحية لمواكبة التطورات العلمية  والمهنية المتسارعة فى المجال ، والارتقاء بخريجي القسم إلى مستوى التميز والقدرة التنافسية العالية لتلبية متطلبات سوق العمل من مساعدى الخدمات الصحية فى مصر والمنطقة العربية.</p>
        <p *ngIf="translate.currentLang == 'ar'">ويُقْصَدُ به القسم المنوظ بالعملية التعليمية الكاملة لطلاب التخصص  والمسؤول عن إعداد وتخريج  اختصاصى مهنى فى الخدمات الصحية   حسب المتطلبات  المهنية الواردة في اللائحة.</p>
        <p *ngIf="translate.currentLang == 'en'">The department has a vision to become a center of excellence that contributes to the development of the concept of nursing and prepares graduates with scientific skills and provides distinguished nursing assistants who can integrate into the labor market with high efficiency and skill.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_MESSAGE" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">تتبلور رسالة القسم في تأهيل المتدربين فنياً فى مجال الخدمات الصحية  بغرض الالتزام بالمعايير والمستويات العالمية في المجال ومواكبة التقدم والتطور المهنى والتركيز على متطلبات السوق الفنية- تقديم أفضل المهارات المتعلقة بالخدمات الصحية والتى تطلبها المؤسسات الطبية والصحية  المحلية والدولية.</p>
        <p *ngIf="translate.currentLang == 'en'">Distinction in the field of nursing education and the advanced professional practice of the academy’s graduates to keep pace with the times and meet the needs of society for education in the field of nursing that focus on cooperation and active participation in learning, and critical thinking to develop a broad understanding of the basic principles of education in the field of nursing that enables graduates to qualify academically, scientifically and ethically to work in the field of nursing .</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "CERTIFICATE" | translate }}</h6>
        <p>{{ "OBTAIN_CERTIFICATE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/medicalDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/medicalDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_GOALS" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">إعداد مساعد الخدمات الصحية المتميز</p>
        <p *ngIf="translate.currentLang == 'ar'">تأسيس المتدربين بالأسس النظرية ومنهجيات التطبيق بما يمكنهم من المنافسة العالمية</p>
        <p *ngIf="translate.currentLang == 'ar'">تأهيل المتدربين فنياً لمواكبة التطور السريع في مجال الخدمات الصحية. </p>
        <p *ngIf="translate.currentLang == 'ar'">اكتساب مهارات العمل بالمؤسسات الطبية ومساعدة الكادر التمريضى بها</p>

        <p *ngIf="translate.currentLang == 'en'">The aim of the Medical Services Department is to prepare scientific and professional nursing cadres capable of creativity, production of knowledge and competition, preparing distinguished teaching staff scientifically, professionally and culturally, and providing curative and preventive primary health care in the hospitals in which the graduate works - directing first aid cases. The Academy provides all assistive devices in the educational process in the field of nursing, whether traditional or modern, and provides training opportunities in major hospitals.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "DEPART_STAFF" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يضم القسم نخبة من أميز أعضاء هيئة التدريس من الأساتذة والمعيدين والمهندسين الأكفاء وذوي خبرة عالية أكاديمياً وتدريبياً</p>
        <p *ngIf="translate.currentLang == 'en'">The department includes a group of qualified and distinguished faculty members with high experience in their work. The Academy is keen to constantly raise the efficiency of the staff in the department, whether by attending seminars, participating in courses, practical and academic studies, or attending medical conferences.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "GRADUATE_JOB_DESCRIPTION" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">يهدف القسم الى تأهيل الخريج ليكون قادر على القيام بالمهام الفنية لمساعد الخدمات الصحية  في كافة المنظمات العاملة في المجال ويكون ذو كفاء عالية وملم بكافة متطلبات سوق العمل.</p>
        <p *ngIf="translate.currentLang == 'en'">The Department of Medical Services aims to qualify the graduate to be able to carry out various nursing work in all disciplines, to integrate within the medical community and hospitals, to be highly qualified in the field of nursing in all aspects of the profession, and to be familiar with professional ethics and good dealing with patients.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>{{ "ACADEMIC_SYSTEM" | translate }}</h6>
        <p *ngIf="translate.currentLang == 'ar'">عامان دراسيان 4 ترم.</p>
        <p *ngIf="translate.currentLang == 'en'">Two academic years, 4 semester.</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/medicalDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
