<app-department-header [departName]="'قسم الخدمات الصحية'" [departImg]="'assets/images/departments-icons/medicalDepartCover.svg'">
</app-department-header>

<div class="missions d-flex">
  <div class="mission-text">
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departVision.svg" alt="">
      </div>
      <div class="text">
        <h6>رؤية القسم</h6>
        <p>للقسم رؤية في أن يصبح مركزا للتميز يساهم في تطوير مفهوم التمريض وإعداد خريجين ذو مهارات علمية ويقدم معاون تمريض متميز يستطيع الاندماج في سوق العمل بكفاءة ومهارة عالية.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departMessage.svg" alt="">
      </div>
      <div class="text">
        <h6>رسالة القسم</h6>
        <p>التمييز في مجال التعليم التمريضي والممارسة المهنية المتطورة لخريجي الأكاديمية لمواكبة العصر وتلبية احتياجات المجتمع للتعليم في مجال التمريض التي تركز على التعاون والمشاركة النشطة في التعلم، والتفكير النقدي لتطوير فهم واسع من المبادئ الأساسية بالتعليم في مجال التمريض يُمكن الخريجين من التأهيل أكاديمياً وعلميا وأخلاقيا للعمل بمجال التمريض.</p>
      </div>
    </div>
    <div class="mission">
      <div class="img">
        <img src="assets/images/departments-icons/departCertificate.svg" alt="">
      </div>
      <div class="text">
        <h6>الشهادة</h6>
        <p>يحصل الطالب على شهادة معتمدة من كبرى الجامعات المصرية للعمل داخل مصر وتصدق من وزارة الخارجية المصرية للعمل خارج مصر</p>
      </div>
    </div>
  </div>
  <div class="mission-img d-none d-lg-block">
    <img src="assets/images/departments-icons/medicalDepartMission.png" alt="">
  </div>
</div>
<div class="targets d-flex">
  <div class="target-img d-none d-lg-block">
    <img src="assets/images/departments-icons/medicalDepartTarget.png" alt="">
  </div>
  <div class="target-text">
    <div class="target">
      <div class="img">
        <img src="assets/images/departments-icons/goal.svg" alt="">
      </div>
      <div class="text">
        <h6>أهداف القسم</h6>
        <p>الهدف من قسم الخدمات الطبية هو إعداد كوادر تمريضية علمية و مهنية قادرة على الإبداع و إنتاج المعرفة و المنافسة وإعداد تدريسي متميز علمياً و مهنياً و ثقافياً وتقديم الرعاية الصحية الأولية العلاجية والوقائية بالمستشفيات التى يتم عمل الخريج بها - مباشرة الحالات الإسعافية الأولية. توفر الأكاديمية جميع الاجهزة المساعدة في العملية التعليمية الخاصة بمجال التمريض سواء التقليدية او الحديثة وتوفر فرص التدريب في كبرى المستشفيات.</p>
      </div>
    </div>
  </div>
</div>
<div class="staffs d-flex">
  <div class="staff-text">
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/departStaff.svg" alt="">
      </div>
      <div class="text">
        <h6>أعضاء هيئة التدريس</h6>
        <p>يضم القسم نخبة من أعضاء هيئة التدريس الاكفاء والمميزين في عملهم وذوي خبرة عالية وتحرص الأكاديمية على رفع كفاءة العاملين في القسم باستمرار سواء بحضور الندوات او الاشتراك بالدورات او الدراسات العملية والأكاديمية او حضور المؤتمرات الطبية.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/graduateJobDescription.svg" alt="">
      </div>
      <div class="text">
        <h6>توصيف عمل الخريج</h6>
        <p>يهدف لقسم الخدمات الطبية الى تاهيل الخريج ليكون له القابلية على القيام بمختلف الاعمال التمريضية في كافة التخصصات ويندمج داخل المجتمع الطبي والمستشفيات ويكون ذو كفاء عالية في مجال التمريض فى كافة نواحي المهنة ويكون ملم بآداب المهنة وحسن التعامل مع المرضى.</p>
      </div>
    </div>
    <div class="staff">
      <div class="img">
        <img src="assets/images/departments-icons/books.svg" alt="">
      </div>
      <div class="text">
        <h6>النظام الدراسي</h6>
        <p>عامان دراسيان 4 ترم</p>
      </div>
    </div>
  </div>
  <div class="staff-img d-none d-lg-block">
    <img src="assets/images/departments-icons/medicalDepartStaff.png" alt="">
  </div>
</div>
<app-training-gallery></app-training-gallery>
<app-join></app-join>
