<div class="page">
  <div class="box">
    <div class="chairman-image">
      <div class="img">
        <img src="assets/images/president-full-2.png" alt="">
      </div>
    </div>
    <div class="chairman-word">
      <div class="header">
        <h3>دكتور / أحمد محمد سليمان شلبى</h3>
        <h5>كلمة رئيس مجلس الاإدارة</h5>
      </div>
      <div class="content">
        <div class="img">
          <img src="assets/images/icons/quote.svg" alt="">
        </div>
        <div class="word">
          <p>في  مؤسسة 6 أكتوبر للتمية البشرية نعمل على دعم رؤية الدولة المصرية  2030 بكل قوة حباً وانتماءً لهذا الوطن ، وايماناً بما يمتلكه من قوى بشرية غير عادية ومقدرات اقتصادية لا يستهان بها . ي</p>
          <p>وتعمل  مؤسسة 6 أكتوبر للتمية البشرية منذ تأسسها عام 2016م  في جمهورية مصر العربية كشريك  رائد في مجال التدريب المهني و التقني في العديد من التخصصات التي يطلبها سوق العمل العربي مع الاهتمام بمناسبة المدخلات وصحة العمليات وجودة المخرجات .ش</p>
          <p>وعلى الرغم من الأوقات الصعبة التي ووجهتنا في مسيرتنا ، فنحن نعتقد أننا وصلنا بنجاح إلى مرحلة من الثقة بالنفس  الاحترام المتبادل بين شركائنا، بما يمكننا من العطاء المستمر في المرحلة القادمة. ولعل روح الفريق العالية التي تسود بيئة العمل  بالمؤسسة تدفعنا لتحقيق نفس أهدافنا ورؤيتنا على نطاق أكبر وفق خطة استراتيجية مبنية على معايير مهنية متخصصة في المجال ، لذا نحن نعمل جميعا لبناء مستقبل قوي وفعال ومزدهر .س</p>
        </div>
      </div>
    </div>
  </div>
</div>