/* You can add global styles to this file, and also import other style files */
@import "abstracts/mixins", "abstracts/variables";

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.css";


html[lang="en"],
html[lang="gr"] {
  direction: ltr;
  body {
    font-family: 'Tajawal', sans-serif;
    text-align: left !important;
  }
  .navbar {
    ul#dropdown-animated {
      inset: 100% 0 auto auto !important
    }
  }
  .mainTitle {
    .front-bubble {
      border-color: transparent transparent transparent $mainGreenColor;
      right: -44px;
    }
    .back-bubble {
      border-color: $mainGreenColor $mainGreenColor $mainGreenColor transparent;
      left: -22px;
    }
  }
  .about-academy {
    .tabcontent {
      &#vision {
        .childTabContents {
          .text {
            p, li {
              margin: 0 0 0 3em;
            }
          }
          .img {
            img.contentImg {
              left: -5px;
            }
          }
        }
      }
    }
  }
  .missions, .targets, .staffs {
    .mission-text, .target-text, .staff-text {
      margin-left: 2em;
    }
  }
  .targeting {
    .targeting-box {
      margin-inline-end: auto;
    }
  }
  @media (min-width:1400px) {
    .forJoin {
      .img {
        left: -100px;
      }
      .data {
        width: 90%;
        p { width: 70%; }
      }
    }
  }
}

html[lang="ar"] {
  direction: rtl;
  body {
    font-family: 'Cairo', sans-serif !important;
    text-align: right !important;
  }
  .navbar {
    ul#dropdown-animated {
      inset: 100% auto auto 0 !important;
    }
  }
  .mainTitle {
    .front-bubble {
      border-color: transparent $mainGreenColor transparent transparent;
      left: -44px;
    }
    .back-bubble {
      border-color: $mainGreenColor transparent $mainGreenColor $mainGreenColor;
      right: -22px;
    }
  }
  .branches .branch { direction: rtl; font-family: 'cairo'; }
  .about-academy {
    .tabcontent {
      &#vision {
        .childTabContents {
          .text {
            p, li {
              margin: 0 3em 0 0;
            }
          }
          .img {
            img.contentImg {
              right: -5px;
            }
          }
        }
      }
    }
  }
  .missions, .targets, .staffs {
    .mission-text, .target-text, .staff-text {
      margin-right: 2em;
    }
  }
  .targeting {
    .targeting-box {
      margin-inline-start: auto;
    }
  }
  @media (min-width:1400px) {
    .forJoin {
      .img {
        right: -100px;
      }
    }
  }
  @media (min-width: 1200px) {
    .about-academy {
      .tabcontent#acceptence {
        .requirement {
          ul {
            margin-right: 2em;
          }
        }
      }
    }
  }
}
body {
  background-color: $backgroundColor !important;
  box-sizing: border-box;
  overflow-x: hidden;
}
button.primary {
  @include buttons($secondGreenColor, $secondGreenColor, $white, $fontSize , $secondGreenColor, $white);
}
button.primary-outline {
  @include buttons(transparent, $secondGreenColor, $secondGreenColor, $fontSize, $white,$secondGreenColor);
}
button.primary-white {
  @include buttons($white, $white, $secondGreenColor, $fontSize, $white,$secondGreenColor);
}
ul.list-unstyled { padding: 0 }

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  border-radius: 40px !important;
  .modal-header {
    align-items: center !important;
    padding: 24px !important;
    border: 0 !important;
    button.btn-close {
      margin: 0;
      padding: 0;
      background: red;
      color: #fff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      span { height: 100%; }
    }
  }
  .modal-body {
    padding: 24px 34px;
  }
}

.faq, .tabcontent#conversations {
  .panel {
    margin-bottom: 1em;
    border-radius: 10px;
    .panel-heading {
      background: #fff;
      border: 1px solid #E8E8E8;
      box-shadow: 0 3px 6px rgb(109 108 108 / 16%);
      border-radius: 10px;
      overflow-x: auto;
      .panel-title {
        button {
          color: #14395B;
          text-decoration: none;
          outline: none;
          box-shadow: none;
        }
      }
    }
    .panel-body {
      padding-top: 0;
    }
  }
  .panel-open {
    .panel {
      border: 1px solid #186AA5;
      border-radius: 32px;
      .panel-heading {
        box-shadow: none;
        background: transparent;
        border: none;
      }
    }
  }
}

.common-questions-box {
  .panel {
    margin-bottom: 1em;
    border-radius: 100px;
    border: none;
    background: transparent;
    .panel-heading {
      background: #20212E;
      border: none;
      overflow-x: auto;
      border-radius: 100px;
      .panel-title {
        .accordion-toggle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &::after {
            content: '';
            background-image: url('/assets/images/icons/Closed_Question.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 32px;
            height: 32px;
            display: block;
          }
        }
        button {
          color: #F2F2F2;
          text-decoration: none;
          outline: none;
          box-shadow: none;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    .panel-body {
      padding-top: 0;
    }
  }
  .panel-open {
    .panel {
      border: none;
      border-radius: 32px;
      background: #20212E;
      .panel-heading {
        box-shadow: none;
        background: transparent;
        border: none;
        .panel-title {
          .accordion-toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after {
              content: '';
              background-image: url('/assets/images/icons/Open_Question.svg');
              background-repeat: no-repeat;
              background-size: cover;
              width: 32px;
              height: 32px;
              display: block;
            }
          }
        }
      }
      .panel-body {
        p {
          color: #CACBCD;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}

.mediaGallery {
  .gallery {
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 24px;
      }
    }
  }
  .owl-item.active.center {
    .gallery {
      .img {
        img {
          width: 150%;
        }
      }
    }
  }
  .owl-item.active:not(.center) {
    .gallery {
      .img {
        height: 525px;
        img {
          width: 60%;
        }
      }
    }
  }
}

.full-width {
  width: 100%;
}

@media (min-width: 1200px) {
  .navbar {
    .navbar-collapse {
      ul.navbar-nav {
        li {
          a {
            font-size: $fontSize;
          }
        }
      }
    }
  }
}
@media (max-width:1199px) {
}
// responsive
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    .navbar-collapse {
      ul.navbar-nav {
        li {
          a {
            font-size: $fontSize;
          }
        }
      }
    }
  }
}

p-carousel { direction: ltr; }

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: #D9D9D9;
  width: 14px;
  height: 14px;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  width: 3rem;
  background-color: $mainBlueColor;
  border-radius: 7px;
}

.slick-dots {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  li {
    width: 14px;
    height: 14px;
    button {
      background-color: #D9D9D9;
      width: 14px;
      height: 14px;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
      border-radius: 50%;
      &::before {
        display: none
      }
    }
    &.slick-active {
      width: 3rem;
      button {
        width: 3rem;
        background-color: $mainBlueColor;
        border-radius: 7px;
      }
    }
  }
}

/* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
