<div class="welcoming">
  <div class="container">
    <h2>مرحبا بكم أكاديمية 6 أكتوبر</h2>
    <p class="directP">الأولى في التعليم الفني في مصر</p>
    <div class="actions">
      <button class="primary">قم بالتسجيل الان</button>
      <button class="primary-outline">تعرف على الاقسام</button>
    </div>
    <div class="images">
      <div class="firstPart">
        <img class="iconic" src="assets/images/home-welcoming/left.png" alt="">
        <div class="overlay">
          <span>إدارة اعمال</span>
          <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
        </div>
      </div>
      <div class="secondPart">
        <div class="img1">
          <img class="iconic" src="assets/images/home-welcoming/Frame 14252.png" alt="">
          <div class="overlay">
            <span>خدمات بترولية</span>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
          </div>
        </div>
        <div class="img2">
          <img class="iconic" src="assets/images/home-welcoming/Frame 14251.png" alt="">
          <div class="overlay">
            <span>خدمات طبية</span>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
          </div>
        </div>
      </div>
      <div class="thirdPart">
        <img class="iconic" src="assets/images/home-welcoming/Middle.png" alt="">
        <div class="overlay">
          <span>سياحة و فنادق</span>
          <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
        </div>
      </div>
      <div class="fourthPart">
        <div class="img1">
          <img class="iconic" src="assets/images/home-welcoming/Frame 14248.png" alt="">
          <div class="overlay">
            <span>صحافة و اعلام</span>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
          </div>
        </div>
        <div class="img2">
          <img class="iconic" src="assets/images/home-welcoming/Frame 14249.png" alt="">
          <div class="overlay">
            <span>تكنولوجيا المعلومات</span>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
          </div>
        </div>
      </div>
      <div class="fifthPart">
        <img class="iconic" src="assets/images/home-welcoming/right.png" alt="">
        <div class="overlay">
          <span>مساحة و خرائط</span>
          <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="academy_numbers">
  <div class="container">
    <h4>الاكاديمية  في ارقام</h4>
    <p class="directP">حقائق وأرقام خاصة بأكاديمية 6 أكتوبر خلال السنوات السابقة</p>
    <div class="row">
      <div class="col-md-3">
        <div class="number">
          <img src="assets/images/icons/experience.png" alt="experience">
          <span class="num">23</span>
          <span class="title">عدد سنوات الخبرة</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="number">
          <img src="assets/images/icons/departments.png" alt="departments">
          <span class="num">7</span>
          <span class="title">عدد أقسام الأكاديمية</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="number">
          <img src="assets/images/icons/graduates.png" alt="graduates">
          <span class="num">28693</span>
          <span class="title">عدد الخريجين</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="number">
          <img src="assets/images/icons/staff.png" alt="staff">
          <span class="num">60</span>
          <span class="title">عدد أعضاء هيئة التدريس</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about">
  <div class="container">
    <div class="row align-items-baseline">
      <div class="col-md-3">
        <div class="logo">
          <img src="assets/images/main_assets/logo.svg" alt="logo">
        </div>
      </div>
      <div class="col-md-9">
        <div class="intro">
          <div class="points">
            <img src="assets/images/shapes/points.png" alt="">
          </div>
          <div class="img">
            <img src="assets/images/image1.png" alt="">
          </div>
          <div class="video">
            <button>
              <img src="assets/images/icons/play.png" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mediaGallery">
  <h3>صور من الأكاديمية</h3>
  <div class="points">
    <img src="assets/images/shapes/points.png" alt="">
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="gallery">
        <div class="img">
          <img src="/assets/images/gallery.png" alt="">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery">
        <div class="img">
          <img src="/assets/images/gallery.png" alt="">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery">
        <div class="img">
          <img src="/assets/images/gallery.png" alt="">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery">
        <div class="img">
          <img src="/assets/images/gallery.png" alt="">
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="gallery">
        <div class="img">
          <img src="/assets/images/gallery.png" alt="">
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
<div class="branches">
  <div class="container">
    <h3>فروع أكاديمية 6 أكتوبر</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>الفرع الرئيسى بالجيزة</h4>
          <p>الجيزة : 232 ش الهرم محطة ش ضياء بجوار مطعم بازوكا</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01028800044</span>
            </li>
          </ul>
          <a class="getDirections">
            <span>احصل على الاتجاهات</span>
            <img src="assets/images/icons/arrow.png" alt="arrow">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>فرع الأكاديمية بالقليوبية</h4>
          <p>القليوبية : شبرا الخيمة شارع 15 مايو (الشـارع الجـديد) محطة جامـع أبو الهـنا</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01028800044</span>
            </li>
          </ul>
          <a class="getDirections">
            <span>احصل على الاتجاهات</span>
            <img src="assets/images/icons/arrow.png" alt="arrow">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>فرع الأكاديمية بالغربية</h4>
          <p>الغربية : طنطا ش الشهيد مصطفى أبو زهره (نايف عماد سابقاً ) بجوار مودرن سكول</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01028800044</span>
            </li>
          </ul>
          <a class="getDirections">
            <span>احصل على الاتجاهات</span>
            <img src="assets/images/icons/arrow.png" alt="arrow">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="branch">
          <img class="location" src="assets/images/icons/location.svg" alt="location">
          <h4>فرع بنها</h4>
          <p>كورنيش النيل حي الڤلل شارع رقم 2 بجوار استراحة المحافظ</p>
          <ul class="list-unstyled">
            <li>
              <img src="assets/images/icons/green_call.svg" alt="call">
              <span>02-42242224</span>
            </li>
            <li>
              <img src="assets/images/icons/whatsapp.svg" alt="whatsapp">
              <span>01028800044</span>
            </li>
          </ul>
          <a class="getDirections">
            <span>احصل على الاتجاهات</span>
            <img src="assets/images/icons/arrow.png" alt="arrow">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="partners">
  <h3>شركاء النجاح</h3>
  <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel"
    [config]="sliderConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <div class="partner">
        <img src="{{ slide.img }}" alt="">
      </div>
    </div>
  </ngx-slick-carousel>
</div>
<div class="faq">
  <h3>الأسئلة المكررة</h3>
  <div class="container">
    <accordion [isAnimated]="true">
      <accordion-group heading="هل في إمكانية انى اكمل بعد سنتين ؟" [isOpen]="isFirstOpen">
        <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
      </accordion-group>
      <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
        <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
      </accordion-group>
      <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
        <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
      </accordion-group>
      <accordion-group heading="هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟">
        <p>الأكاديمية تؤهل حضرتك للحصول على مؤهل مهني لمدة عامين دراسيين فقط ولا يوجد أي معهد أو أكاديميه سنتين خارج مكتب التنسيق على مستوى جمهورية مصر العربية لديه إمكانية تكملة الدراسة لأن الدراسة تكون منتهية بعد العامين الدراسيين.</p>
      </accordion-group>
    </accordion>
  </div>
  <div class="more_questions d-flex justify-content-center mt-4">
    <button class="primary">المزيد من الاسئلة</button>
  </div>
</div>
<div class="contact">
  <div class="container">
    <div class="box">
      <div class="contact-us">
        <h4>ابقى على تواصل معنا</h4>
        <p>ادخل بريدك الالكتروني لمعرفة كل ما هو جديد عن اكاديمية 6 اكتوبر</p>
        <form>
          <div class="email">
            <input type="text" class="form-control" placeholder="البريد الالكتروني">
            <button class="forward">
              <img src="assets/images/icons/forward.png" alt="forward">
            </button>
          </div>
        </form>
      </div>
      <div class="img">
        <img src="assets/images/books.png" alt="books">
      </div>
    </div>
  </div>
</div>
