<div class="welcoming" data-aos="fade-up">
  <div class="welcoming-box">
    <div class="container">
      <h2>{{ "WELCOME" | translate }}</h2>
      <p class="directP">{{ "FIRST_TECHNICIAN" | translate }}</p>
      <div class="actions">
        <button class="primary" (click)="register()">
          {{ "REGISTER_NOW" | translate }}
        </button>
        <button
          class="primary-outline"
          [routerLink]="'about-academy'"
          [queryParams]="{ item: 'departments' }"
        >
          {{ "KNOWING_DEPARTS" | translate }}
        </button>
      </div>
  
      <div class="images d-none d-md-flex">
        <div class="firstPart">
          <img class="iconic" [src]="Departments[0].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[0].DepartLink">{{
              Departments[0].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="secondPart">
          <div class="img1">
            <img class="iconic" [src]="Departments[1].DepartImg" alt="" />
            <div
              class="overlay"
              [ngStyle]="{
                'flex-direction':
                  translate.currentLang == 'ar' ? 'row-reverse' : 'row'
              }"
            >
              <a [routerLink]="Departments[1].DepartLink">{{
                Departments[1].DepartName
              }}</a>
              <img
                class="arrow"
                src="assets/images/icons/arrow-back.svg"
                alt=""
              />
            </div>
          </div>
          <div class="img2">
            <img class="iconic" [src]="Departments[2].DepartImg" alt="" />
            <div
              class="overlay"
              [ngStyle]="{
                'flex-direction':
                  translate.currentLang == 'ar' ? 'row-reverse' : 'row'
              }"
            >
              <a [routerLink]="Departments[2].DepartLink">{{
                Departments[2].DepartName
              }}</a>
              <img
                class="arrow"
                src="assets/images/icons/arrow-back.svg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="thirdPart">
          <img class="iconic" [src]="Departments[3].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[3].DepartLink">{{
              Departments[3].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="thirdPart">
          <img class="iconic" [src]="Departments[4].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[4].DepartLink">{{
              Departments[4].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="fourthPart">
          <div class="img1">
            <img class="iconic" [src]="Departments[5].DepartImg" alt="" />
            <div
              class="overlay"
              [ngStyle]="{
                'flex-direction':
                  translate.currentLang == 'ar' ? 'row-reverse' : 'row'
              }"
            >
              <a [routerLink]="Departments[5].DepartLink">{{
                Departments[5].DepartName
              }}</a>
              <img
                class="arrow"
                src="assets/images/icons/arrow-back.svg"
                alt=""
              />
            </div>
          </div>
          <div class="img2">
            <img class="iconic" [src]="Departments[6].DepartImg" alt="" />
            <div
              class="overlay"
              [ngStyle]="{
                'flex-direction':
                  translate.currentLang == 'ar' ? 'row-reverse' : 'row'
              }"
            >
              <a [routerLink]="Departments[6].DepartLink">{{
                Departments[6].DepartName
              }}</a>
              <img
                class="arrow"
                src="assets/images/icons/arrow-back.svg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="fifthPart">
          <img class="iconic" [src]="Departments[7].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[7].DepartLink">{{
              Departments[7].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="images responsiveImages d-md-none">
        <div class="depart">
          <img class="iconic" [src]="Departments[0].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[0].DepartLink">{{
              Departments[0].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="depart">
          <img class="iconic" [src]="Departments[1].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[1].DepartLink">{{
              Departments[1].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="depart">
          <img class="iconic" [src]="Departments[2].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[2].DepartLink">{{
              Departments[2].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="depart">
          <img class="iconic" [src]="Departments[3].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[3].DepartLink">{{
              Departments[3].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="depart">
          <img class="iconic" [src]="Departments[4].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[4].DepartLink">{{
              Departments[4].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="depart">
          <img class="iconic" [src]="Departments[5].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[5].DepartLink">{{
              Departments[5].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="depart">
          <img class="iconic" [src]="Departments[6].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[6].DepartLink">{{
              Departments[6].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
        <div class="depart">
          <img class="iconic" [src]="Departments[7].DepartImg" alt="" />
          <div
            class="overlay"
            [ngStyle]="{
              'flex-direction':
                translate.currentLang == 'ar' ? 'row-reverse' : 'row'
            }"
          >
            <a [routerLink]="Departments[7].DepartLink">{{
              Departments[7].DepartName
            }}</a>
            <img class="arrow" src="assets/images/icons/arrow-back.svg" alt="" />
          </div>
        </div>
      </div>
  
  
  
  
  
      <!-- <div class="departsImages d-none d-md-block">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="departmentSliderConfig"
        >
          <div ngxSlickItem class="slide">
            <div class="depart">
              <div class="firstPart">
                <img class="iconic" [src]="Departments[0].DepartImg" alt="" />
                <div
                  class="overlay"
                  [ngStyle]="{
                    'flex-direction':
                      translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                  }"
                >
                  <a [routerLink]="Departments[0].DepartLink">{{
                    Departments[0].DepartName
                  }}</a>
                  <img
                    class="arrow"
                    src="assets/images/icons/arrow-back.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="depart">
              <div class="secondPart">
                <div class="img1">
                  <img class="iconic" [src]="Departments[1].DepartImg" alt="" />
                  <div
                    class="overlay"
                    [ngStyle]="{
                      'flex-direction':
                        translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                    }"
                  >
                    <a [routerLink]="Departments[1].DepartLink">{{
                      Departments[1].DepartName
                    }}</a>
                    <img
                      class="arrow"
                      src="assets/images/icons/arrow-back.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="img2">
                  <img class="iconic" [src]="Departments[2].DepartImg" alt="" />
                  <div
                    class="overlay"
                    [ngStyle]="{
                      'flex-direction':
                        translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                    }"
                  >
                    <a [routerLink]="Departments[2].DepartLink">{{
                      Departments[2].DepartName
                    }}</a>
                    <img
                      class="arrow"
                      src="assets/images/icons/arrow-back.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="depart">
              <div class="thirdPart">
                <img class="iconic" [src]="Departments[3].DepartImg" alt="" />
                <div
                  class="overlay"
                  [ngStyle]="{
                    'flex-direction':
                      translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                  }"
                >
                  <a [routerLink]="Departments[3].DepartLink">{{
                    Departments[3].DepartName
                  }}</a>
                  <img
                    class="arrow"
                    src="assets/images/icons/arrow-back.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="depart">
              <div class="fourthPart">
                <div class="img1">
                  <img class="iconic" [src]="Departments[4].DepartImg" alt="" />
                  <div
                    class="overlay"
                    [ngStyle]="{
                      'flex-direction':
                        translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                    }"
                  >
                    <a [routerLink]="Departments[4].DepartLink">{{
                      Departments[4].DepartName
                    }}</a>
                    <img
                      class="arrow"
                      src="assets/images/icons/arrow-back.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="img2">
                  <img class="iconic" [src]="Departments[5].DepartImg" alt="" />
                  <div
                    class="overlay"
                    [ngStyle]="{
                      'flex-direction':
                        translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                    }"
                  >
                    <a [routerLink]="Departments[5].DepartLink">{{
                      Departments[5].DepartName
                    }}</a>
                    <img
                      class="arrow"
                      src="assets/images/icons/arrow-back.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="depart">
              <div class="fifthPart">
                <img class="iconic" [src]="Departments[6].DepartImg" alt="" />
                <div
                  class="overlay"
                  [ngStyle]="{
                    'flex-direction':
                      translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                  }"
                >
                  <a [routerLink]="Departments[6].DepartLink">{{
                    Departments[6].DepartName
                  }}</a>
                  <img
                    class="arrow"
                    src="assets/images/icons/arrow-back.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="depart">
              <div class="sixthPart">
                <div class="img1">
                  <img class="iconic" [src]="Departments[7].DepartImg" alt="" />
                  <div
                    class="overlay"
                    [ngStyle]="{
                      'flex-direction':
                        translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                    }"
                  >
                    <a [routerLink]="Departments[7].DepartLink">{{
                      Departments[7].DepartName
                    }}</a>
                    <img
                      class="arrow"
                      src="assets/images/icons/arrow-back.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="img2">
                  <img class="iconic" [src]="Departments[8].DepartImg" alt="" />
                  <div
                    class="overlay"
                    [ngStyle]="{
                      'flex-direction':
                        translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                    }"
                  >
                    <a [routerLink]="Departments[8].DepartLink">{{
                      Departments[8].DepartName
                    }}</a>
                    <img
                      class="arrow"
                      src="assets/images/icons/arrow-back.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="depart">
              <div class="seventhPart">
                <img class="iconic" [src]="Departments[9].DepartImg" alt="" />
                <div
                  class="overlay"
                  [ngStyle]="{
                    'flex-direction':
                      translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                  }"
                >
                  <a [routerLink]="Departments[9].DepartLink">{{
                    Departments[9].DepartName
                  }}</a>
                  <img
                    class="arrow"
                    src="assets/images/icons/arrow-back.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="depart">
              <div class="eightthPart">
                <div class="img1">
                  <img class="iconic" [src]="Departments[10].DepartImg" alt="" />
                  <div
                    class="overlay"
                    [ngStyle]="{
                      'flex-direction':
                        translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                    }"
                  >
                    <a [routerLink]="Departments[10].DepartLink">{{
                      Departments[10].DepartName
                    }}</a>
                    <img
                      class="arrow"
                      src="assets/images/icons/arrow-back.svg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="img2">
                  <img class="iconic" [src]="Departments[11].DepartImg" alt="" />
                  <div
                    class="overlay"
                    [ngStyle]="{
                      'flex-direction':
                        translate.currentLang == 'ar' ? 'row-reverse' : 'row'
                    }"
                  >
                    <a [routerLink]="Departments[11].DepartLink">{{
                      Departments[11].DepartName
                    }}</a>
                    <img
                      class="arrow"
                      src="assets/images/icons/arrow-back.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div> -->
    </div>
  </div>
  <!-- <div class="counter-section">
    <span *ngFor="let item of counters; let i = index" #counterSpan [attr.data-target]="item.targetNumber">
      {{ item.startNumber }}
    </span>
  </div> -->
  <div class="academy_numbers">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4">
          <h4 data-aos="fade-up">{{ "ACADEMY_NUMBERS" | translate }}</h4>
          <!-- <p data-aos="fade-right" class="directP">{{ "FACTS" | translate }}</p> -->
          <div class="img" data-aos="fade-right">
            <img src="assets/images/main_assets/white-logo.svg" alt="">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="box">
            <div class="column-one">
              <div class="fact">
                <div class="img">
                  <img src="assets/images/icons/departments.svg" alt="" />
                </div>
                <span class="num" #counterSpan [attr.data-target]="counters[0].targetNumber">{{ counters[0].startNumber }}</span>
                <span class="title">{{ "DEPARTS_NUMBER" | translate }}</span>
              </div>
              <div class="fact">
                <div class="img">
                  <img src="assets/images/icons/graduates.svg" alt="" />
                </div>
                <span class="num" #counterSpan [attr.data-target]="counters[1].targetNumber">{{ counters[1].startNumber }}</span>
                <span class="title">{{ "GRADUATES_NUMBER" | translate }}</span>
              </div>
            </div>
            <div class="column-two">
              <div class="fact">
                <div class="img">
                  <img src="assets/images/icons/experience.svg" alt="" />
                </div>
                <span class="num" #counterSpan [attr.data-target]="counters[2].targetNumber">{{ counters[2].startNumber }}</span>
                <span class="title">{{ "EXPERIENCE_YEARS" | translate }}</span>
              </div>
              <div class="fact">
                <div class="img">
                  <img src="assets/images/icons/staff.svg" alt="" />
                </div>
                <span class="num" #counterSpan [attr.data-target]="counters[3].targetNumber">{{ counters[3].startNumber }}</span>
                <span class="title">{{ "STAFF_NUMBER" | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container">
    <h4 data-aos="fade-up">{{"ACADEMY_NUMBERS" | translate}}</h4>
    <div class="row" data-aos="fade-up">
      <div class="col-lg-3 col-sm-6">
        <div class="number">
          <img src="assets/images/icons/experience.png" alt="experience">
          <span class="num">{{experienceYears}}</span>
          <span class="title">{{"EXPERIENCE_YEARS" | translate}}</span>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="number">
          <img src="assets/images/icons/departments.png" alt="departments">
          <span class="num">{{academyDeparts}}</span>
          <span class="title">{{"DEPARTS_NUMBER" | translate}}</span>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="number">
          <img src="assets/images/icons/graduates.png" alt="graduates">
          <span class="num">28693</span>
          <span class="title">{{"GRADUATES_NUMBER" | translate}}</span>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="number">
          <img src="assets/images/icons/staff.png" alt="staff">
          <span class="num">{{staffNumber}}</span>
          <span class="title">{{"STAFF_NUMBER" | translate}}</span>
        </div>
      </div>
    </div>
  </div> -->
  </div>
  <div class="videos">
    <div class="header">
      <h3>فيديوهات 6 اكتوبر</h3>
    </div>
    <div class="content">
      <div class="videosCategoriesTabs">
        <div class="tab">
          <button id="videoDefaultOpen" class="videoTablinks" (click)="openVideoTab($event, 'videos6OctoberBranches')">مقتطفات من المركز</button>
          <button class="videoTablinks" (click)="openVideoTab($event, 'videosStudentsTraining')">قصص نجاح طلابنا</button>
        </div>
        <div id="videos6OctoberBranches" class="videoTabcontent">
          <ngx-slick-carousel
            class="carousel videosSlider"
            #slickModal="slick-carousel"
            [config]="videosSliderConfig"
          >
            <div ngxSlickItem *ngFor="let video of videos6octoberCenter;let i = index" class="slide">
              <div class="videoItem" (click)="videosCurrentSlide(i + 1)">
                <div class="video">
                  <div class="video-img">
                    <img [src]="video.video_image" alt="">
                  </div>
                  <div class="video-content">
                    <h4>{{video.video_name}}</h4>
                    <p>{{video.video_description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
          <div class="videoIframe">
            <iframe 
              src="https://www.youtube.com/embed/nq4JD-kUQmE" 
              title="المهندس فؤاد عبد المنعم المدير الاداري لمؤسسة 6 أكتوبر للتنمية البشرية يحكي تاريخ إنشاء المؤسسة" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="videoIframe">
            <iframe 
              src="https://www.youtube.com/embed/LhRGOOEwmSw" 
              title="📢 زيارة معالي وزير العمل / حسن شحاتة للمقر الرئيسي بالجيزة …." 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="videoIframe">
            <iframe 
              src="https://www.youtube.com/embed/947RNk2-J9I" 
              title="التفاعل اليومي داخل مراكز 6 أكتوبر" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="videoIframe">
            <iframe 
              src="https://www.youtube.com/embed/DfizEfucrU8" 
              title="🚨مجال البترول يحتاج إلى العمل الميداني واكتساب المهارات اللازمة منك، لحجز مكانك في الوظائف الشاغرة💪" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
        
        <div id="videosStudentsTraining" class="videoTabcontent">
          <ngx-slick-carousel
            class="carousel videosSlider"
            #slickModal="slick-carousel"
            [config]="studentsTrainingSliderConfig"
          >
            <div ngxSlickItem *ngFor="let video of videosStudentsTraining;let i = index" class="slide">
              <div class="studentsVideoItem" (click)="videosStudentsTrainingShowSlides(i + 1)">
                <div class="video">
                  <div class="video-img">
                    <img [src]="video.video_image" alt="">
                  </div>
                  <div class="video-content">
                    <h4>{{video.video_name}}</h4>
                    <p>{{video.video_description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
          <div class="studentsVideoIframe">
            <iframe
              src="https://www.youtube.com/embed/7am7aoWa3pM" 
              title="قصة نجاح المتدرب جرجس مجدي درس المساحة والخرائط في مراكز 6 أكتوبر للتدريب المهني." 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="studentsVideoIframe">
            <iframe
              src="https://www.youtube.com/embed/Odjsi4f9CHU" 
              title="تجربه عمر هاني داخل مراكز 6 أكتوبر من الناحية العملية والتدريبية" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="studentsVideoIframe">
            <iframe
              src="https://www.youtube.com/embed/H72ZscRMIAI" 
              title="الطالب فتحي أبو بكر تخصص تكنولوجيا المعلومات - شبكات، يحكي لنا عن تجربته داخل مراكز 6 أكتوبر" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="studentsVideoIframe">
            <iframe
              src="https://www.youtube.com/embed/OnvJrZUDrNg" 
              title="👨🏻‍🎓بما إنك خريج مميز وإتدربت معانا في مراكز 6 أكتوبر #رقم_1_في_التدريب_المهني" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="studentsVideoIframe">
            <iframe
              src="https://www.youtube.com/embed/SSc_ypauwIM" 
              title="بما إنك خريج مميز" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="studentsVideoIframe">
            <iframe
              src="https://www.youtube.com/embed/xWVK0gxCiec" 
              title="ما انك خريج مميز" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
          <div class="studentsVideoIframe">
            <iframe
              src="https://www.youtube.com/embed/akG3XvcWeAs" 
              title="قصة نجاح محمد أنور واحد من شباب كتير إتخرجوا من مراكز 6 أكتوبر للتدريب المهني" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="president_word">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title">
            <h1>{{ "President.name" | translate }}</h1>
            <span>{{ "President.position" | translate }}</span>
          </div>
          <span class="word">{{ "President.hisWord" | translate }}</span>
          <p>{{ "President.partOne" | translate }}</p>
          <p>{{ "President.partTwo" | translate }}</p>
          <p>{{ "President.partThree" | translate }}</p>
        </div>
        <div class="col-lg-6">
          <div class="president_img">
            <img src="assets/images/president.png" alt="president" />
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="about">
    <div class="container">
      <div class="row align-items-baseline">
        <div class="col-lg-3">
          <div class="logo">
            <img src="assets/images/main_assets/New_Logo.png" alt="logo" />
          </div>
        </div>
        <div class="col-lg-9">
          <div class="intro">
            <div class="points">
              <img src="assets/images/shapes/points.png" alt="" />
            </div>
            <div class="img">
              <img src="assets/images/image1.png" alt="" />
            </div>
            <div class="video">
              <button>
                <img src="assets/images/icons/play.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="mediaGallery">
    <h3 data-aos="fade-up">{{ "PICTURES_FROM_ACADEMY" | translate }}</h3>
    <div class="points d-none d-md-block">
      <img src="assets/images/shapes/points.png" alt="points" />
    </div>
    <owl-carousel-o
      class="d-none d-xl-block"
      [options]="customOptions"
      data-aos="fade-up"
    >
      <ng-template carouselSlide>
        <div class="gallery">
          <div class="img">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery">
          <div class="img">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery">
          <div class="img">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery">
          <div class="img">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery">
          <div class="img">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div class="container d-xl-none" data-aos="fade-up">
      <div class="academy-gallery">
        <div class="slides">
          <div class="mySlides">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
          <div class="mySlides">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
          <div class="mySlides">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
          <div class="mySlides">
            <img src="/assets/images/gallery.png" alt="" />
          </div>
          <a class="prev" (click)="plusSlides(-1)">&#10095;</a>
          <a class="next" (click)="plusSlides(1)">&#10094;</a>
        </div>
        <div class="images">
          <div class="column">
            <img
              class="demo cursor"
              src="/assets/images/gallery.png"
              (click)="currentSlide(1)"
            />
          </div>
          <div class="column">
            <img
              class="demo cursor"
              src="/assets/images/gallery.png"
              (click)="currentSlide(2)"
            />
          </div>
          <div class="column">
            <img
              class="demo cursor"
              src="/assets/images/gallery.png"
              (click)="currentSlide(3)"
            />
          </div>
          <div class="column">
            <img
              class="demo cursor"
              src="/assets/images/gallery.png"
              (click)="currentSlide(4)"
            />
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="branches">
    <app-branches></app-branches>
  </div>
  <div class="photos">
    <div class="header">
      <h3>{{ '6OCTOBERPHOTOS' | translate }}</h3>
    </div>
    <div class="gallery">
      <div class="categories">
        <div class="tab">
          <button id="defaultOpen" class="tablinks" (click)="openTab($event, '6OctoberBranches')">مراكز 6 اكتوبر</button>
          <button class="tablinks" (click)="openTab($event, 'StudentsTraining')">تدريبات الطلاب</button>
        </div>
        
        <div id="6OctoberBranches" class="tabcontent">
          <div class="gallery-container">
            <div class="images">
              <div class="img demo" *ngFor="let image of trainingImages;let i = index" (click)="currentSlide(i + 1)">
                <img [src]="image" alt="">
              </div>
            </div>
          </div>
        </div>
        
        <div id="StudentsTraining" class="tabcontent">
          <div class="gallery-container">
            <div class="images">
              <div class="img demo" *ngFor="let image of trainingImages;let i = index" (click)="currentSlide(i + 1)">
                <img [src]="image" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="galleryImgBox">
        <div class="galleryImg" *ngFor="let image of trainingImages">
          <img [src]="image" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="partners">
    <h3>{{ "SUCCESS_PARTNERS" | translate }}</h3>
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="sliderConfig"
    >
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <div class="partner" (click)="partnerDetails(slide.Partner, slide.img, slide.info)">
          <img src="{{ slide.img }}" alt="" />
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
  <!-- <div class="faq">
  <h3 data-aos="fade-up">{{"ABOUT_SUB_ITEMS.FAQ" | translate}}</h3>
  <div class="container">
    <accordion [isAnimated]="true">
      <accordion-group data-aos="fade-up"
        [heading]="translate.currentLang == 'ar' ? 'هل في إمكانية انى اكمل بعد سنتين ؟' : translate.currentLang == 'gr' ? 'Ist eine Fortsetzung für weitere zwei Jahre möglich?' : 'Is it possible to continue for an additional two years?'"
        [isOpen]="isFirstOpen">
        <p>{{ "POSSABILITY_OF_CONTINUING" | translate }}</p>
      </accordion-group>
      <accordion-group data-aos="fade-up"
        [heading]="translate.currentLang == 'ar' ? 'هل الشهادة معتمدة ولا لا ؟ هي اعتماد الشهادة منين ؟' : translate.currentLang == 'gr' ? 'Ist das Zertifikat akkreditiert oder nicht? Woher wird das Zertifikat akkreditiert?' : 'Is the certificate accredited or not? Where is the certificate accredited from?'">
        <p>{{ "CERTIFIED_CERTIFICATION" | translate }}</p>
      </accordion-group>
      <accordion-group data-aos="fade-up"
        [heading]="translate.currentLang == 'ar' ? 'هل الشهادة موثقة خارجيا؟ هي الشهادة معتمدة من الخارجية؟' : translate.currentLang == 'gr' ? 'Ist das Zertifikat international beglaubigt? Ist das Zertifikat vom Außenministerium akkreditiert?' : 'Is the certificate internationally authenticated? Is the certificate accredited by the Ministry of Foreign Affairs?'">
        <p>{{ "ACCREDIATED_CERTIFICATION" | translate }}</p>
      </accordion-group>
      <accordion-group data-aos="fade-up"
        [heading]="translate.currentLang == 'ar' ? 'هل في إمكانية للتوظيف ؟ المركز بتوظفني بعد ما اتخرج ؟' : translate.currentLang == 'gr' ? 'Besteht die Möglichkeit einer Anstellung? Bietet mir die Akademie nach meinem Abschluss Berufsmöglichkeiten?' : 'Is there a possibility for employment? Will the academy provide me with job opportunities after graduation?'">
        <p>{{ "POSSABILITY_OF_EMPLOYING" | translate }}</p>
      </accordion-group>
    </accordion>
  </div>
  <div class="more_questions d-flex justify-content-center mt-4">
    <button class="primary" [routerLink]="'about-academy'"
      [queryParams]="{item: 'conversations'}">{{"MORE_QUESTIONS" | translate}}</button>
  </div>
</div> -->
  <div class="contact">
    <div class="container">
      <div class="box">
        <div class="contact-us">
          <h4>{{ "KEEP_IN_TOUCH" | translate }}</h4>
          <p>{{ "ENTER_EMAIL_TO_JOIN" | translate }}</p>
          <form>
            <div class="email">
              <input
                type="text"
                class="form-control"
                placeholder="{{ 'EMAIL' | translate }}"
              />
              <button class="forward">
                <img src="assets/images/icons/forward.png" alt="forward" />
              </button>
            </div>
          </form>
        </div>
        <div class="img">
          <img src="assets/images/books.png" alt="books" />
        </div>
      </div>
    </div>
  </div>
</div>
