@import "../../abstracts/variables", "../../abstracts/mixins";
.welcoming-box {
  text-align: center;
  padding-top: 3em;
  background-image: url('/assets/images/shapes/academyShape.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
  h2 {
    color: $mainBlueColor;
    font-size: 2.5rem;
    font-weight: 600;
  }
  p {
    color: #363636;
    font-size: 1.5rem;
    margin: 1em 0;
  }
  .actions {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0;
    overflow: hidden;
    gap: 15px;
    img.iconic {
      width: 100%;
      transition: 0.5s all ease-in-out;
    }
    .firstPart, .fifthPart, .secondPart, .fourthPart, .thirdPart, .depart {
      display: flex;
      flex-direction: column;
      gap: 15px;
      overflow: hidden;
      border-radius: 16px;
      position: relative;
      .overlay {
        a { color: $white; }
      }
      &:hover:not(.secondPart, .fourthPart) {
        img.iconic {
          transform: scale(1.3);
        }
        .overlay {
          opacity: 1;
        }
      }
      img {
        height: 100%;
      }
    }
    .firstPart, .fifthPart {
      justify-content: center;
      width: 180px;
      height: 250px;
    }
    .secondPart, .fourthPart {
      width: 200px;
      & > div {
        overflow: hidden;
        border-radius: 16px;
        position: relative;
        height: 215px;
        &:hover {
          img.iconic {
            transform: scale(1.3);
          }
          .overlay {
            opacity: 1;
          }
        }
      }
    }
    .thirdPart { 
      width: 250px; 
      height: 500px;
      &.first {
        background-image: url();
      }
    }
    .overlay {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity:0;
      color: $white;
      font-size: $fontSize;
      padding: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  .departsImages {
    margin: 1em 0;
    img.iconic {
      width: 100%;
      transition: 0.5s all ease-in-out;
    }
    .depart {
      height: 500px;

    }
    .firstPart, .fifthPart, .secondPart, .fourthPart, .thirdPart, .sixthPart, .seventhPart, .eightthPart, .depart {
      display: flex;
      flex-direction: column;
      gap: 15px;
      overflow: hidden;
      border-radius: 16px;
      position: relative;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      .overlay {
        a { color: $white; }
      }
      &:hover:not(.secondPart, .fourthPart, .sixthPart, .eightthPart, .depart) {
        img.iconic {
          transform: scale(1.3);
        }
        .overlay {
          opacity: 1;
        }
      }
      img {
        height: 100%;
      }
    }
    .firstPart, .fifthPart, .seventhPart {
      justify-content: center;
      width: auto;
      height: 500px;
    }
    .secondPart, .fourthPart, .sixthPart, .eightthPart {
      width: 200px;
      & > div {
        overflow: hidden;
        border-radius: 16px;
        position: relative;
        height: 215px;
        width: 100%;
        &:hover {
          img.iconic {
            transform: scale(1.3);
          }
          .overlay {
            opacity: 1;
          }
        }
      }
    }
    .thirdPart { width: 250px; height: 500px; }
    .overlay {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity:0;
      color: $white;
      font-size: $fontSize;
      padding: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  .responsiveImages {
    flex-wrap: wrap;
    .depart {
      width: 100%;
      margin-bottom: 10px;
      & > img {
        height: 300px;
      }
    }
  }
  button.primary {
    @include buttons($secondGreenColor, $secondGreenColor, $white, $fontSize , $secondGreenColor, $white);
  }
  button.primary-outline {
    @include buttons(transparent, $mainBlueColor, $mainBlueColor, $fontSize, $white,$mainBlueColor);
  }
}
.academy_numbers {
  background-color: #181922;
  background-size: 100% 100%;
  padding: 3em 0;
  // margin-bottom: 2em;
  h4 {
    color: #FFF;
    margin-bottom: 1em;
    font-size: 35px;
    font-weight: bold;
  }
  .box {
    background-image: url('/assets/images/shapes/number-shapes.png');
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 1em;
    padding: 3em 0;
    .column-one, .column-two {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
    .column-two {
      margin-top: 2em;
    }
    .fact {
      background: #fff;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 6px 50px rgba(#000, 16%);
      width: 180px;
      text-align: right;
      font-weight: bold;
      .img { text-align: center; }
      span.num {
        font-size: 35px;
        font-weight: bold;
        color: $mainBlueColor;
      }
      span.title {
        font-size: 20px;
        color: $mainBlueColor;
      }
    }
  }
}
.videos {
  margin: 2.5em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 3em;
    h3 {
      color: #008043;
      font-size: 35px;
      font-weight: 700;
      margin: 0;
    }
    p {
      margin: 0;
      color: #484C52;
      font-size: 18px;
    }
  }
  .content {
    .videosCategoriesTabs {
      display: flex;
      flex-direction: column;
      gap: 1em;
      .tab {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 30px;
          transition: 0.3s;
          font-size: 17px;
          color: #B0B1B3;
          border-bottom: 3px solid #B0B1B3;
          font-weight: bold;
          &:hover {
            color: #58AC33;
          }
          &.active {
            color: #58AC33;
            border-color: #58AC33;
          }
        }
      }

      .videoTabcontent {
        height: 0;
        padding: 6px 12px;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
        overflow: hidden;
        .videoItem,
        .studentsVideoItem {
          border: 1px solid #D4D4D4;
          // margin: 0 10px;
          min-height: 170px;
          display: flex;
          align-items: center;
          padding: 10px 20px;
          border-radius: 20px;
          .video {
            display: flex;
            align-items: center;
            gap: 10px;
            .video-img {
              width: 220px;
              height: 120px;
              img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
              }
            }
            .video-content {
              width: 60%;
              h4 {
                color: #484C52;
                font-size: 20px;
              }
              p {
                margin: 0;
                color: #75797E;
                font-size: 16px;
              }
            }
          }
          &.active {
            background-color: #008043;
            .video {
              .video-content {
                h4, p {color: #FFF;}
              }
            }
          }
        }
        .videoIframe,
        .studentsVideoIframe {
          display: none;
          margin: 3em 0 0;
          iframe {
            width: 100%;
            height: 400px;
          }
        }
      }
      
      /* Fade in tabs */
      @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
      }
      
      @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
      }
    }
  }
}
.branches { margin-top: 5em; }

.photos {
  margin: 4em 2em;
  .header {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 0 2em;
    h3 {
      color: #008043;
      font-weight: bold;
    }
    p {
      color: #484C52;
    }
  }
  .gallery {
    display: flex;
    .categories {
      width: 30%;
      background: #30313A;
      padding: 20px;
      border-radius: 0 20px 20px 0;
      .tab {
        overflow: hidden;
        background: transparent;
        button {
          background-color: inherit;
          border: none;
          border-bottom: 3px solid #B0B1B3;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 16px;
          color: #B0B1B3;
          width: 50%;
          font-weight: bold;
          &:hover {
            color: #58AC33;
          }
          &.active {
            color: #58AC33;
            border-color: #58AC33;
          }
        }
      }
      
      .tabcontent {
        display: none;
        padding: 20px 0px;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
        .gallery-container {
          background: #181922;
          padding: 20px 10px;
          border-radius: 20px;
          .images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            .img.demo {
              width: 45%;
              opacity: 0.5;
              cursor: pointer;
              &.active { opacity: 1; }
              img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
              }
            }
          }
        }
      }
      
      /* Fade in tabs */
      @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
      }
      
      @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
      }
    }
    .galleryImgBox {
      width: 70%;
      border-radius: 20px 0 0 20px;
      .galleryImg {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px 0 0 20px;
        }
      }
    }
  }
}

.counter-section {
  height: 300px;
  margin: 100px auto;
  text-align: center;
}

.counter-section span {
  display: block;
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}


.partners {
  text-align: center;
  padding: 4em;
  h3 {
    color: $mainBlueColor;
    margin-bottom: 1em;
    font-weight: 600;
  }
  .partner {
    width: 140px;
    height: 140px;
    border: 1px solid $mainGreenColor;
    border-radius: 50%;
    padding: 16px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
.faq {
  padding: 4em;
  h3 {
    text-align: center;
    color: $mainBlueColor;
    margin-bottom: 1em;
    font-weight: 600;
  }
  p {
    color: #8D9598;
  }
}
.contact {
  .box {
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    padding: 3em;
    border-radius: 20px;
    background-repeat: no-repeat;
    .contact-us {
      h4 {
        color: $white;
        font-weight: 600;
        font-size: $fontSize + 14;
      }
      p {
        color: $white;
        font-size: $fontSize + 3;
      }
      .email {
        display: flex;
        padding: 7px 10px;
        background: #fff;
        border-radius: 20px;
        input {
          background: transparent;
          border: none;
          outline: none;
          box-shadow: none;
        }
        button.forward {
          background: $mainGreenColor;
          border: none;
          border-radius: 12px;
        }
      }
    }
    .img {
      width: 250px;
      height: 250px;
      img {
        width: 100%;
      }
    }
  }
}
@media (min-width: 992px) {
  .contact {
    .box {
      background-image: url('/assets/images/shapes/contact.png');
    }
  }
}
@media ( max-width: 991px) {
  .welcoming {
    .depart {
      width: 30% !important;
    }
  }
  .about {
    .logo {
      margin-bottom: 3em;
    }
  }
  .contact {
    margin-bottom: 4em;
    .box {
      background-color: $mainGreenColor;
      padding: 2em;
      .contact-us {
        width: 100%;
      }
      .img { display: none; }
    }
  }
  .academy_numbers {
    h4, p.directP { text-align: center;}
  }
}
@media ( max-width: 767px) {
  .welcoming {
    .depart {
      width: 45% !important;
    }
  }
  .photos {
    .photo {
      img {
        width: 100%;
      }
    }
  }
}
@media ( max-width: 576px) {
  .welcoming {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    button {
      width: 50%;
      min-height: 50px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 14px;
    }
    .depart {
      width: 100% !important;
    }
  }
  .faq, .partners {
    padding: 4em 1em;
  }
  .about {
    .intro {
      .video {
        width: 200px;
        height: 200px;
        bottom: -4em;
      }
    }
  }
  .partners {
    .partner {
      width: 50%;
      height: auto;
      margin: auto;
    }
  }
}










// .president_word {
//   .title {
//     margin-bottom: 1em;
//     h1 {
//       color: $mainBlueColor;
//       font-size: 35px;
//       font-weight: bold;
//       text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.16);
//       margin-bottom: 15px;
//     }
//     span {
//       display: block;
//       color: #363636;
//       font-size: 18px;
//     }
//   }
//   span.word {
//     font-size: 18px;
//     font-weight: bold;
//     color: #363636;
//     margin-bottom: 10px;
//     display: block;
//   }
//   p {
//     font-size: 16px;
//     color: #363636;
//     font-weight: bold;
//     line-height: 2.2em;
//     margin-bottom: 0;
//   }
//   .president_img {
//     img {
//       width: 100%;
//       height: 100%;
//     }
//   }
// }
// .about {
//   padding: 4em 1em;
//   .logo {
//     img { width: 100%; }
//   }
//   .intro {
//     position: relative;
//     .points {
//       position: absolute;
//       top: 0;
//       z-index: 0;
//       width: 230px;
//       height: 230px;
//       img {
//         width: 100%;
//         height: 100%;
//       }
//     }
//     .img {
//       padding-top: 3em;
//       z-index: 1;
//       position: relative;
//       img {
//         width: 100%;
//       }
//     }
//     .video {
//       background-image: url('/assets/images/about.png');
//       background-size: 100% 100%;
//       background-position: center;
//       position: absolute;
//       bottom: -3em;
//       width: 250px;
//       height: 250px;
//       z-index: 3;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       button {
//         background: #fff;
//         border: none;
//         border-radius: 50%;
//         display: flex;
//         justify-content: flex-end;
//         align-items: center;
//         flex-direction: row-reverse;
//         width: 60px;
//         height: 60px;
//         img {
//           width: 43px;
//           height: 35px;
//           transform: scale(-1, 1);
//           display: flex;
//           align-items: center;
//           text-align: center;
//           margin-top: 5px;
//         }
//       }
//     }
//   }
// }
// .mediaGallery {
//   text-align: center;
//   background-image: url('/assets/images/shapes/academyShape.svg');
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
//   background-position: 0 -5em;
//   position: relative;
//   h3 {
//     font-weight: 600;
//     color: $mainBlueColor;
//     padding: 2em;
//   }
//   .points {
//     position: absolute;
//     top: 7em;
//     left: 22em;
//     width: 230px;
//     height: 230px;
//     img {
//       width: 100%;
//       height: 100%;
//     }
//   }
//   .academy-gallery {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     gap: 1em;
//     margin-bottom: 1em;
//     .slides {
//       position: relative;
//       flex: 5;
//       width: 100%;
//     }
//     .mySlides {
//       width: 100%;
//       height: 360px;
//       img {
//         width: 100%;
//         height: 100%;
//       }
//     }
//     .mySlides,
//     .images {
//       img {
//         width: 100%;
//         border-radius: 10px;
//       }
//     }
//     .images {
//       flex: 1;
//       display: flex;
//       justify-content: space-between;
//       gap: 25px;
//       width: 100%;
//       .column {
//         width: 100%;
//         img {
//           cursor: pointer;
//           width: 100%;
//           height: 100%;
//         }
//       }
//     }
//     .prev,
//     .next {
//       cursor: pointer;
//       position: absolute;
//       top: 55%;
//       width: auto;
//       padding: 16px;
//       margin-top: -50px;
//       color: white;
//       font-weight: bold;
//       font-size: 20px;
//       border-radius: 0 3px 3px 0;
//       user-select: none;
//       -webkit-user-select: none;
//     }
//     .prev {
//       left: 0;
//       border-radius: 3px 0 0 3px;
//     }
//     .next { right: 0; }

//     /* On hover, add a black background color with a little bit see-through */
//     .prev:hover,
//     .next:hover {
//       background-color: rgba(0, 0, 0, 0.8);
//     }
//     .demo {
//       opacity: 0.6;
//     }

//     .active,
//     .demo:hover {
//       opacity: 1;
//     }
//   }
// }