<div class="page">
  <div class="partners-page">
    <div class="tab">
      <!-- <button id="defaultOpen" class="tablinks" (click)="openTab($event, '6OctoberBranches')">
        <div class="img">
          <img src="assets/images/partners/helwan.png" alt="">
        </div>
      </button> -->
      <button *ngFor="let partner of partners;let i = index" [id]="i == 0 ? 'partnerDefaultOpen' : null" class="tablinks" (click)="openTab($event, partner.divElement)">
        <div class="img">
          <img [src]="partner.img" alt="">
        </div>
      </button>
    </div>
    
    <div *ngFor="let partner of partners" [id]="partner.divElement" class="tabcontent">
      <div class="partner-details">
        <div class="info">
          <div class="header">
            <h3>شركاء النجاح</h3>
          </div>
          <div class="content">
            <span>{{partner.Partner}}</span>
            <p>{{partner.info}}</p>
          </div>
          <div class="footer">
            <div class="img">
              <img [src]="partner.img" alt="">
            </div>
            <div class="data">
              <span class="partner-name">{{partner.Partner}}</span>
              <!-- <span class="details">لوريم إيبسوم هو ببساطة نص شكلي</span> -->
            </div>
          </div>
        </div>
        <div class="img">
          <img src="assets/images/partnerDoctor.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>